/****************** GLOBAL ******************/

li{
    list-style-type: none;
}

a{
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

#spinner{
    background: #fff;
    width: 130px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 0;
    border: 1px solid #C3C3C3;
    border-radius: 7px;
    color: #828282;
    top: 50vh;
    position: absolute;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    z-index: 10;
}

/****************** HEADER ******************/

#header{
    width: 100%;
    background: rgb(116, 116, 116);
    position: relative;
}
#brand{
    color: #8DD7FA;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 11px 20px;
    display: inline-block;
}

#entity-title{
    color: rgb(126, 126, 126);
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 2px;
}
#entity-subtitle{
    text-transform: uppercase;
    color: rgb(179, 179, 179);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0px 0 12px 0;
}

.entity-key{
    font-weight: bold;
    color: rgb(118, 118, 118);
    font-size: 14px;
    text-transform: capitalize;
}

.entity-value{
    font-size: 14px;
    color: rgb(111, 111, 111);
}

/****************** ACCORDION ******************/

.panel{
    box-shadow: none;
}

.panel-group .panel{
    border: none;
}

.panel-title{
    font-weight: 400;
    color: #838383;
}

.panel-title>a:hover, .panel-title>a:focus{
    text-decoration: none;
    color: rgb(63, 124, 184);
}

.panel-default>.panel-heading{
    background: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-bottom: 1px solid #ddd;
}
.panel-default>.panel-heading div:before{
    content: "+";
    float: left;
    font-size: 23px;
    line-height: 12px;
    margin-right: 10px;
}
.panel-default>.panel-heading div.active:before{
    content: "-";
    float: left;
    font-size: 23px;
    line-height: 12px;
    margin-right: 10px;
}

.panel-group .panel+.panel{
    border: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top: none;
}

.reference-views {
    padding-left: 0;
}
.reference-views li{
    float: left;
}
.reference-views > li:nth-child(2){
    border-right: 1px solid black;
}

.reference-views .reference-view-title{
    padding: 3px 1px 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #8A8A8A;
}

.transpose-toggle{
    display: inline-block;
    font-weight: 400;
    padding: 1px 17px;
    border-radius: 3px;
    cursor: pointer;
    color: #B7B7B7;
    background: #fff;
    width: 81px;
}
.transpose-toggle.active{
    color: #2364AB;
    font-weight: bold;
}

.transpose-toggle:hover, .transpose-toggle:focus, .transpose-toggle:active{
    color: #2364AB;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-top: none;
    border-bottom: 1px solid #ddd;
    max-width: 500px;
    word-wrap: break-word;
}

/*** NESTED TABLES ***/

.panel-body{
    /*overflow-y: scroll;*/
}
.table.nested .panel-body{
    /*overflow-x: scroll;*/
}
tbody{
        display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-wrapper{
    height: 400px;
    overflow: auto;
    position: relative;
    width: 100%;
}
.table.nested{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.table.nested>thead>tr>th, .table.nested>tbody>tr>th, .table.nested>tfoot>tr>th, .table.nested>thead>tr>td, .table.nested>tbody>tr>td, .table.nested>tfoot>tr>td{
    border-right: 1px solid #ddd;
}

.table-striped>tbody>tr:nth-child(odd){
    background: #F1F1F1;
}

.table-reference .entity-key{
    font-size: 14px;
    text-transform: capitalize;
    background-color: rgb(116, 116, 116);
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: normal;
    padding: 10px 20px !important;
}

/*** IMAGES ***/


.sy-slide > a > img {
    width: auto;
    margin: 0 auto 40px;
    height: 500px;
}
.slippry_box{
    height: 500px;
    margin-right: 1%;
    padding-right: 1%;
    border-right: 1px solid #868686;
    width: 50%;
}

.slippry_box.previews{
    height: 600px;
}

.slippry_box, #thumbnail-box{
    float: left;
    margin: 10px 0 30px;
}
#thumbnail-box{
    max-height: 500px;
    overflow: scroll;
}

.sy-pager li{
    width: 10px;
    height: 10px;
}
.sy-pager li.sy-active a{
    background: #8DD7FA;
}

.thumbs li{
    float: left;
    width: 80px;
    height: 110px;
    margin-right: 19px;
}
.thumbs img{
    width: 100%;
    border: 1px solid #C1C1C1;
    padding: 5px;
    border-radius: 5px;
}

/*** FILES ***/
.file{
    text-align: center;
    width: 140px;
}
.file-preview-icon{
    width: 90px;
    display: inline-block;
    margin-bottom: -10px;
}

.file-size{
    color: #9E9E9E;
    letter-spacing: 0.5px;
    font-size: 13px;
}

/*** PREVIEWS ***/

.preview{
    margin: 20px 0;
}

.preview-filename{
    display: block;
    margin-top: 15px;
}

.preview-content{
     width: 100%; 
     height: 390px;
}

.enlarge{
    background: #7CBAD8;
    color: #fff;
    padding: 9px 11px;
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
}
.enlarge:hover{
    color: #fff;
    background: #8DD7FA;
}

/** ASSOCIATIONS **/
.entity-terms{
    padding: 0;
}
.entity-term{
    display: inline-block;
    background-color: #406C90;
    color: #fff;
    padding: 7px 16px;
    border-radius: 5px;
    font-size: 11px;
    cursor: default;
}

/****************** NOT FOUND ******************/
#not-found{
    text-align: center;
    color: #868686;
}

#not-found div{
    display: inline-block;
}

#not-found-title{
    font-size: 33px;
    margin-top: 41px;
}

#not-found-subtitle{
    font-size: 16px;
    width: 510px;
    font-weight: 300;
    margin-top: 10px;
}

#not-found .glyphicon{
    font-size: 230px;
    color: #78B8D6;
    margin-top: 70px;
}
