<h2>Records</h2>
<div ng-controller="recordsetController">
    <!-- filters -->
    <div class="col-md-8">
        <p>Sort by:
            <select ng-model="vm.sortby" ng-init="vm.sortby=''" ng-change="sort()">
                <option value="">DEFAULT</option>
                <option ng-repeat="column in vm.columns" value="{{ column }}">{{ column }}</option>
            </select>
            <!-- sort order -->
            <span ng-show="vm.sortOrder=='asc'" ng-click="toggleSortOrder()" class="glyphicon glyphicon-sort-by-attributes toggler"></span>
            <span ng-show="vm.sortOrder=='desc'" ng-click="toggleSortOrder()" class="glyphicon glyphicon-sort-by-attributes-alt toggler"></span></p>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th ng-repeat="name in vm.header">{{name}}</th>
            </tr>
        </thead>
        <tr ng-repeat="row in vm.rowset">
            <td ng-repeat="name in vm.header">{{row[name]}}</td>
        </tr>
    </table>
</div>
