.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}

#record2-bookmark-container {
    text-align: right;
    top: 20px;
}

.more-results-link {
    display: block;
    width: inherit;
    max-width: inherit;
    padding-bottom: 5px;
}
