.choice-picker {
  .picker-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .chaise-search-box {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    .more-filters {
      margin-left: 5px;
      font-style: italic;

      .fa-triangle-exclamation {
        margin-left: 1px;
        font-size: 1.2em;
      }
      .more-filters-text {
        margin-left: 3px;
      }

    }

    .button-container {
      margin-top: auto;
      height: 20px;

      .retry-btn {
        padding: 0;
      }

      .show-more-btn {
        padding: 0;
        float: right;
      }
    }
  }

  .error-container {
    button {
      margin-right: 5px;
    }
  }
}
