.choice-picker {
  .picker-container {
    height: 100%;

    .chaise-search-box {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    .button-container {
      height: 20px;

      .retry-btn {
        padding: 0;
      }

      .show-more-btn {
        padding: 0;
        float: right;
      }
    }
  }
}
