@use 'sass:map';
@use 'variables';

.side-panel-container {
  .side-panel-heading-menu {
    position: absolute;
    top: -37px;
    left: 125px;
  }
}

.faceting-columns-container {
  // disable the animation from the accordion
  .accordion-collapse.collapsing {
    transition: none !important;
  }

  .panel-group {
    margin-bottom: 20px;

    .facet-item-container {
      position: relative;

      .move-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 11px 10px 11px 10px;
        z-index: 5;
        width: fit-content;

        &:hover{
          cursor: grab;
        }

        i {
          color: rgb(51, 51, 51, 0.47);
        }
      }
    }

    // each facet panel
    .facet-panel {
      border-radius: 0;
      border: 1px solid map.get(variables.$color-map, 'border');

      // active style
      &.active,
      &:hover {
        border-color: rgb(51, 122, 183) !important;
        animation-duration: 4s;

        +.facet-panel {
          margin-top: 0;
          border-top: 0;
        }
      }

      :focus {
        outline: none;
      }

      // override bootstrap default
      +.facet-panel {
        margin-top: -1px;
        // border-top: 0;
      }

      .accordion-button {
        // override bootstrap default
        height: 40px;
        border: 0;
        border-radius: 0;
        padding: 10px 5px;
        // reserve enough space for the spinner and drag icons:
        padding-right: 40px;
        text-transform: none;
        position: relative;
        // Overriding accordian-button css to align right angle bracket icon to left
        flex-direction: row-reverse;
        justify-content: flex-end;

        background-color: map.get(variables.$color-map, 'table-header-background');
        color: map.get(variables.$color-map, 'black');

        // overriding the default border-radius that bootstrap is adding.
        &.collapsed {
          border-radius: 0;
        }

        // Overriding accordian-button css to align right angle bracket icon to left
        &::after {
          margin: 0px 8px;
          background-image: none;
          content: '\f054'; // fa-solid fa-chevron-right
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          transform: unset;
          font-size: 1.25rem;
          height: unset;
        }

        &:not(.collapsed)::after {
          content: '\f078'; // fa-solid fa-chevron-down
        }

        &:focus {
          box-shadow: none;
          // border-color: rgba(0,0,0,.125);
        }

        .toggle-icon {
          &.fa-chevron-right {
            margin-right: 3.4px;
            margin-left: 4px;
          }

          &.fa-chevron-down {
            margin-right: 3px;
          }
        }

        .facet-header-icon {
          position: absolute;
          // right: 5px;
          right: 22px;

          .facet-spinner {
            color: #828282;
            // NOTE: we should not customize the width/height since it causes wobbling effect
            border-width: .2em;
          }
        }
      }

      .accordion-body {
        padding: 10px;
      }
    }

    .facet-header-text {
      font-size: 1.25rem;
    }

    // for version 1
    // .facet-group-header {
    //   height: 40px;
    //   padding: 10px 5px;
    //   padding-right: 40px;
    //   margin: 0;
    //   font-size: 1.25rem;
    // }

  }

  .facet-groups {
    .facet-group-item {
      --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 2L11 8L5 14'/%3E%3C/svg%3E");
      --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 2L11 8L5 14'/%3E%3C/svg%3E");
      --bs-accordion-btn-icon-transform: rotate(90deg);

      border-radius: 0;
      border-left: 0;
      border-right: 0;

      &:first {
        border-top: 0;
      }

      &:focus {
        outline: none;
      }

      .facet-group-item-header .accordion-button {
        padding: 10px 5px 5px 5px;
        color: map.get(variables.$color-map, 'black');
        background-color: map.get(variables.$color-map, 'white');
        box-shadow: none;
        border-radius: 0;
      }

      .facet-group-item-body {
        padding: 0;
      }
    }
  }

  // .facet-group-header-btn .accordion-button {
  //   height: 40px;
  //   border: 0;
  //   border-radius: 0;
  //   padding: 10px 5px;
  //   padding-right: 40px;
  //   text-transform: none;
  //   position: relative;
  //   flex-direction: row-reverse;
  //   justify-content: flex-end;
  //   background-color: #d0e0f0;
  //   color: #333;
  // }

  .range-picker {
    .facet-range-input {
      margin: 12px 0;
    }
  }
}
