@use 'sass:map';
@use 'variables';

.faceting-columns-container {
  // disable the animation from the accordion
  .accordion-collapse.collapsing {
    transition: none !important;
  }

  .panel-group {
    margin-bottom: 20px;

    .facet-item-container{
      margin-top: -21px;
      .move-icon{
        position: relative;
        left: 85%;
        top: 31px;
        padding-left: 15px;
        z-index: 5;
        width: fit-content;
      }  
    }
    

    // each facet panel
    .facet-panel {
      border-radius: 0;
      border: 1px solid map-get(variables.$color-map, 'border');

      // active style
      &.active,
      &:hover {
        border-color: rgb(51, 122, 183) !important;
        animation-duration: 4s;

        +.facet-panel {
          margin-top: 0;
          border-top: 0;
        }
      }

      :focus {
        outline: none;
      }

      // override bootstrap default
      +.facet-panel {
        margin-top: -1px;
        // border-top: 0;
      }

      .accordion-button {
        // override bootstrap default
        height: 40px;
        border: 0;
        border-radius: 0;
        padding: 10px 5px;
        text-transform: none;
        position: relative;
        // Overriding accordian-button css to align right angle bracket icon to left
        flex-direction: row-reverse;
        justify-content: flex-end;

        background-color: map-get(variables.$color-map, 'table-header-background');
        color: map-get(variables.$color-map, 'black');

        // Overriding accordian-button css to align right angle bracket icon to left
        &::after {
          margin: 0px 8px;
          background-image: none;
          content: '\f054'; // fa-solid fa-chevron-right
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          transform: unset;
          font-size: 1.25rem;
          height: unset;
        }

        &:not(.collapsed)::after {
          content: '\f078'; // fa-solid fa-chevron-down
        }

        &:focus {
          box-shadow: none;
          // border-color: rgba(0,0,0,.125);
        }

        .toggle-icon {
          &.fa-chevron-right {
            margin-right: 3.4px;
            margin-left: 4px;
          }

          &.fa-chevron-down {
            margin-right: 3px;
          }
        }

        .facet-header-icon {
          position: absolute;
          right: 5px;

          .facet-spinner {
            color: #828282;
            // NOTE: we should not customize the width/height since it causes wobbling effect
            border-width: .2em;
          }
        }
      }

      .accordion-body {
        padding: 10px;
      }
    }

    .facet-header-text {
      font-size: 1.25rem;
    }

  }

  .range-picker {
    .facet-range-input {
      margin: 12px 0;
    }
  }
}
