@import "variables";

.chaise-input-control {
    .input-switch {
        padding-right: 0;
        height: auto;
    }

    .input-switch-clear {
        position: absolute;
        top: 2px;
        right: 6px;
        cursor: pointer;
    }
}

.input-switch-datetime{
    .chaise-input-control{
        .input-switch-clear{
            top: -2px;
        }
    }
}

.input-switch-datetime {
    flex-direction: column;

    .chaise-input-control {
        min-height: auto;
    }

    .chaise-input-control:first-child {
        margin-bottom: 5px;
    }
}

.input-switch-date, .input-switch-datetime {
    .date-input-show-clear, .time-input-show-clear{
        margin-right: 10px;
    }
}


.chaise-firefox .input-switch-date.chaise-input-control.has-feedback,
.chaise-firefox .input-switch-time.chaise-input-control.has-feedback {
    padding-right: $input-remove-width;
}

.input-switch-color {
  position: relative;
  .hex-sign {
    color: $placeholder-color;
  }

  .chaise-color-picker-preview {
    width: 40px;
    height: 28px;
    margin-left: -10px;
    margin-right: 5px;

    &.no-color {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
    }

    // the one in the popover is using the button styles
    &:not(.chaise-btn) {
      border: 0;
      border-radius: 3px 0 0 3px;
      cursor: pointer;
    }
  }
}

.chaise-color-picker-popup {
  background-color: white;
  padding: 10px;

  // change the default spacing of color picker
  .react-colorful {
    height: 184px;
    width: 184px;

    .react-colorful__pointer {
      height: 16px;
      width: 16px;
    }
    .react-colorful__hue {
      height: 14px;
    }
  }

  .popover-controls {
    input {
      width: 100%;
      margin-top: 5px;
    }
    .popover-buttons {
      margin-top: 5px;
      margin-left: 10px;
      display: flex;
      justify-content: space-between;

      .chaise-btn {
        height: 25px !important;
        padding: 2px 10px;
        width: 55px !important;
      }
    }
  }
}

.input-switch-boolean {
  // remove the default bootstrap caret
  .dropdown-toggle::after {
    content: none !important;
  }

  // make sure the menu expands the whole row
  .dropdown-menu {
    width: 100%;
  }
}
