@import "variables";

.chaise-input-control {
    .input-switch {
        padding-right: 0;
        height: auto;
    }

    .input-switch-clear {
        position: absolute;
        top: 3px;
        right: 6px;
        cursor: pointer;
    }
}

.input-switch-datetime {
    flex-direction: column;

    .chaise-input-control {
        min-height: auto;
    }

    .chaise-input-control:first-child {
        margin-bottom: 5px;
    }
}

.chaise-firefox .input-switch-date.chaise-input-control.has-feedback,
.chaise-firefox .input-switch-time.chaise-input-control.has-feedback {
    padding-right: $input-remove-width;
}