@use 'sass:map';
@use 'variables';

body>.container {
  min-height: 100%;
  position: relative;
}

.content {
  min-height: 100%;
  position: relative;
  padding-top: 70px;
}

// navheader includes navbar as well as banners
#navheader {
  z-index: map-get(variables.$z-index-map, 'navbar');
  position: relative; // for z-index to work, position must be non-static
}

.navbar-inverse {
  background-color: map-get(variables.$color-map, 'navbar-inverse');
  border-color: map-get(variables.$color-map, 'navbar-inverse');
}

.navbar-inverse .navbar-nav>div>a {
  color: map-get(variables.$color-map, 'navbar-inverse-menu-link');
}

.navbar-inverse .navbar-nav>.show>a {
  // use #333 for this since navbar is #000 (even darker)
  background-color: map-get(variables.$color-map, 'black');
}

// matches links at top level and dropdowns at top level
.navbar-inverse .navbar-nav>a:hover,
.navbar-inverse .navbar-nav>div>a:hover {
  background-color: map-get(variables.$color-map, 'navbar-dropdown-submenu-icon');
}

.navbar-inverse .navbar-nav.navbar-right>div>a {
  color: map-get(variables.$color-map, 'navbar-inverse-link');
}

.navbar-inverse .navbar-brand {
  color: map-get(variables.$color-map, 'navbar-inverse-link');
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  margin-right: 0px;
}

#live-btn {
  margin-right: 0px; // offset marging-right: -15px from navbar-right
  color: map-get(variables.$color-map, 'navbar-inverse-link');
  padding: 15px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#login-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


.navbar-inverse .navbar-nav.navbar-right>div>a:hover {
  color: map-get(variables.$color-map, 'navbar-inverse-menu-link-hover');
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #4D4D4D;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #4D4D4D;
}

.navbar-inverse .navbar-text {
  color: #FFF;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
  color: #fff;
}

// positioning of searh box in navbar
.rid-search {
  margin-right: 0px; // offset marging-right: -15px from navbar-right

  .chaise-search-box {
    padding: 13px 15px;
  }

  .chaise-input-control-sm {
    width: 100px;
    border-color: map-get(variables.$color-map, 'black');
    border-radius: 4px 0px 0px 4px;
  }
}

#rid-search-input {
  background-color: map-get(variables.$color-map, 'table-striped-background');
  overflow-x: auto;
}

#mainnav {
  border-radius: 0;
}

@media (max-width: 992px) {
  .navbar-collapse {
    overflow: auto;
    display: grid;
  }

  #rid-search-input {
    // Setting max-width for search input on smaller screens
    max-width: 125px;
  }
}

.navbar {
  margin-bottom: 0;
  padding: 0px 5px 0px 20px;
  min-height: 50px;
  flex-wrap: wrap;
}

// div replaces li, a is the case with no dropdown
.navbar-menu-options>div,
.navbar-menu-options>a {
  position: relative;
  display: block;
}

.navbar .navbar-nav .nav-link {
  position: relative;
  display: block;
  padding: 15px 15px !important; // so the property overrides a more specific rule from bootstrap
  line-height: 20px;
  color: map-get(variables.$color-map, 'navbar-inverse-menu-link');
}

.chaise-navbar-banner-container {
  margin-bottom: 0;
  padding: 10px 20px 10px 20px;
  background-color: map-get(variables.$color-map, 'navbar-banner');
  text-align: center;

  // use the normal font instead of light and make it bigger
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;

  .close {
    padding-right: 15px;

    // button.close from close.less:32
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;

    // close from close.less:11
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: map-get(variables.$color-map, 'black');
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
  }
}


/* This value is in bootstrap for navbar-collapse but it isn't getting applied so its been added here */
.navbar-collapse {
  max-height: 340px;
}

/*
modify the behavior of dropdown menu for navbar
we have to wrap all the rules in navbar specific tag, otherwise all the
dropdowns in bootstrap will be affected.
ideally most of the other rules in this file should be wrapped in this tag,
but since custom-css rules are written based on that, I didn't change them.
TODO we should be able to simplify the rules and also investigate whether
     we want to move other rules to be in this wraper.
*/
nav.navbar {

  @media (max-width: 992px) {
    .custom-dropdown-submenu {
      // Unsetting the previous position:fixed for smaller screens (bootstrap takes care of responsiveness)
      position: unset !important;
    }
  }

  // Vertical navbar
  @media (max-width: 768px) {
    .child-opened>ul {
      padding-left: 3%;
    }

    // !important is hacky but had to be used as we override width via js for horizontal navbar and this gets overriden too
    .dropdown-menu,
    .navbar-nav ul.dropdown-menu,
    .dropdown-menu>li>a,
    .dropdown-menu>li>div>div>a {
      max-width: none !important;
      width: auto !important;
    }

  }

  // Horizontal navbar
  @media (min-width: 768px) {
    .child-opened {
      background-color: map-get(variables.$color-map, 'table-header-background');
    }

    .navbar-header {
      float: left;
    }

    .navbar-nav {
      float: right;
      margin: 0;

      &.navbar-menu-options {
        margin-right: auto;
        float: left;
      }

      li {
        float: left;

        a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .navbar-nav div.dropdown-menu {
      // Adding max-height when screen size is small,
      // Made important to override maxHeight set by JS (which is not relevant in small screens)
      max-height: unset !important;
      padding-left: 16px;

      // Adding min-width and box-shadow so that submenus are differentiable
      min-width: 250px;
      background: transparent;
    }

    .dropdown-menu>a,
    .dropdown-menu>div>a {
      color: map-get(variables.$color-map, 'dropdown-menu-anchor');

      &:focus,
      &:hover {
        color: map-get(variables.$color-map, 'white');
        background: transparent;
      }
    }

    // Menu Toggler css in smaller screens
    .navbar-toggler {
      border: 1px solid map-get(variables.$color-map, 'white');
      padding: 8px;
      margin-right: 16px;
      color: map-get(variables.$color-map, 'white');

      &:hover {
        background-color: map-get(variables.$color-map, 'black');
      }

      &:focus {
        box-shadow: none;
        background-color: map-get(variables.$color-map, 'black');
      }
    }
  }

  @media (min-width: 992px) {

    // Display is set to block in bigger screens to align login and search input
    .navbar-collapse.collapse {
      display: block !important;
    }

    div.dropdown-submenu.show {
      background-color: map-get(variables.$color-map, 'navbar-collapsed-submenu');
    }
  }
}
