@import "variables";

.range-input-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -5px;

    .range-input-form{
        display: flex;
        flex-direction: row;
        align-items: end;
        width: 100%;
        flex-wrap: wrap;
    }

    .range-input {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        margin-right: 5px;
        flex-shrink: 0;

        &.numeric-width {
            min-width: 100px;
            max-width: 140px;
        }

        &.date-width {
            min-width: 140px;
            max-width: 180px;
        }
      
        &.time-width {
            min-width: 150px;
            max-width: 180px;
        }

        label {
            font-weight: 700;
        }
    }

    .range-input-submit-btn {
        margin-top: 5px;
    }
}

.range-input-error {
    color: $danger-color;
}
