.range-input-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -5px;

    .range-input {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        label {
            font-weight: 700;
        }
    }

    .range-input-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .range-input-datetime {
        flex-direction: column;

        #range-to-val-date,
        #range-from-val-date {
            margin-bottom: 5px;
        }
    }



    .range-input-clear {
        position: absolute;
        right: 6px;
        cursor: pointer;
    }

    .range-input {
        margin-right: 5px;
        flex-shrink: 0;
        max-width: 180px;

        &.numeric-width,
        &.date-width {
            min-width: 140px;
        }

        &.time-width {
            min-width: 160px;
        }
    }

    .range-input-submit-btn {
        margin-top: 5px;
    }
}

.range-input-error {
    color: #a94442;
}