@import "helpers";
@import "variables";

.record-container {
    $record-table-cell-padding: 5px;
    $record-table-cell-border-width: 1px;
    $space-between-related-sections: 5px;
    $row-focus-border-width: 2px;

    /*
     * In case of related entities, the accordion icon is adding this much space,
     * so we're making sure the rest of titles and content are aligned with it.
     */
    $record-header-padding-left: 40px;
        
    .record-display {
        .inline-table-display {
            margin-top: -25px;
        }

        > table {
            // prevents the content in record-table from pushing off the side of page
            table-layout: fixed;
            width: 100%;

            // reduce the spacing of table cells (overrides bootstrap default)
            > tbody > tr {
                border-top: $record-table-cell-border-width solid $border-color;
                margin: 0px;

                > td {
                    border-top: 0;
                    padding: $record-table-cell-padding;

                    &.entity-value {
                        overflow-wrap: break-word;
                        border-bottom-width: 0px;
                    }
                }

                // when the column header is hidden, align content with the
                // rest of headers
                &.hidden-header {
                    > .entity-value {
                        padding-left: $record-header-padding-left;
                    }
                }

                &.row-focus{
                    // row-focus will change the border top and bottom size,
                    // so we should adjust that and account for the default border
                    td {
                        padding-top: $record-table-cell-padding - ($row-focus-border-width - $record-table-cell-border-width);
                        padding-bottom: $record-table-cell-padding - ($row-focus-border-width - $record-table-cell-border-width);

                        // if the size of row-focus is bigger than the current border width,
                        // we should adjust the content of inline tables so the whole page doesn't shift
                        @if $row-focus-border-width > $record-table-cell-border-width {
                            .inline-table-display {
                                padding-bottom: $row-focus-border-width;
                            }
                        }
                    }

                    // when there are two of them, the bottom should use the default padding
                    + tr.row-focus td {
                        padding-top: $record-table-cell-padding;
                    }
                }
            }

            .entity-key {
                padding-left: $record-header-padding-left;
                min-width: 150px;
                border-bottom-width: 0px;
            }
        }
    }
}