@use 'sass:map';
@use 'variables';

.chaise-body {
  .recordset-container {
    // override the minimum width of side-panel (written the same way as app.scss)
    .top-panel-container .top-flex-panel .top-left-panel.open-panel,
    .bottom-panel-container .side-panel-resizable.open-panel {
      min-width: variables.$recordset-facet-panel-min-width;
    }

    .top-panel-container {
      .top-flex-panel .top-left-panel div.panel-header {
        bottom: 10px;
        display: block;
      }

      .top-right-panel {
        .show-filter-panel-btn {
          padding: 0;
          margin-bottom: 10px;
        }

        .recordset-controls-container {
          margin-bottom: 10px;

          .main-search-container {
            max-width: 400px;
          }

          // @include helpers.for-predefined-size(sm) {
          //   .main-search-container {
          //     min-width: 400px;
          //   }
          // }
        }

        .chiclets-container {
          margin-bottom: 10px;

          .filter-chiclets {
            padding-right: 250px;
          }

          .filter-chiclet {
            max-width: 350px;
            margin-right: 5px;
            margin-bottom: 5px;

            /**
             * override the default behavior of button and button group
             * without these the buttons would become misaligned and ellipsis logic won't work
             */
            align-items: unset;
            .chaise-btn {
              display: inline-block;
            }

            .chaise-btn:focus {
              background-color: map-get(variables.$color-map, 'white');
            }

            .chaise-btn.chaise-btn-secondary {
              border-color: map-get(variables.$color-map, 'border');
              height: 25px;
              min-width: 25px;
              padding: 2px 5px;
            }

            .chaise-btn.filter-chiclet-remove {
              padding: 3px;
            }

            .chaise-btn.filter-chiclet-title {
              border-right: 0;
              max-width: 150px;
              text-overflow: ellipsis;
              overflow: hidden;
              padding-right: 1px;
              text-align: left;
              white-space: nowrap;

              // only add the colon if the title exists
              & ~ .chaise-btn.filter-chiclet-value {
                border-left: 0;

                position: relative;

                &:before {
                  content: ':';
                  position: absolute;
                  left: 0;
                }
              }
            }

            .chaise-btn.filter-chiclet-value {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              max-width: 200px;
              padding-left: 7px;
              padding-right: 4px;
            }

            span {
              color: map-get(variables.$color-map, 'black');
              cursor: default;
            }

            button span {
              color: map-get(variables.$color-map, 'primary');
              cursor: pointer;
            }
          }

          .clear-all-filters {
            padding: 0;
            height: unset;
            margin-bottom: 5px;

            // because of the order of events, this button might
            // show up a few seconds before the filter chiclets.
            // this rule will make sure that is not the case.
            &:only-child {
              display: none;
            }
          }
        }

        .recordset-main-search {
          min-width: 250px;
        }
      }
    }
  }

  // must be here, since it applies to the modal as well
  .recordset-title-container.title-container {
    margin: 0;
    padding-bottom: 20px;

    h1 {
      margin: 0;
    }

    .recordset-title-buttons.title-buttons {
      padding-left: 20px;
      min-width: 220px;

      .search-popup & {
        min-width: 190px;
      }

      .foreignkey-popup & {
        min-width: 95px;
      }
    }
  }

  .modal-header-context {
    color: map-get(variables.$color-map, 'modal-header-context');

    .modal-header-context-separator {
      padding: 0 0.3em;
      font-size: 0.8em;
    }
    .modal-header-context-colon {
      padding-left: 1px;
    }
  }

  .side-panel-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  .recordset-container {
    .top-panel-container {
      .top-flex-panel .top-left-panel .panel-header {
        .pull-left {
          float: left;
        }

        .pull-right {
          float: right;
        }
      }
    }

    // when spinner is displayed, we have to adjust the margin-top
    .main-body.with-spinner {
      margin-top: variables.$main-spinner-height * -1;
    }
    .recordset-main-spinner-container {
      // show the tooltip in the middle of the container
      top: calc(50% - variables.$main-spinner-height);
    }
  }
}
