@use 'sass:map';
@use 'variables';
@use 'helpers';

// From _recordedit-app.scss
#recordedit .app-container {
  .btn-sm[data-handler="bootstrap-markdown-cmdRidLink"] {
    padding: 5px 3px;
  }

  .form-controls {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;

    .add-forms {
      width: auto;
      margin-left: auto;

      .add-rows-input {
        width: 50px;
        padding-left: 5px;
      }
    }
  }

  // TODO not used and should be added (horizontal scroll in recordedit
  @mixin shift-above-edit-forms() {
    height: 15px;
    position: fixed;
    z-index: map-get(variables.$z-index-map, 'top-horzontal-scroll-wrapper');
    margin-top: -15px;
  }

  .main-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    padding-top: 15px;
    // padding at bottom of page so edit form isn't touching the bottom of viewport
    // padding instead of margin so it doesn't mess with scrollable area
    padding-bottom: 40px;

    .entity-key-column {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .entity-key {
        width: variables.$chaise-caption-column-width;
        border-left: variables.$chaise-RE-border-width solid map-get(variables.$color-map, 'recordedit-border');
        border-right: variables.$chaise-RE-border-width solid map-get(variables.$color-map, 'recordedit-border');
        border-bottom: variables.$chaise-RE-border-width solid map-get(variables.$color-map, 'recordedit-border');
        // margin-left: 10px;
        background: white;
        padding: 8px;

        min-height: 47px;
        height: 47px;

        flex: none;
      }

      .toggle-select-all-btn {
        float: right;
      }
    }

    .recordedit-form {
      position: relative;
      display: flex;
      flex-direction: column;
      color: map-get(variables.$color-map, 'black');
      background-color: map-get(variables.$color-map, 'white');
      height: 100%;
      width: 100%;
      min-width: 250px;
      overflow-x: auto;

      .form-header-row {
        display: flex;
      }

      .form-inputs-row {
        display: flex;
        flex-direction: column;
        // make sure the form is stretched in one-input case
        min-width: 100%;
        // make sure the width is the same as the scrollable width in multi-input case
        width: fit-content;
        width: -moz-fit-content;
        width: -webkit-fit-content;

        &.highlighted-row {
          background-color: map-get(variables.$color-map, 'recordedit-highlighted-row');
        }

        .inputs-row {
          display: flex;
          flex-direction: row;
        }

        .select-all-row {
          width: 100%;

          .select-all-text, .select-all-input, .select-all-buttons {
            float: left;
          }

          .select-all-text {
            padding: 4px;
            border: 1px solid transparent;
          }

          .select-all-input {
            width: 250px;
            margin: 0px 5px;
          }
        }
      }

      // form header and form inputs
      .entity-value {
        // make sure the inputs take up as much space as they can
        // and are the same size
        flex: 1 1 0;
        position: relative;

        .column-permission-overlay {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: map-get(variables.$z-index-map, 'recordedit-column-cell-spinner-backdrop')
        }

        .column-permission-warning {
          margin: 0;
          padding: 5px;
          color: map-get(variables.$color-map, 'recordedit-column-permission-warning');
        }

        // displayed while loading the fk data
        .column-cell-spinner-container {
          .column-cell-spinner-backdrop {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: map-get(variables.$z-index-map, 'recordedit-column-cell-spinner-backdrop');
            background: map-get(variables.$color-map, 'disabled-background');
            opacity: 0.55;
          }
          .spinner-border-sm {
            left: 50%;
            top: 15px;
            position: absolute;
            z-index: map-get(variables.$z-index-map, 'recordedit-column-cell-spinner');
          }
        }
      }

      .entity-value,
      .match-entity-value {
        word-wrap: break-word;
        min-width: 250px;
        border-right: variables.$chaise-RE-border-width solid map-get(variables.$color-map, 'recordedit-border');
        border-bottom: variables.$chaise-RE-border-width solid map-get(variables.$color-map, 'recordedit-border');

        // border-left: none;
        // border-top: none;

        border-radius: 0;
        min-height: 47px;
        padding: 8px 10px;
      }

      // only form inputs
      .column-cell {
        border-left: none;
        border-top: none;
        border-right: variables.$chaise-RE-border-width solid map-get(variables.$color-map, 'recordedit-border');
        border-bottom: variables.$chaise-RE-border-width solid map-get(variables.$color-map, 'recordedit-border');
        border-radius: 0;
        // height: 47px;
        min-height: 47px;
        padding: 8px 10px;

        .chaise-input-control.column-cell-input {
          border: 1px solid map-get(variables.$color-map, 'border');
          border-radius: 4px;
          padding: 0 10px;
          display: flex;
          align-items: center;

          .input-switch {
            height: auto;
          }
        }
      }
    }

    // in both entity-key-column and form
    .form-header {
      height: 47px;
      border-top: variables.$chaise-RE-border-width solid map-get(variables.$color-map, 'recordedit-border');
      color: map-get(variables.$color-map, 'disabled');

      .form-header-buttons-container {
        float: right;
        .remove-form-btn {
          padding: 1px 7px 0px 7px;
        }

        .disabled-row-icon {
          margin-right: 10px;
          font-size: 1.3em;
          vertical-align: middle;
        }
      }
    }
  }

  .modal-popup {
    width: 100%;
    margin-bottom: 0px;
  }

  .record-number {
    font-size: 14px;
    margin-left: 10px;
    color: map-get(variables.$color-map, 'disabled');
  }

  .chaise-input-control[readonly] {
    background-color: map-get(variables.$color-map, 'white');
    opacity: 1;
  }

  textarea,
  .disabled-textarea {
    resize: vertical;
    height: auto;
  }

  .input-timestamptz {
    min-width: 112px;
  }

  .adjust-boolean-dropdown {
    border-top: 0;
  }

  @-moz-document url-prefix() {
    #form-edit > table > tbody > tr > td:first-child {
      margin-top: -1px;
    }
  }

  .resultset-tables {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  /****************** Upload modal css *****************/

  // .progress-percent {
  //   font-weight: bold;
  //   margin-top: -25px;
  //   margin-left: 50%;
  // }

  // .inner-progress-percent {
  //   margin-top: -18px;
  //   font-size: 12px;
  // }

  // table.upload-table {

  // }

  // table.upload-table > tbody {
  //   border: none;
  // }

  // table.upload-table > tbody > tr > td:first-child {
  //   padding-left: 20px;

  // }

  // table.upload-table > tbody > tr > td:last-child {
  //   width: 40%;
  // }

  // table.upload-table > tbody > tr > td:nth-child(2) {
  //   padding-left: 0px;
  //   padding-right: 0px;
  // }

  // table.upload-table > tbody > tr:last-child > td {
  //   border-bottom: 1px solid $disabled-background-color;
  //   background-color: white;
  // }

  // table.upload-table > tbody > tr:first-child > td {
  //   padding-left:0px;
  //   padding-top: 15px;
  //   border-bottom: 2px solid gainsboro;
  //   font-weight: 600;
  // }

  // table.upload-table .progress {
  //   height: 20px;
  // }

  // .upload-progress-bar {
  //   width: 0%;
  //   background-color: #8cacc7 !important;
  // }
}
