.divider-hitbox {
    cursor: col-resize;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 1.5rem 0 0.4rem;
    top: 50%;
    font-size: 2em;
    color: #bbb;
    left: 2px;
}