.divider-hitbox {
    cursor: col-resize;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    top: 50%;
    color: #ccc;
    font-size: 1.5em;
    color: #bbb;
    left: 2px;
}

.divider {
    height: 100%;
    border: 1px solid #808080;
}