// Spacing
$left-panel-width-lg: 21vw;
$left-panel-width-sm: 15vw;
$left-panel-min-width: 170px;
$viewport-margin: 20px;
$main-alley:30px;
$main-spinner-height: 97px;


// button props
$btn-border-radius: 4px;
$btn-height: 30px;
$btn-height-sm: 24px;
$btn-border-width: 1px;
$btn-padding-y: 4px;
$btn-padding-x: 10px;
$btn-padding-sm-y: 2px;
$btn-padding-sm-x: 5px;

// input
$input-remove-width: 18px;

// border width in between inputs and forms in recordedit
$chaise-RE-border-width: 1px;

// edit column name column
$chaise-caption-column-width: 200px;

// checkbox
$chaise-checkbox-width: 20px;
$chaise-checkbox-height: 20px;


// currently only used in recordedit. content/input shouldn't be wider than this
$re-max-allowed-input-width: 1200px;

/**
 * the value is set this so it would:
 * - fit the more-filters message
 * - have enough space for the drag icon and the rest of items on the header.
 */
$recordset-facet-panel-min-width: 305px;

// fonts
$font-size: 14px;
$h1-font-size: 2.5rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;

/**
 * map syntax doesn't allow multiline, so we have to have them in separate files.
 */
 @import 'maps/record-page-spacing';
 @import 'maps/chaise-accordion';
 @import 'maps/z-index-map';
 @import 'maps/color-map';

