@use 'sass:map';
@use 'variables';
@use 'helpers';

.viewer-container {
  // override the minimum width of side-panel (written the same way as app.scss
  // this is to allocate enough space for annotations
  .top-panel-container .top-flex-panel .top-left-panel.open-panel,
  .bottom-panel-container .side-panel-resizable.open-panel {
    min-width: 300px;
  }
  // reduce the space between the sidebar and main section
  .top-panel-container .top-flex-panel .top-left-panel.open-panel + .top-right-panel,
  .bottom-panel-container .side-panel-resizable.open-panel ~ .main-container {
    padding-left: 20px !important;
  }

  // override the padding that is definde in app.scss
  .main-container {
    padding-right: 0;
    height: 100%;
    overflow: hidden !important;
  }
  .main-body,
  .side-panel-container {
    height: 100%;
  }
  iframe#osd-viewer-iframe {
    height: 100%;
    width: 100%;
  }

  // align the header with the rest of buttons on top of the page.
  .top-left-panel .panel-header h3 {
    padding-bottom: 10px;
  }

  // add more space when the title is hidden
  .top-right-panel.no-title {
    padding-top: 10px;
  }

  .menu-btn-container {
    padding-top: 5px;
    .chaise-btn {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  .side-panel-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 0;
    height: 100%;
    overflow-y: auto;

    .annotation-container {
      position: relative;
      margin-bottom: 20px;
    }
    .annotation-list-container,
    .annotation-form-container {
      position: relative;
    }

    .annotation-spinner-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: map.get(variables.$color-map, 'disabled-background');
      opacity: 0.5;
      z-index: 9; // higher than form
    }
    .annotation-spinner {
      // make sure the text is visible in one line
      width: 160px;
      height: 105px;

      // make sure the spinner is displayed below the stroke-slider and other controls
      top: 250px !important;
      &.annotation-form-spinner {
        top: 50% !important;
      }
    }

    .annotation-stroke-slider {
      display: flex;
      flex-direction: column;
      padding: 8px 0 15px 0;

      .label {
        display: flex;
        justify-content: space-between;

        .stroke-value {
          padding: 0 5px;
          background: map.get(variables.$color-map, 'viewer-annotation-stroke-slider-value');
          border-radius: 3px;
          font-size: 12px;
        }
      }

      .stroke-slider-input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 4px;
        margin-top: 5px;
        background: map.get(variables.$color-map, 'viewer-annotation-stroke-slider-input');
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 10px;
          height: 10px;
          border-radius: 3px;
          background: map.get(variables.$color-map, 'primary');
          cursor: pointer;
        }

        &::-moz-range-thumb {
          width: 10px;
          height: 10px;
          background: map.get(variables.$color-map, 'primary');
          cursor: pointer;
        }
      }

      .stroke-slider-ticks {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        margin: 3px 0;

        .stroke-slider-tick {
          position: relative;
          display: flex;
          justify-content: center;
          text-align: center;
          width: 1px;
          background: map.get(variables.$color-map, 'viewer-annotation-stroke-slider-tick');
          height: 5px;
          line-height: 25px;
          font-size: 10px;
          margin: 0 0 10px 0;
        }
      }
    }

    .annotation-form-container {
      border: 1px solid map.get(variables.$color-map, 'border');
      border-radius: 3px;
      background: map.get(variables.$color-map, 'viewer-annotation-form-background');
      padding: 10px;

      .drawing-hint {
        background: map.get(variables.$color-map, 'warning-background');
        width: 100%;
        padding: 5px;
        margin: 5px 0;
        border-radius: 3px;
      }

      .switch-draw-btn {
        width: 100%;
      }

      .viewer-annotation-form-row {
        border-bottom: 1px solid map.get(variables.$color-map, 'border');
        padding: 10px 0;

        .viewer-annotation-form-row-header {
          padding-bottom: 5px;
        }
      }

      .form-btn-container {
        padding-top: 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }

    .annotation-list-container {
      .search-box-row {
        display: flex;
        gap: 10px;
      }

      .annotation-summary-row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 10px 0;
        align-items: center;

        .chaise-btn {
          height: 27px;
          min-width: 27px;
          font-size: 1rem;
          padding: 2px 5px;
        }
      }

      .no-annotation-message {
        background: map.get(variables.$color-map, 'table-striped-background');
        padding: 8px 5px;
        min-height: 39px;
        text-align: center;
      }

      .annotation-rows {
        .annotation-row {
          cursor: pointer;
          padding: 8px 5px;

          &.highlighted {
            background: map.get(variables.$color-map, 'primary-hover');
            color: map.get(variables.$color-map, 'white');
            a,
            .chaise-btn {
              color: map.get(variables.$color-map, 'white');
            }
          }

          &:not(.highlighted) {
            &:hover {
              background: map.get(variables.$color-map, 'table-highlight-background');
            }
            .annotation-row-btn:hover {
              color: map.get(variables.$color-map, 'primary-hover');
            }

            &:nth-child(odd) {
              background-color: map.get(variables.$color-map, 'table-striped-background');
              &:hover {
                background: map.get(variables.$color-map, 'table-striped-highlight-background');
              }
            }
          }

          .annotation-row-name {
            display: inline;
            padding: 3px;
          }

          .annotation-row-colors {
            width: 10px;
            height: 10px;
            background-color: transparent;
            margin-right: 2px;
            display: inline-block;

            .annotation-row-color {
              height: 100%;
              float: right;
            }
          }

          .annotation-row-btns {
            float: right;
            clear: both; // without this the btns won't go all the way to the edge

            .annotation-row-btn.chaise-btn.chaise-btn-sm {
              font-size: 12px;
              height: 21px;
              width: 21px;
              min-width: auto;
            }

            // hide the label
            .share-btn span:not(.chaise-btn-icon) {
              display: none;
            }
          }
        }
      }
    }
  }
}

// modify the chaise share citation that is displayed for annotations
#viewer .chaise-share-citation-modal {
  li.share-extra-item {
    h3.share-item-header {
      display: inline-block;
      &:after {
        content: ':';
      }
    }

    .share-item-value {
      padding-left: 5px;
    }
  }

  h3.share-item-header {
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .share-item-value {
    padding-left: 10px;
  }

  .share-modal-links {
    padding-top: 10px;
  }
}
