.viewer-container {
  // override the minimum width of side-panel (written the same way as app.scss
  // this is to allocate enough space for annotations
  .top-panel-container .top-flex-panel .top-left-panel.open-panel,
  .bottom-panel-container .side-panel-resizable.open-panel {
    min-width: 270px;
  }

  // override the padding that is definde in app.scss
  .main-container {
    padding-right: 0;
    height: 100%;
    overflow: hidden !important;
  }
  .main-body,
  .side-panel-container {
    height: 100%;
  }
  iframe#osd-viewer-iframe {
    height: 100%;
    width: 100%;
  }
}
