@mixin border-radius($radius: $border-radius, $fallback-border-radius: false) {
  @if $fallback-border-radius != false {
    border-radius: $fallback-border-radius;
  } @else {
    border-radius: $radius;
  }
}
@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-top-left-radius($radius) {
  border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius) {
  border-top-right-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
  border-bottom-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
  border-bottom-left-radius: $radius;
}

@mixin download-btn() {
  color: $primary-color;
  white-space: nowrap;
  // touch action
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  // on user select
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // allow the caption to wrap
  white-space: normal;

  &:before {
    content: '\f019'; // fa-solid fa-download
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    padding-right: 4px;
  }

  &.external-link-icon:not(.external-link-no-icon) {
    // change the icon to cloud download
    &:before {
      content: '\f0ed'; // fa-solid fa-cloud-arrow-down
    }

    //remove the external link icon on after
    &::after {
      content: '' !important;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

@mixin chaise-btn() {
  @include border-radius($btn-border-radius);
  cursor: pointer;
  display: inline-block;
  height: $btn-height;
  min-width: $btn-height;
  border: $btn-border-width solid;
  padding: $btn-padding-y $btn-padding-x;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  white-space: nowrap;
}

@mixin chaise-btn-primary() {
  color: $white-color;
  background-color: $primary-color;
  border-color: $black-color;

  &:focus {
    background-color: darken($primary-color, 10%);
    box-shadow: none;
  }
}

@mixin chaise-btn-secondary {
  color: $primary-color;
  background-color: $white-color;
  border: 1px solid $primary-color;

  &:focus {
    background-color: darken($white-color, 10%);
    box-shadow: none;
  }
}

@mixin chaise-btn-sm {
  height: $btn-height-sm;
  min-width: $btn-height-sm;
  font-size: 1rem;
  padding: 2px 5px;
}

// can be used to write media-queries
@mixin for-predefined-size($size) {
  @if $size == xs {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
