.chaise-body .chaise-btn {
  display: inline-block;
  height: 30px;
  min-width: 30px;
  border-radius: 4px;
  border: 1px solid;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .chaise-body .chaise-btn.chaise-btn-sm {
    height: 24px;
    min-width: 24px; }
  .chaise-body .chaise-btn > .chaise-btn-icon {
    margin-right: 2px; }
  .chaise-body .chaise-btn.icon-btn {
    padding: 7px 5px; }
    .chaise-body .chaise-btn.icon-btn * {
      margin-right: 0; }
  .chaise-body .chaise-btn:focus {
    outline: 0; }
  .chaise-body .chaise-btn.chaise-btn.chaise-btn-primary[disabled], .chaise-body .chaise-btn.chaise-btn.chaise-btn-secondary[disabled] {
    color: #999999;
    background-color: #DDDDDD;
    border-color: #DDDDDD;
    cursor: not-allowed;
    pointer-events: none; }
    .chaise-body .chaise-btn.chaise-btn.chaise-btn-primary[disabled]:focus, .chaise-body .chaise-btn.chaise-btn.chaise-btn-secondary[disabled]:focus {
      background-color: #DDDDDD; }
  .chaise-body .chaise-btn.chaise-btn-primary {
    color: #FFFFFF;
    background-color: #4674A7;
    border-color: #333333; }
    .chaise-body .chaise-btn.chaise-btn-primary:focus {
      background-color: #375b83; }
  .chaise-body .chaise-btn.chaise-btn-secondary {
    color: #4674A7;
    background-color: #FFFFFF;
    border: 1px solid #4674A7; }
    .chaise-body .chaise-btn.chaise-btn-secondary:focus {
      background-color: #e6e6e6; }
  .chaise-body .chaise-btn.chaise-btn-tertiary {
    color: #4674A7;
    border: none;
    background: transparent; }
    .chaise-body .chaise-btn.chaise-btn-tertiary:focus {
      outline: none; }

.chaise-body .chaise-btn-group,
.chaise-body .chaise-btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle; }
  .chaise-body .chaise-btn-group > .chaise-btn,
  .chaise-body .chaise-btn-group-vertical > .chaise-btn {
    position: relative;
    flex: 1 1 auto; }
    .chaise-body .chaise-btn-group > .chaise-btn.active, .chaise-body .chaise-btn-group > .chaise-btn:active, .chaise-body .chaise-btn-group > .chaise-btn:focus, .chaise-body .chaise-btn-group > .chaise-btn:hover,
    .chaise-body .chaise-btn-group-vertical > .chaise-btn.active,
    .chaise-body .chaise-btn-group-vertical > .chaise-btn:active,
    .chaise-body .chaise-btn-group-vertical > .chaise-btn:focus,
    .chaise-body .chaise-btn-group-vertical > .chaise-btn:hover {
      z-index: 1; }

.chaise-body .chaise-btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .chaise-body .chaise-btn-toolbar .input-group {
    width: auto; }

.chaise-body .chaise-btn-group > .chaise-btn-group:not(:first-child):not([disabled]),
.chaise-body .chaise-btn-group > .chaise-btn:not(:first-child):not([disabled]) {
  margin-left: -1px; }

.chaise-body .chaise-btn-group > .chaise-btn-group:not(:last-child) > .chaise-btn,
.chaise-body .chaise-btn-group > .chaise-btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.chaise-body .chaise-btn-group > .chaise-btn-group:not(:first-child) > .chaise-btn,
.chaise-body .chaise-btn-group > .chaise-btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.chaise-body .chaise-btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  .chaise-body .chaise-btn-group-vertical > .chaise-btn-group,
  .chaise-body .chaise-btn-group-vertical > .chaise-btn {
    width: 100%; }
  .chaise-body .chaise-btn-group-vertical > .chaise-btn-group:not(:first-child),
  .chaise-body .chaise-btn-group-vertical > .chaise-btn:not(:first-child) {
    margin-top: -1px; }
  .chaise-body .chaise-btn-group-vertical > .chaise-btn-group:not(:last-child) > .chaise-btn,
  .chaise-body .chaise-btn-group-vertical > .chaise-btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .chaise-body .chaise-btn-group-vertical > .chaise-btn-group:not(:first-child) > .chaise-btn,
  .chaise-body .chaise-btn-group-vertical > .chaise-btn:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.outer-table {
  overflow-x: auto; }

.recordset-table td .markdown-container img {
  overflow-x: hidden; }

.chaise-table.table {
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 5px;
  /* if you want the table to have a fixed layout */ }
  .chaise-table.table.table-fixed-layout {
    table-layout: fixed;
    width: 100%; }
  .chaise-table.table tbody {
    display: table-row-group;
    vertical-align: middle;
    /* table hover */
    /* odd disabled cells need to be darker */
    /* odd row hover for striped table */ }
    .chaise-table.table tbody > tr > td.disabled-cell {
      background-color: #f4f4f4; }
    .chaise-table.table tbody > tr:hover {
      background-color: #f7f0cf !important;
      /* match color from row highlight for disabled cells */ }
      .chaise-table.table tbody > tr:hover > td.disabled-cell {
        background-color: #f7f0cf !important; }
    .chaise-table.table tbody > tr:nth-child(odd) > td.disabled-cell {
      background-color: #ebebeb; }
    .chaise-table.table tbody > tr:nth-child(odd):hover {
      background-color: #efebda !important;
      /* odd disabled cells need to match odd row hover for striped table above */ }
      .chaise-table.table tbody > tr:nth-child(odd):hover > td.disabled-cell {
        background-color: #efebda !important; }
  .chaise-table.table tr {
    border-left: 1px solid #BBBBBB;
    border-bottom: none; }
  .chaise-table.table .table-heading {
    background-color: #D0E0F0;
    color: #333333; }
  .chaise-table.table.table-striped > tbody > tr:nth-child(odd) {
    background: #F1F1F1; }
  .chaise-table.table > thead > tr > th {
    border-bottom: 1px solid #BBBBBB; }
  .chaise-table.table > thead > tr > th,
  .chaise-table.table > tbody > tr > th,
  .chaise-table.table > tfoot > tr > th,
  .chaise-table.table > thead > tr > td,
  .chaise-table.table > tbody > tr > td,
  .chaise-table.table > tfoot > tr > td {
    border-top: none;
    border-right: 1px solid #BBBBBB;
    word-wrap: break-word; }
  .chaise-table.table > tbody > tr > td {
    padding: 5px; }
  .chaise-table.table td.actions-layout {
    width: 1px;
    white-space: nowrap;
    text-align: center; }
  .chaise-table.table th {
    font-weight: 400;
    border-top: 1px solid #BBBBBB; }
    .chaise-table.table th.multi-select-width {
      width: 140px;
      text-align: center; }

@font-face {
  font-family: 'chaise-icons';
  src: url("fonts/chaise-icons.eot");
  src: url("fonts/chaise-icons.eot?#iefix") format("embedded-opentype"), url("fonts/chaise-icons.woff2") format("woff2"), url("fonts/chaise-icons.woff") format("woff"), url("fonts/chaise-icons.ttf") format("truetype"), url("fonts/chaise-icons.svg#chaise-icons") format("svg"); }

.chaise-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'chaise-icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.chaise-icon.chaise-zoom-in::before {
  content: '\00A3'; }

.chaise-icon.chaise-zoom-out::before {
  content: '\00A2'; }

.chaise-icon.chaise-RID::before {
  content: 'RID'; }

.chaise-icon.chaise-RID {
  font-size: 16px; }

.chaise-icon.chaise-sidebar-open::before {
  content: '\00A4'; }

.chaise-icon.chaise-sidebar-close::before {
  content: '\00A5'; }

.chaise-icon.chaise-view-details::before {
  content: '\00A8'; }

.chaise-body .app-container {
  display: none; }

html.ng-scope .app-container {
  display: block; }

html.ng-scope .configure-container {
  display: none; }

.chaise-body {
  /****************** GLOBAL ******************/
  overflow: hidden;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428;
  /**************** SPINNER **************/
  /****************** HEADER ******************/
  /* used to replace the margin with padding on h1-4 elements */
  /****************** ACCORDION ******************/
  /*** NESTED TABLES ***/
  /*** IMAGES ***/
  /*** FILES ***/
  /*** PREVIEWS ***/
  /** ASSOCIATIONS **/
  /****************** NOT FOUND ******************/
  /* Bringing styles more in line with rest of Chaise */
  /************ Error Notification **************/
  /************ Markdown **************/
  /***************** ellipses ***************/
  /************* custom buttons **************/
  /************* search loader ***************/
  /************* search input ****************/
  /******** Popup modal for login instructions ********/
  /* .window-class first */
  /******* Popup modal for previous login ********/
  /******* Popup modal for error ********/
  /* hide the loading spinner if we have the error dialog open */
  /******* Popup modal for share ********/
  /******** Alerts styles ********/
  /*******Bootstrap  Modal styling *********/
  /*When the modal fills the screen it has an even 2.5% on top and bottom*/
  /*Centers the modal*/
  /*Sets the maximum height of the entire modal to 95% of the screen height*/
  /*Sets the maximum height of the modal body to 85% of the screen height*/
  /* Sets the table's maximum height to 70% of the screen height and adds a border at the bottom */
  /* Sets the margin-bottom for the table inside modal to 0px*/
  /******** footer **********/
  /************* resizable ***************/
  /************* ACTION BAR ***********/
  /************* Profile Card ****************/
  /********** faceting ************/
  /****** faceting resizeable ******/
  /** record side panel **/
  /** recordset with faceting side panel **/
  /**** side panel buttons ****/
  /** record side panel collapse button **/
  /** recordset side panel collapse button **/
  /****** RSwF main container *******/
  /* INTEGER SEARCH */
  /* STRING SEARCH */
  /*************** LIST ***************************/
  /******* range inputs ***********/
  /* Rule for Chrome */
  /* Rule for FF */
  /************** search popup **************/ }
  .chaise-body h1, .chaise-body .h1-class {
    font-size: 2.5em; }
  .chaise-body h2, .chaise-body .h2-class {
    font-size: 1.75em; }
  .chaise-body h3, .chaise-body .h3-class {
    font-size: 1.5em; }
  .chaise-body h4, .chaise-body .h4-class {
    font-size: 1.2em; }
  .chaise-body h1, .chaise-body h2, .chaise-body h3, .chaise-body h4, .chaise-body body {
    font-weight: 400; }
  .chaise-body li {
    list-style-type: none; }
  .chaise-body a {
    cursor: pointer;
    color: #0366D6; }
  .chaise-body a.external-link {
    position: relative;
    padding-right: 1.1em; }
    .chaise-body a.external-link::before {
      position: absolute;
      right: -0.2em;
      top: 0.5px;
      font-family: 'Glyphicons Halflings';
      content: "\e164"; }
  .chaise-body .btn-sm[data-handler="bootstrap-markdown-cmdRidLink"] {
    padding: 5px 3px; }
  .chaise-body .show-tooltip-border[uib-tooltip],
  .chaise-body span[uib-tooltip] {
    border-bottom: 1px dotted black; }
  .chaise-body .hide-tooltip-border[uib-tooltip] {
    border-bottom: none; }
  .chaise-body .tooltip-inner {
    text-align: left;
    max-width: none;
    white-space: pre-wrap; }
  .chaise-body .filters-tooltip {
    margin-right: 2%; }
  .chaise-body .filters-tooltip .tooltip-inner {
    white-space: normal; }
  .chaise-body .filters-tooltip .tooltip-inner {
    max-width: inherit; }
  .chaise-body .btn.btn-no-boundry {
    border: none;
    background: transparent !important;
    padding: 0; }
  .chaise-body .btn.btn-primary.btn-inverted,
  .chaise-body .btn.btn-primary.btn-inverted:focus,
  .chaise-body .btn.btn-primary.btn-inverted:hover {
    color: #337ab7;
    background-color: white; }
  .chaise-body .btn.btn-danger.btn-inverted {
    color: #d43f3a;
    background-color: white; }
  .chaise-body .btn.btn-primary.btn-inverted[disabled],
  .chaise-body .chaise-checkbox input[disabled][type="checkbox"] + label:before {
    color: #ccc !important;
    border-color: #ccc !important; }
  .chaise-body .chaise-checkbox input[disabled][type="checkbox"]:checked + label:after {
    color: #ccc !important; }
  .chaise-body .disabled-form,
  .chaise-body .disabled-row {
    color: #ccc; }
  .chaise-body .disabled-form *,
  .chaise-body .disabled-row * {
    color: inherit; }
  .chaise-body .disabled-form .search-remove {
    /*the button used to clear the input*/
    display: none; }
  .chaise-body .disabled-form .btn.btn-inverted[disabled]:hover {
    background-color: white !important;
    border-color: #ccc !important; }
  .chaise-body .remove-form-btn {
    font-size: 18px;
    padding: 0 7px; }
  .chaise-body #spinner {
    background: #fff;
    width: 130px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 0;
    border: 1px solid #C3C3C3;
    border-radius: 7px;
    color: #828282;
    top: 50vh;
    position: absolute;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    z-index: 10; }
  .chaise-body .spinner-container-sm {
    position: relative; }
  .chaise-body #spinner-sm {
    background: #fff;
    border: 1px solid #C3C3C3;
    border-radius: 7px;
    color: #828282;
    left: 40%;
    padding: 5px;
    position: absolute;
    text-align: center;
    z-index: 10; }
  .chaise-body img.spinner {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    opacity: 0.8; }
  .chaise-body img.spinner-sm {
    display: inline-block;
    margin: 0 auto;
    width: 17px;
    height: 17px;
    opacity: 0.8; }
  .chaise-body #mainnav {
    border-radius: 0; }
  .chaise-body .navbar {
    margin-bottom: 0; }
  .chaise-body #header {
    width: 100%;
    background: #4D4D4D;
    position: relative; }
  .chaise-body #brand {
    color: #fff; }
  .chaise-body #page-title {
    margin: -7px 0 0; }
  .chaise-body #entity-title,
  .chaise-body .entity-title {
    clear: both;
    /*padding-top: 10px;*/ }
  .chaise-body #page-subtitle {
    margin: 0; }
  .chaise-body #bookmark-container {
    padding: 15px 40px 10px;
    /* padding-left and padding-right sides are to equal the left and right paddings of .container-fluid */
    background-color: #f1f1f1;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
    z-index: 100; }
  .chaise-body #bookmark-container > * {
    display: inline-block; }
  .chaise-body #bookmark-container .pull-left {
    text-align: left; }
  .chaise-body #bookmark-container .pull-right {
    text-align: right; }
  .chaise-body .replace-margin {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px; }
  .chaise-body .panel {
    box-shadow: none; }
  .chaise-body .panel-title > a:focus,
  .chaise-body .panel-title > a:hover {
    text-decoration: none;
    color: #3f7cb8; }
  .chaise-body .reference-views {
    padding-left: 0; }
  .chaise-body .reference-views li {
    float: left; }
  .chaise-body .reference-views > li:nth-child(2) {
    border-right: 1px solid black; }
  .chaise-body .reference-views .reference-view-title {
    padding: 3px 1px 5px 0;
    text-transform: uppercase; }
  .chaise-body .transpose-toggle {
    display: inline-block;
    padding: 1px 17px;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
    width: 81px; }
  .chaise-body .transpose-toggle:active,
  .chaise-body .transpose-toggle:focus,
  .chaise-body .transpose-toggle:hover {
    color: #2364AB; }
  .chaise-body #detailed-bookmark-container {
    text-align: right;
    position: absolute;
    top: 20px; }
  .chaise-body .btn-condensed {
    padding: 0 5px; }
  .chaise-body .sy-slide > a > img {
    width: 100%; }
  .chaise-body .slippry_box {
    height: 100%;
    margin-right: 1%;
    padding-right: 1%;
    border-right: 1px solid #868686;
    width: 50%; }
  .chaise-body .slippry_box.previews {
    height: 600px; }
  .chaise-body #thumbnail-box,
  .chaise-body .slippry_box {
    float: left;
    margin: 10px 30px 30px 0; }
  .chaise-body #thumbnail-box {
    max-height: 500px;
    overflow: auto; }
  .chaise-body #thumbnail-box ul.thumbs {
    padding-left: 0; }
  .chaise-body .sy-pager li {
    width: 10px;
    height: 10px; }
  .chaise-body .sy-pager li.sy-active a {
    background: #8DD7FA; }
  .chaise-body .thumbs li {
    float: left;
    width: 80px;
    height: 110px;
    margin-right: 19px; }
  .chaise-body .thumbs img {
    width: 100%;
    border: 1px solid #C1C1C1;
    padding: 5px;
    border-radius: 5px; }
  .chaise-body .file {
    text-align: center;
    width: 140px; }
  .chaise-body .file-preview-icon {
    width: 90px;
    display: inline-block;
    margin-bottom: -10px; }
  .chaise-body .file-size {
    color: #9E9E9E;
    letter-spacing: 0.5px;
    font-size: 13px; }
  .chaise-body .preview {
    margin: 20px 0; }
  .chaise-body .preview-filename {
    display: block;
    margin-top: 15px; }
  .chaise-body .preview-content {
    width: 100%;
    height: 390px; }
  .chaise-body .enlarge {
    background: #7CBAD8;
    color: #fff;
    padding: 9px 11px;
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all; }
  .chaise-body .enlarge:hover {
    color: #fff;
    background: #8DD7FA; }
  .chaise-body .entity-terms {
    padding: 0; }
  .chaise-body .entity-term {
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #406C90;
    color: #fff;
    padding: 7px 16px;
    border-radius: 5px;
    font-size: 11px;
    cursor: default;
    -moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms; }
  .chaise-body .entity-term a {
    color: #fff; }
  .chaise-body #not-found {
    text-align: center;
    color: #868686; }
  .chaise-body #not-found div {
    display: inline-block; }
  .chaise-body #not-found-title {
    font-size: 33px;
    margin-top: 41px; }
  .chaise-body #not-found-subtitle {
    font-size: 16px;
    width: 510px;
    font-weight: 300;
    margin-top: 10px; }
  .chaise-body #not-found .glyphicon {
    font-size: 230px;
    color: #78B8D6;
    margin-top: 70px; }
  .chaise-body #back-btn {
    color: #7b7b7b;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .chaise-body #entity-title,
  .chaise-body .entity-title {
    font-size: 1.7em;
    font-weight: 500;
    color: #333; }
  .chaise-body .entity-key {
    color: #333333;
    font-weight: normal;
    font-size: 1em; }
  .chaise-body .entity-value {
    font-size: 1em;
    color: #333; }
  .chaise-body .hide-border > td {
    border-bottom: none !important; }
  .chaise-body .entity-term {
    background-color: #428bca;
    font-size: 0.8em; }
  .chaise-body .panel-title {
    color: inherit; }
  .chaise-body .reference-views .reference-view-title {
    color: #999; }
  .chaise-body .transpose-toggle {
    color: #999; }
  .chaise-body .transpose-toggle.active {
    color: #428bca; }
  .chaise-body .detailGrid {
    min-width: 600px; }
  .chaise-body .ui-grid-viewport .ui-grid-cell-contents {
    word-wrap: break-word;
    white-space: normal !important; }
  .chaise-body .ui-grid-row div[role=row] {
    display: flex;
    align-content: stretch; }
  .chaise-body .fixed-font {
    font-family: "Lucida Console", Courier, monospace; }
  .chaise-body #notification {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black; }
  .chaise-body .markdown-container li {
    list-style-type: inherit; }
  .chaise-body .markdown-container li:only-child {
    list-style-type: none; }
  .chaise-body .markdown-container ul {
    list-style-type: disc; }
  .chaise-body .markdown-container ol {
    list-style-type: decimal; }
  .chaise-body .markdown-container code {
    padding-left: 0;
    padding-right: 0;
    color: #333;
    background-color: #F5F5F5; }
  .chaise-body .markdown-container img {
    margin: 5px 5px 5px 0; }
  .chaise-body .markdown-container .vocab {
    color: darkblue;
    background-color: rgba(220, 220, 220, 0.68);
    padding: 7px;
    border-radius: 10px;
    display: inline-block;
    margin: 2px; }
  .chaise-body .markdown-container .download {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; }
  .chaise-body .markdown-container .asset-source-description {
    margin: 0 5px;
    vertical-align: -9px;
    font-size: 13px; }
  .chaise-body .hideContent {
    overflow: hidden;
    line-height: 20px; }
  .chaise-body .showContent {
    line-height: 20px;
    height: auto;
    display: inline; }
  .chaise-body .markdown-container > p:last-child {
    margin-bottom: 0; }
  .chaise-body .page-filters .sub-title {
    font-size: 1.2em;
    color: #747474;
    margin-left: 15px; }
  .chaise-body .btn-no-focus:focus {
    outline: none; }
  .chaise-body .progress {
    margin-bottom: 0;
    height: 30px;
    border: 1px solid #ccc9c9; }
  .chaise-body .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle; }
  .chaise-body .no-row-margin {
    margin-left: 0;
    margin-right: 0; }
  .chaise-body .pad0-left {
    padding-left: 0; }
  .chaise-body .pad0-right {
    padding-right: 0; }
  .chaise-body input.search-progress {
    background: url("images/loader.gif") no-repeat right center;
    background-size: 25px 25px;
    background-position-x: 99%; }
  .chaise-body .form-control-feedback > span.search-remove {
    border-bottom: none; }
  .chaise-body .modal-login .modal-backdrop {
    opacity: 0.7 !important; }
  .chaise-body .modal-login-instruction .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px; }
  .chaise-body .modal-login-instruction .modal-dialog .modal-content {
    width: 600px; }
  .chaise-body .modal-login-instruction .modal-dialog ol li {
    list-style-type: decimal; }
  .chaise-body .modal-login-instruction .modal-dialog pre {
    white-space: pre-line;
    word-break: inherit;
    text-align: justify; }
  .chaise-body .modal-login .modal-title {
    font-size: 22px !important; }
  .chaise-body body.previous-login > .modal-login-instruction {
    z-index: 99999 !important; }
  .chaise-body body.previous-login > *:not(.modal-login-instruction):not(navbar):not(.modal-backdrop) {
    display: none !important; }
  .chaise-body body.error-open loading-spinner {
    display: none !important; }
  .chaise-body .chaise-share-citation ul {
    padding-left: 10px; }
  .chaise-body .chaise-share-citation #share-link h2 {
    margin-top: 5px; }
  .chaise-body .chaise-share-citation span.glyphicon-copy {
    cursor: pointer; }
  .chaise-body ul.show-list-style li {
    list-style-type: inherit; }
  .chaise-body .modal-xl {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 95vw; }
  .chaise-body .modal-lg {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 80vw; }
  .chaise-body .modal-md {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 60vw; }
  .chaise-body .modal-close {
    padding: 3px 8px; }
  .chaise-body .modal-content {
    max-height: 95vh;
    overflow: hidden;
    max-width: 95vw; }
  .chaise-body .modal-xl .modal-body {
    max-height: 90vh;
    min-height: 40vh; }
  .chaise-body .modal-lg .modal-body {
    max-height: 90vh;
    min-height: 40vh; }
  .chaise-body .modal-body .outer-table {
    max-height: 70vh;
    border: 1px solid lightgrey; }
  .chaise-body .modal-body .outer-table .table {
    margin-bottom: 0;
    overflow: scroll; }
  @media (max-width: 800px) {
    .chaise-body .modal-body .outer-table {
      max-height: 67vh; } }
  @media (max-width: 600px) {
    .chaise-body .modal-body .outer-table {
      max-height: 60vh; } }
  @media (max-width: 500px) {
    .chaise-body .modal-body .outer-table {
      max-height: 55vh; } }
  .chaise-body .modal-body #spinner {
    width: 100%;
    text-align: center;
    padding: 14px 0;
    position: absolute;
    height: 100%;
    top: 75px;
    left: 75px;
    z-index: 10;
    border: none;
    border-radius: 0;
    background: rgba(128, 128, 128, 0.25); }
  .chaise-body .modal-body img.spinner {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 49%; }
  .chaise-body .popup-select-value {
    height: auto !important;
    max-height: 5.35em !important;
    z-index: 0;
    border-radius: 5px !important;
    padding-right: 0; }
  .chaise-body .modal-popup .input-group-addon {
    padding: 0;
    background-color: transparent;
    border: none;
    vertical-align: top; }
  .chaise-body .pls {
    padding-left: 5px; }
  .chaise-body .prs {
    padding-right: 5px; }
  .chaise-body .pts {
    padding-top: 5px; }
  .chaise-body .pbs {
    padding-bottom: 5px; }
  .chaise-body .pads {
    padding: 5px; }
  .chaise-body .plm {
    padding-left: 10px; }
  .chaise-body .prm {
    padding-right: 10px; }
  .chaise-body .ptm {
    padding-top: 10px; }
  .chaise-body .pbm {
    padding-bottom: 10px; }
  .chaise-body .padm {
    padding: 10px; }
  .chaise-body .pll {
    padding-left: 20px; }
  .chaise-body .prl {
    padding-right: 20px; }
  .chaise-body .ptl {
    padding-top: 20px; }
  .chaise-body .pbl {
    padding-bottom: 20px; }
  .chaise-body .padl {
    padding: 20px; }
  .chaise-body .mls {
    margin-left: 5px; }
  .chaise-body .mrs {
    margin-right: 5px; }
  .chaise-body .mts {
    margin-top: 5px; }
  .chaise-body .mbs {
    margin-bottom: 5px; }
  .chaise-body .mars {
    margin: 5px; }
  .chaise-body .mlm {
    margin-left: 10px; }
  .chaise-body .mrm {
    margin-right: 10px; }
  .chaise-body .mtm {
    margin-top: 10px; }
  .chaise-body .mbm {
    margin-bottom: 10px; }
  .chaise-body .marm {
    margin: 10px; }
  .chaise-body .mll {
    margin-left: 20px; }
  .chaise-body .mrl {
    margin-right: 20px; }
  .chaise-body .mtl {
    margin-top: 20px; }
  .chaise-body .mbl {
    margin-bottom: 20px; }
  .chaise-body .marl {
    margin: 20px; }
  .chaise-body footer {
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; }
  .chaise-body footer .container1 {
    height: inherit;
    background-color: #ededed;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    color: #595757;
    font-size: 11px; }
  .chaise-body .container1 li {
    list-style-type: inherit; }
  .chaise-body .container1 ul {
    list-style-type: disc; }
  .chaise-body .container1 ol {
    list-style-type: decimal; }
  .chaise-body .container1 code {
    padding-left: 0;
    padding-right: 0;
    color: #333;
    background-color: #F5F5F5; }
  .chaise-body .resizable {
    position: relative; }
  .chaise-body .resizable.no-transition {
    transition: none !important; }
  .chaise-body .rg-bottom,
  .chaise-body .rg-left,
  .chaise-body .rg-right,
  .chaise-body .rg-top {
    display: block;
    width: 15px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    z-index: 1;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: transparent;
    border: solid 1px #2e6da4;
    border-top: none;
    border-bottom: none; }
  .chaise-body .rg-bottom span,
  .chaise-body .rg-left span,
  .chaise-body .rg-right span,
  .chaise-body .rg-top span {
    position: absolute;
    box-sizing: border-box;
    display: block; }
  .chaise-body .rg-left span,
  .chaise-body .rg-right span {
    font-family: 'Glyphicons Halflings';
    top: 50vh;
    margin: -10px 0 0 0.8px;
    top: 50%;
    color: #337ab7;
    font-weight: 400; }
  .chaise-body .rg-bottom span,
  .chaise-body .rg-top span {
    border-width: 1px 0;
    left: 50%;
    margin: 3.5px 0 0 -10px;
    width: 20px;
    height: 7px; }
  .chaise-body .rg-top {
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -14px; }
  .chaise-body .rg-right {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: -14px;
    border-right: none; }
  .chaise-body .rg-bottom {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -14px; }
  .chaise-body .rg-left {
    cursor: col-resize;
    height: 100%;
    left: 14px;
    top: 0;
    margin-left: -14px;
    border-right: none; }
  .chaise-body .actionBarRTStyle {
    margin-top: -25px; }
  .chaise-body .actionBarEntityStyle {
    padding-left: 5px;
    padding-bottom: 5px;
    float: right; }
  .chaise-body .actionBarEntityStyleWithMargin {
    padding-bottom: 5px;
    text-align: right; }
  .chaise-body #profile-modal li {
    list-style-type: disc; }
  .chaise-body .modal-dialog .profileValue {
    padding-left: 32px; }
  .chaise-body .total-filters {
    margin-bottom: 10px;
    margin-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100%;
    /*background-color: #f5f5f5;*/
    overflow-x: hidden;
    /*max-height: 140px;*/
    /*overflow-y: auto;*/ }
  .chaise-body .filter-label {
    padding: 0.2em 0.3em 0.3em; }
  .chaise-body .total-filters .filter-label {
    font-size: 1em;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
    max-width: 350px;
    text-overflow: ellipsis;
    height: 26px; }
  .chaise-body .total-filters .filter-label .filter-label-colon,
  .chaise-body .total-filters .filter-label .filter-label-title,
  .chaise-body .total-filters .filter-label .filter-label-value,
  .chaise-body .total-filters .filter-label .remove-link {
    vertical-align: middle; }
  .chaise-body .total-filters .filter-label .remove-link i {
    top: 0.1em; }
  .chaise-body .total-filters .filter-label span {
    border: none; }
  .chaise-body .total-filters .filter-label .filter-label-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 150px;
    margin-right: -2px;
    padding: 0.1em 0; }
  .chaise-body .total-filters .remove-link .filter-label {
    background-color: #337ab7;
    color: white;
    padding: 0.34em 0.4em 0.33em; }
  .chaise-body .total-filters .remove-link:hover {
    color: #2c6392; }
  .chaise-body .label-default {
    background-color: #f1f1f1;
    color: #333;
    font-weight: 500; }
  .chaise-body .recordset-container.without-faceting .main-container {
    padding-top: 20px; }
  .chaise-body .recordset-container.without-faceting .main-body {
    padding-left: 15px;
    padding-right: 15px; }
  .chaise-body .recordset-container.with-faceting {
    -webkit-box-flex: 1;
    display: flex;
    flex: 1;
    margin-top: 5px; }
  .chaise-body .faceting-resizable.close-panel .rg-left,
  .chaise-body .faceting-resizable.close-panel .rg-right {
    display: none; }
  .chaise-body .record-container > .faceting-resizable {
    position: relative;
    z-index: 2;
    font-weight: bold;
    max-width: 50vw; }
  .chaise-body .record-container > .faceting-resizable.open-panel {
    flex: 0 0 15vw;
    min-width: 170px;
    padding-left: 5px; }
  .chaise-body .record-container > .faceting-resizable.close-panel {
    width: 0;
    flex-basis: 0 !important; }
  .chaise-body .record-container > .faceting-resizable.close-panel .faceting-container {
    width: 0; }
  .chaise-body .record-container > .faceting-resizable .sidePanelHeading {
    font-weight: bold;
    padding: 9px 10px 10px !important;
    margin: 5px 0 0 -5px; }
  .chaise-body .record-toc .columns-container ul {
    padding-left: 10px; }
  .chaise-body .record-toc .toc-heading {
    padding: 5px;
    cursor: pointer; }
  .chaise-body .record-toc .toc-heading:hover {
    background-color: #f1f1f1; }
  .chaise-body .record-toc #rt-toc-loading {
    padding: 10px 5px 5px; }
  .chaise-body .loading-text {
    color: #446c73;
    font-weight: 600; }
  .chaise-body .loading-sticky {
    float: left;
    position: fixed;
    z-index: 1;
    bottom: 0;
    background: #d9edf7;
    margin: 5px;
    padding: 5px 20px;
    border: solid #446c73 1.5px; }
  .chaise-body tr.rowFocus {
    border: 2px solid #337ab7; }
  .chaise-body .record-container .rowFocus {
    border-color: #337ab7 !important; }
  .chaise-body .record-container .panel-group .panel.rowFocus + .panel {
    border-top: 2px solid #ddd; }
  .chaise-body .recordset-container.with-faceting > .faceting-resizable {
    padding-top: 5px;
    position: relative;
    max-width: 50vw;
    z-index: 2; }
  .chaise-body .recordset-container.with-faceting > .faceting-resizable.initializing > .rg-right > span {
    display: none; }
  .chaise-body .recordset-container.with-faceting > .faceting-resizable.open-panel {
    flex: 0 0 21vw;
    min-width: 170px;
    padding-left: 5px; }
  .chaise-body .recordset-container.with-faceting > .faceting-resizable.close-panel {
    width: 0;
    flex-basis: 0 !important; }
  .chaise-body .recordset-container.with-faceting > .faceting-resizable.close-panel .faceting-container {
    width: 0; }
  .chaise-body .facet-btn {
    position: absolute;
    top: 40px;
    z-index: 2; }
  .chaise-body #back-to-top,
  .chaise-body .sidePanFiddler {
    cursor: pointer;
    overflow: hidden; }
  .chaise-body #back-to-top {
    position: absolute;
    left: -66px;
    bottom: 2em;
    padding: 1px 4px;
    font-size: 25px;
    border-radius: 2px 0 0 2px;
    height: 35px;
    width: 35px; }
  .chaise-body .sidePanFiddler {
    height: 40px;
    width: 21px;
    font-size: 20px;
    padding: 4px 4px 0 0; }
  .chaise-body .record-container .facet-btn {
    left: -20px; }
  .chaise-body .record-container .facet-btn.close-panel {
    left: -20px; }
  .chaise-body .record-container .sidePanFiddler {
    border-right: none;
    border-radius: 15px 0 0 15px; }
  .chaise-body .recordset-container .facet-btn {
    right: -20px; }
  .chaise-body .recordset-container .sidePanFiddler {
    border-left: none;
    border-radius: 0 15px 15px 0; }
  .chaise-body .modal-body .recordset-container footer {
    display: none !important; }
  .chaise-body .modal-body .recordset-container alerts:not(.enforce-alert) {
    display: none !important; }
  .chaise-body .recordset-container.with-faceting {
    padding-left: 15px;
    padding-right: 15px; }
  .chaise-body .recordset-container.with-faceting > .main-container {
    flex: 1;
    position: relative;
    z-index: 1;
    overflow-y: auto;
    padding-top: 15px; }
  .chaise-body .recordset-container.with-faceting .main-body {
    border-left: 25px solid white;
    padding-right: 10px; }
  .chaise-body .recordset-container.with-faceting .pager {
    margin-bottom: 50px; }
  .chaise-body .recordset-container > .main-container {
    overflow-x: hidden; }
  .chaise-body .faceting-container {
    overflow-y: auto; }
  .chaise-body .faceting-container .columns-container {
    margin-bottom: 50px; }
  .chaise-body .faceting-container .divider {
    margin: 1rem 0;
    line-height: 1;
    height: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.85);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .chaise-body .faceting-container .facet-panel > .panel-heading {
    text-transform: none;
    border: 0;
    margin: 1px 0; }
  .chaise-body .faceting-container .panel {
    border: 1px solid #ddd !important; }
  .chaise-body .faceting-container .facet-panel.active,
  .chaise-body .faceting-container .panel:hover {
    border-color: #337ab7 !important;
    animation-duration: 4s; }
  .chaise-body .faceting-container .update-btn {
    float: right; }
  .chaise-body .faceting-container .refresh-btn {
    cursor: pointer; }
  .chaise-body .glyphicon-alert {
    color: #f0ad4e !important;
    border: none; }
  .chaise-body .faceting-container .glyphicon-refresh {
    border: none; }
  .chaise-body .glyphicon-refresh-animate {
    -animation: spin 0.7s infinite linear;
    -ms-animation: spin 0.7s infinite linear;
    -webkit-animation: spinw 0.7s infinite linear;
    -moz-animation: spinm 0.7s infinite linear; }

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1) rotate(360deg); } }

@-webkit-keyframes spinw {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spinm {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
  .chaise-body .faceting-container .toggle-icon {
    margin-right: 5px; }
  .chaise-body .faceting-container .panel .panel-title {
    color: #333333;
    line-height: 1.35;
    font-size: 14px;
    font-weight: 600;
    position: relative; }
  .chaise-body .faceting-container {
    -webkit-transition: all 1s;
    transition: all 1s; }
  .chaise-body .faceting-container .panel .panel-body {
    padding: 0 10px 10px !important;
    border-top: none !important;
    border: none; }
  .chaise-body .faceting-container .panel-group {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px; }
  .chaise-body .faceting-container .applied-filters {
    margin-top: 5px;
    max-height: 100px;
    overflow-y: auto; }
  .chaise-body .faceting-container .applied-filters .filter-label {
    margin-right: 5px;
    margin-bottom: 5px;
    border: 0.1px solid #ccc;
    display: inline-block;
    font-size: 0.8em; }
  .chaise-body .faceting-container .applied-filters .filter-label:before {
    margin-right: 0; }
  .chaise-body .faceting-container .facet-panel > .panel-heading div.active:before,
  .chaise-body .faceting-container .facet-panel > .panel-heading div:before {
    content: ""; }
  .chaise-body .faceting-container .applied-filters .filter-icon {
    /*color: white;*/ }
  .chaise-body .faceting-container .applied-filters .remove-link {
    color: #337ab7;
    font-weight: 600; }
  .chaise-body .faceting-container .applied-filters .remove-link:hover {
    color: #2c6392; }
  .chaise-body .remove-link .filter-label {
    background-color: #337ab7;
    color: white; }
  .chaise-body .filter-label.label-primary.label-inverted {
    color: #337ab7;
    background-color: white;
    border-color: #337ab7; }
  .chaise-body .filter-label {
    background-color: white;
    color: #333;
    font-weight: 500;
    border: 0.1px solid #ccc; }
  .chaise-body .faceting-container .choice-picker .search-box {
    margin-bottom: 10px; }
  .chaise-body .faceting-container .range-picker hr {
    color: #f5f5f5;
    width: 1px; }
  .chaise-body .faceting-container .range-picker .form-inline input {
    width: 100%;
    padding: 6px 20px 6px 6px;
    height: 100%;
    border: none;
    border-radius: 4px; }
  .chaise-body .faceting-container .string-picker .tab-content {
    margin-top: 10px; }
  .chaise-body .faceting-container .string-picker .pager {
    margin: 0; }
  .chaise-body .faceting-container .string-picker a.nav-link {
    padding: 5px 15px; }
  .chaise-body .plotly-how-to {
    border-color: white !important;
    cursor: default; }
  .chaise-body .plotly-how-to:hover {
    z-index: auto !important; }
  .chaise-body .chaise-list-container {
    padding-left: 0;
    margin-bottom: 5px; }
  .chaise-body .chaise-checkbox.with-tooltip label {
    border-bottom: 1px dotted black; }
  .chaise-body .chaise-checkbox {
    position: relative;
    /*margin: 10px 0;*/ }
  .chaise-body li.chaise-checkbox:hover {
    background-color: #f1f1f1; }
  .chaise-body .ellipsis-text label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .chaise-body .chaise-checkbox input {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 17px;
    height: 17px;
    top: 0;
    margin-top: 2px; }
  .chaise-body .chaise-checkbox label {
    display: inline-block;
    margin-left: 25px;
    font-weight: 400;
    position: relative;
    vertical-align: middle;
    min-height: 20px; }
  .chaise-body .chaise-checkbox input[type="checkbox"]:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 0;
    border: 1px solid #337ab7;
    border-radius: 3px;
    color: #337ab7;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
  .chaise-body .chaise-checkbox input[type="checkbox"]:checked:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013"; }
  .chaise-body range-inputs .input-clearbtn {
    cursor: pointer;
    right: 0;
    pointer-events: all;
    z-index: 5;
    width: 22px; }
  .chaise-body range-inputs .form-control {
    padding: 0; }
  .chaise-body range-inputs .input-container {
    position: relative; }
  .chaise-body range-inputs .range-inputs-width {
    min-width: 100px; }
  .chaise-body range-inputs .numeric-date-width {
    max-width: 110px; }
  .chaise-body range-inputs .datetime-width {
    max-width: 150px; }
  .chaise-body range-inputs .input-group {
    width: 100%; }
  .chaise-body range-inputs .input-group-addon {
    padding-left: 4px;
    padding-right: 4px; }
  .chaise-body input[type=number]::-webkit-inner-spin-button,
  .chaise-body input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .chaise-body input[type=number] {
    -moz-appearance: textfield; }
  .chaise-body input[type=number]::-moz-placeholder {
    line-height: 1.2; }
  .chaise-body #multi-select-submit-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2; }
  .chaise-body .selected-rows {
    min-height: 45px; }
  .chaise-body record-display .markdown-container ol > li:only-child,
  .chaise-body record-display .markdown-container ul > li:only-child {
    list-style: none;
    padding: 0;
    margin-left: 0; }
  .chaise-body record-display .markdown-container ol,
  .chaise-body record-display .markdown-container ul {
    padding: 0 !important;
    /*existing rule is padding=2, which should be changed for the other changes*/ }
  .chaise-body record-display .markdown-container ol > li,
  .chaise-body record-display .markdown-container ul > li {
    margin-left: 1em;
    padding-left: 0; }
  .chaise-body record-table .markdown-container ol,
  .chaise-body record-table .markdown-container ul {
    padding-left: 1em; }
