/****************** GLOBAL ******************/
html, body {
    height: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #FFF;
}

li{
    list-style-type: none;
}

a{
    cursor: pointer;
}

a:hover, a:focus{
    text-decoration: none;
    outline: none;
}

a .glyphicon-trash {
    color: #428bca;
}

span[uib-tooltip] {
    border-bottom: 1px dotted black;
}

.btn.btn-primary.btn-inverted {
    color: #337ab7;
    background-color: white;
}

/**************** SPINNER **************/

#spinner{
    background: #fff;
    width: 130px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 0;
    border: 1px solid #C3C3C3;
    border-radius: 7px;
    color: #828282;
    top: 50vh;
    position: absolute;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    z-index: 10;
}

.spinner-container-sm {
    position: relative;
}

#spinner-sm {
    background: #fff;
    border: 1px solid #C3C3C3;
    border-radius: 7px;
    color: #828282;
    left: 40%;
    padding: 5px;
    position: absolute;
    text-align: center;
    z-index: 10;
}

img.spinner {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}

img.spinner-sm {
    display: inline-block;
    margin: 0 auto;
    width: 17px;
    height: 17px;
    opacity: 0.8;
}

/****************** HEADER ******************/

.navbar {
    margin-bottom: 0px;
}

#header{
    width: 100%;
    background: #4D4D4D;
    position: relative;
}
#brand{
    color: #fff;
}

#page-title {
    margin: 0;
    margin-top: -7px;
}

#entity-title, .entity-title{
    clear: both;
    /*padding-top: 10px;*/
}
#entity-subtitle{
    text-transform: uppercase;
    font-size: 14px;
    /*margin: 0px 0 12px 0;*/
}

#bookmark-container {
    padding: 15px 30px 15px 30px; /* padding-left and padding-right sides are to equal the left and right paddings of .container-fluid */
    background-color: #f1f1f1;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
    z-index: 100;
}

#bookmark-container > * {
    display: inline-block;
}

#bookmark-container .pull-left{
    text-align: left;
}

#bookmark-container .pull-right{
    text-align: right;
}

/****************** ACCORDION ******************/

.panel{
    box-shadow: none;
}

.panel-group .panel{
    border: none;
}

.panel-title>a:hover, .panel-title>a:focus{
    text-decoration: none;
    color: rgb(63, 124, 184);
}

.panel-default>.panel-heading{
    background: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}
.panel-default>.panel-heading div:before{
    content: "+";
    float: left;
    font-size: 23px;
    line-height: 12px;
    margin-right: 10px;
}
.panel-default>.panel-heading div.active:before{
    content: "-";
    float: left;
    font-size: 23px;
    line-height: 12px;
    margin-right: 10px;
}

.panel-group .panel+.panel{
    border: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top: none;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-top: 0px;
}

.reference-views {
    padding-left: 0;
}
.reference-views li{
    float: left;
}
.reference-views > li:nth-child(2){
    border-right: 1px solid black;
}

.reference-views .reference-view-title{
    padding: 3px 1px 5px 0;
    text-transform: uppercase;
}

.transpose-toggle{
    display: inline-block;
    padding: 1px 17px;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
    width: 81px;
}

.transpose-toggle:hover, .transpose-toggle:focus, .transpose-toggle:active{
    color: #2364AB;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-top: none;
    border-bottom: 1px solid #ddd;
    max-width: 500px;
    word-wrap: break-word;
}

#detailed-bookmark-container{
    text-align: right;
    position: absolute;
    top: 20px;
}


/*** NESTED TABLES ***/

.table{
    margin-bottom: 5px;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-wrapper{
    max-height: 400px;
    overflow: auto;
    position: relative;
    width: 100%;
}
.table.nested{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.table.nested>thead>tr>th, .table.nested>tbody>tr>th, .table.nested>tfoot>tr>th, .table.nested>thead>tr>td, .table.nested>tbody>tr>td, .table.nested>tfoot>tr>td{
    border-right: 1px solid #ddd;
}

.table-striped>tbody>tr:nth-child(odd){
    background: #F1F1F1;
}

.outer-table{
    overflow-x: auto;
}

.table-heading{
    background-color: rgb(116, 116, 116);
    color: #fff;
}

td.actions-layout {
    width: 1px;
    white-space: nowrap;
    text-align: center;
}

th.multi-select-width {
    width: 140px;
    text-align: center;
}

.btn-condensed {
    padding: 0px 5px;
}

.table-reference .entity-key{
    font-size: 14px;
    text-transform: capitalize;
    background-color: rgb(116, 116, 116);
    color: #fff;
    font-weight: normal;
    padding: 10px 20px !important;
}

#ft-transpose .table-reference .entity-key{
    background-color: #fff;
    color: #828282;
}


#ft-transpose .table-reference>tbody>tr:nth-child(odd) th.entity-key{
    background: #f9f9f9;
}

/*** IMAGES ***/


.sy-slide > a > img {
    width: 100%;
}
.slippry_box{
    height: 100%;
    margin-right: 1%;
    padding-right: 1%;
    border-right: 1px solid #868686;
    width: 50%;
}

.slippry_box.previews{
    height: 600px;
}

.slippry_box, #thumbnail-box{
    float: left;
    margin: 10px 30px 30px 0;
}
#thumbnail-box{
    max-height: 500px;
    overflow: auto;
}

#thumbnail-box ul.thumbs {
  padding-left: 0;
}

.sy-pager li{
    width: 10px;
    height: 10px;
}
.sy-pager li.sy-active a{
    background: #8DD7FA;
}

.thumbs li{
    float: left;
    width: 80px;
    height: 110px;
    margin-right: 19px;
}
.thumbs img{
    width: 100%;
    border: 1px solid #C1C1C1;
    padding: 5px;
    border-radius: 5px;
}

/*** FILES ***/
.file{
    text-align: center;
    width: 140px;
}
.file-preview-icon{
    width: 90px;
    display: inline-block;
    margin-bottom: -10px;
}

.file-size{
    color: #9E9E9E;
    letter-spacing: 0.5px;
    font-size: 13px;
}

/*** PREVIEWS ***/

.preview{
    margin: 20px 0;
}

.preview-filename{
    display: block;
    margin-top: 15px;
}

.preview-content{
     width: 100%;
     height: 390px;
}

.enlarge{
    background: #7CBAD8;
    color: #fff;
    padding: 9px 11px;
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
}
.enlarge:hover{
    color: #fff;
    background: #8DD7FA;
}

/** ASSOCIATIONS **/
.entity-terms{
    padding: 0;
}
.entity-term{
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #406C90;
    color: #fff;
    padding: 7px 16px;
    border-radius: 5px;
    font-size: 11px;
    cursor: default;
    -moz-box-shadow:    3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    box-shadow:         3px 3px 3px #666;
    position: relative;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.entity-term a{
    color: #fff;
}

/****************** NOT FOUND ******************/
#not-found{
    text-align: center;
    color: #868686;
}

#not-found div{
    display: inline-block;
}

#not-found-title{
    font-size: 33px;
    margin-top: 41px;
}

#not-found-subtitle{
    font-size: 16px;
    width: 510px;
    font-weight: 300;
    margin-top: 10px;
}

#not-found .glyphicon{
    font-size: 230px;
    color: #78B8D6;
    margin-top: 70px;
}

#back-btn{
    color: rgb(123, 123, 123);
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Bringing styles more in line with rest of Chaise */

#entity-title, .entity-title {
    font-size: 1.7em;
    font-weight: 500;
    color: #333;
}

.entity-key {
    color: #999;
    font-weight: normal;
    font-size: 1em;
}

.entity-value {
    font-size: 1em;
    color: #333;
}

.entity-term {
    background-color: #428bca;
    font-size: .8em;
}

.panel-title {
    color: inherit;
}

.reference-views .reference-view-title {
    color: #999;
}

.transpose-toggle {
    color: #999;
}

.transpose-toggle.active {
    color: #428bca;
}

.detailGrid {
    min-width: 600px;
}

.ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
}

.ui-grid-row div[role=row] {
  display: flex ;
  align-content: stretch;
}

.fixed-font {
    font-family: "Lucida Console", Courier, monospace;
}


/************ Error Notification **************/
#notification {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

/************ Markdown **************/
.markdown-container li {
    list-style-type: inherit;
}
.markdown-container ul {
    list-style-type: disc;
}
.markdown-container ol {
    list-style-type: decimal;
}
.markdown-container code {
    padding-left: 0;
    padding-right: 0;
    color: #333;
    background-color: #F5F5F5;
}

.markdown-container .vocab {
    color:darkblue;
    background-color:rgba(220, 220, 220, 0.68);
    padding:7px;
    border-radius:10px;
    display: inline-block;
    margin: 2px;
}

.markdown-container img {
    margin : 5px 5px 5px 0px;
}

/***************** ellipses ***************/

.hideContent {
    overflow: hidden;
    line-height: 20px;
}

.showContent {
    line-height: 20px;
    height: auto;
    display: inline
}

.markdown-container > p:last-child {
    margin-bottom: 0px;
}

.recordset-table td .markdown-container img {
    overflow-x: hidden;
}

.page-filters .sub-title {
    font-size: 1.2em;
    color: #747474;
    margin-left: 15px;
}

/************* custom buttons **************/
.btn-no-focus:focus {
    outline: none;
}

.progress {
  margin-bottom: 0;
  height: 30px;
  border: 1px solid #ccc9c9;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.no-row-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.pad0-left {
  padding-left: 0px;
}

.pad0-right {
  padding-right: 0px;
}

/************* search loader ***************/
input.search-progress {
    background: url(images/loader.gif) no-repeat right center;
    background-size: 25px 25px;
    background-position-x: 99%;
}

/************* search input ****************/
.form-control-feedback > span.search-remove {
    border-bottom: none;
}

/*=============Popup modal for login instructions********/

.modal-xl {
    max-width: 80vw;
    width: 1200px;
}

.modal-login .modal-backdrop {
    opacity: 0.7 !important;
}

.modal-login-instruction .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px;
}

.modal-login-instruction .modal-dialog .modal-content {
    width: 600px;
    height: 200px;
}

.modal-login-instruction .modal-dialog ol li {
    list-style-type: decimal;
}

.modal-login-instruction .modal-dialog pre {
    white-space: pre-line;
    word-break: inherit;
    text-align: justify;
}

.modal-login .modal-title {
    font-size: 22px !important;
}

.pls { padding-left: 5px; }
.prs { padding-right: 5px; }
.pts { padding-top: 5px; }
.pbs { padding-bottom: 5px; }
.pads { padding: 5px;  }

.plm { padding-left: 10px; }
.prm { padding-right: 10px; }
.ptm { padding-top: 10px; }
.pbm { padding-bottom: 10px; }
.padm { padding: 10px;  }

.pll { padding-left: 20px; }
.prl { padding-right: 20px; }
.ptl { padding-top: 20px; }
.pbl { padding-bottom: 20px; }
.padl { padding: 20px;  }

.mls { margin-left: 5px; }
.mrs { margin-right: 5px; }
.mts { margin-top: 5px; }
.mbs { margin-bottom: 5px; }
.mars { margin : 5px;  }

.mlm { margin-left: 10px; }
.mrm { margin-right: 10px; }
.mtm { margin-top: 10px; }
.mbm { margin-bottom: 10px; }
.marm { margin: 10px;  }

.mll { margin-left: 20px; }
.mrl { margin-right: 20px; }
.mtl { margin-top: 20px; }
.mbl { margin-bottom: 20px; }
.marl { margin: 20px;  }

footer .container1 {
	padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    color: #595757;
    font-size: 11px;
	line-height: 0;
}
.container1 > p{
	margin: 8px 0 5px !important;
}
.container1 li {
     list-style-type: inherit;
 }
 .container1 ul {
     list-style-type: disc;
     margin: 8px 0 5px !important;
 }
 .container1 ol {
     list-style-type: decimal;
     margin: 8px 0 5px !important;
 }
 .container1 code {
     padding-left: 0;
     padding-right: 0;
     color: #333;
     background-color: #F5F5F5;
 }

<<<<<<< HEAD
/************* resizable ***************/
.resizable {
  position: relative;
}
.resizable.no-transition {
  transition: none !important;
}

.rg-right, .rg-left, .rg-top, .rg-bottom {
  display: block;
  width: 30px;
  height: 14px;
  line-height: 14px;
  position: absolute;
  z-index: 1;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: transparent;
}
.rg-right span, .rg-left span, .rg-top span, .rg-bottom span {
  position: absolute;
  box-sizing: border-box;
  display: block;
  /*border: 1px solid #ccc;*/
}

.rg-right span, .rg-left span {
  /*border-width: 0 1px;*/
  font-family: 'Glyphicons Halflings'; 
  font-size: 1.9em;
  top: 50vh;
  margin-top: -10px;
  margin: -10px 0 0 0.8px;
  height: 20px;
  width: 30px;
}

.rg-right span:before, .rg-left span:before {
    /*content: "\e120";*/
}

.rg-top span, .rg-bottom span {
  border-width: 1px 0;
  left: 50%;
  margin: 3.5px 0 0 -10px;
  width: 20px;
  height: 7px;
}

.rg-top {
  cursor: row-resize;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -14px;
}

.rg-right {
  cursor: col-resize;
  height: 100%;
  right: -20px;
  top: 0;
  margin-right: -14px;
  /*border: 1px solid #ccc;*/
}

.rg-bottom {
  cursor: row-resize;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -14px;
}

.rg-left {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: -14px;
}


/************* ACTION BAR ***********/

.actionBarRTStyle{
    margin-top: -25px;
}
.actionBarEntityStyle{                  
    padding-left: 5px;
    padding-bottom: 5px;
    float: right;
    margin-right: -10px;    
}
.actionBarEntityStyleWithMargin{  
    padding-left: 5px;
    padding-bottom: 5px;
    float: right;                
    margin-left: 15px;        
}

 /********** faceting ************/
 .total-filters {
    margin-bottom: 10px;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100%;
    /*background-color: #f5f5f5;*/
    overflow-x: hidden;
    /*max-height: 140px;*/
    /*overflow-y: auto;*/
 }

 .filter-label {
     padding: .2em .2em .3em;
 }

 .total-filters .filter-label {
     font-size: 1em;
     margin-right: 5px;
     margin-bottom: 5px;
     display: inline-block;
     position: relative;
     border: 0.1px solid #ccc;
     overflow: hidden;
     max-width: 300px;
     text-overflow: ellipsis;
 }
 
 .total-filters .filter-label span {
     border: none;
 }

 .total-filters .remove-link .filter-label {
     background-color: #337ab7;
     color: white;
     font-weight: 600;
     padding: .34em .4em .33em .4em;
 }
 
 .total-filters .remove-link:hover {
     color: #2c6392;
 }


 .label-default {
    background-color: #f1f1f1;
    color: #333;
    font-weight: 500;
 }

 .total-filters .filter-label {
     font-size: 1em;
     margin-right:5px;
     margin-bottom: 5px;
     display:inline-block;
 }
 
 .recordset-container {
    margin-top: 5px; 
 }
 
 .recordset-container.with-faceting {
     -webkit-box-flex: 1;
     display: flex;
     flex: 1;
 }

 .recordset-container.with-faceting > .faceting-resizable {
     flex:0 0 500px;
     position: relative;
     /*border-right: 15px solid white;*/
     min-width: 400px;
     max-width: 50vw;
     -webkit-box-shadow: 11px 3px 16px -2px rgba(204,204,204,1);
    -moz-box-shadow: 11px 3px 16px -2px rgba(204,204,204,1);
    box-shadow: 11px 3px 16px -2px rgba(204,204,204,1);
 }
 .recordset-container.with-faceting > .main-container {
     flex:1;
     border-left: 25px solid white;
     overflow-x: hidden;
     overflow-y: auto;
     max-height: 90vh;
     padding-bottom: 10px;
 }
 /*.recordset-container.with-faceting > .main-container {
     overflow-x: auto;
 }*/
 
 .recordset-container > .main-container {
     margin-top: 10px;
 }

 .faceting-container {
     overflow-y: auto;
     max-height: 90vh;
 }

 .faceting-container .divider {
     margin: 1rem 0;
     line-height: 1;
     height: 0;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: .05em;
     color: rgba(0,0,0,.85);
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-tap-highlight-color: transparent;
     border-top: 1px solid rgba(34,36,38,.15);
     border-bottom: 1px solid rgba(255,255,255,.1);
 }

 .faceting-container .panel-default>.panel-heading {
     text-transform: none;
     background-color: #f5f5f5;
 }

 .faceting-container .update-btn {
     float: right;
 }
 
 .faceting-container .refresh-btn {
     cursor: pointer;
 }
 
 .faceting-container .glyphicon-alert {
     color: #f0ad4e;
     border: none;
 }
 
 .faceting-container .glyphicon-refresh {
     border: none;
 }
 
 
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

 .faceting-container .panel .accordion-toggle {
     cursor: pointer;
 }

 .faceting-container .panel-heading .accordion-toggle:after {
     /* symbol for "opening" panels */
     font-family: 'Glyphicons Halflings'; 
     content: "\e114";   
     float: left;        
     color: #286090;        
     margin-right: 5px;
 }

 .faceting-container .panel-heading .accordion-toggle.collapsed:after {
     /* symbol for "collapsed" panels */
     content: "\e080";
 }


 .faceting-container .panel .panel-title {
     margin-bottom: 7px;
     font-size: 1.15em;
     color: #337ab7;
     font-weight: 600;
 }
 
 .faceting-container .panel {
     border: 1px solid #ddd !important;
 }
 
 .faceting-container .panel .panel-body {
     padding: 5px 25px 10px !important;
     /*border: 1px solid #ddd;*/
     border-top: none !important;
     border: none;
 }
 
 .faceting-container .panel-group {
     margin-right: 5px;
     margin-top: 5px;
     margin-bottom: 20px;
 }

 .faceting-container .applied-filters {
     margin-top: 5px;
     max-height: 100px;
     overflow-y: auto;
 }

 .faceting-container .applied-filters .filter-label {
     margin-right: 5px;
     margin-bottom: 5px;
     border: 0.1px solid #ccc;
     display: inline-block;
     font-size: 0.8em;
 }
 
 .faceting-container .applied-filters .filter-label:before {
     margin-right: 0;
 }
 
 .faceting-container .panel-default>.panel-heading div:before, 
 .faceting-container .panel-default>.panel-heading div.active:before {
     content: "";
 }
 
 .faceting-container .applied-filters .filter-icon {
     /*color: white;*/
 }

 .faceting-container .applied-filters .remove-link {
     color: #337ab7;
     font-weight: 600;
 }
 .faceting-container .applied-filters .remove-link:hover {
     color: #2c6392;
 }
 
 .remove-link .filter-label {
     background-color: #337ab7;
     color: white;
 }
 
 .filter-label {
     background-color: white;
     color: #333;
     font-weight: 500;
     border: 0.1px solid #ccc;
 }

 /* INTEGER SEARCH */

 .faceting-container .range-picker hr {
  color: #f5f5f5;
  width: 1px;
 }
 .faceting-container .range-picker .form-inline input {
     width: 120px;
     margin-right: 10px;
 }

 /* STRING SEARCH */
 .faceting-container .string-picker .tab-content{
     margin-top: 10px;
 }
.faceting-container .string-picker .pager {
    margin: 0px;
}

.faceting-container .string-picker a.nav-link {
    padding: 5px 15px;
}


/*************** LIST ***************************/
.chaise-list-container {
    padding-left: 0px;
    margin-top: 10px;
}
.chaise-checkbox {
    position: relative;
    /*margin: 10px 0;*/
}
.ellipsis-text label{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chaise-checkbox input {
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    width: 17px;
    height: 17px;
    top: 2px;
}
.chaise-checkbox label {
    display: inline-block;
    padding-left: 25px;
    font-weight: 500;
    position: relative;
    vertical-align: middle;
    min-height: 20px;
}
.chaise-checkbox label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top:2px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.chaise-checkbox input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.chaise-checkbox input[type="checkbox"]:checked + label:after{
    font-family: 'Glyphicons Halflings'; 
    content:"\e013";
    color: #fff;
}
.chaise-checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top:2px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

/******* range inputs ***********/
range-inputs  .input-clearbtn{
    cursor: pointer;
    right: 4px;
    pointer-events: all;
    z-index: 5;
}

range-inputs  .input-container {
    position: relative;
}
