footer .container1 {
	padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
	padding-bottom: 5px;
    color: #595757;
    font-size: 10px;
	line-height: 0;
}
.container1 > p{
	margin: 8px 0 5px !important;
}
