body > .container {
	min-height: 100%;
	position: relative;
}

.content {
	min-height: 100%;
	position: relative;
	padding-top: 70px;
}

#mainnav {
    z-index: 1037;
}

.error-open #mainnav {
    z-index: 1051;
}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
}

.navbar-inverse .navbar-nav > li > a {
   color: #C1C1C1;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav.navbar-right > li > a{
   color: #59C4FF;
}

.navbar-inverse .navbar-nav.navbar-right > li > a:hover{
   color: #FFF;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #4D4D4D;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #4D4D4D;
}

.navbar-inverse .navbar-text {
	color: #FFF;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
		color: #fff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6px 0 6px 6px; /* was 5px 0 5px 5px */
    border-left-color: #428bca; /* was #ccc */
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #777; /* was #fff */
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
