html,body {
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
	background-color: #FFF;
}

body > .container {
	min-height: 100%;
	position: relative;
	padding-top: 70px;
}

.content {
	min-height: 100%;
	position: relative;
	padding-top: 70px;
}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
}

.navbar-inverse .navbar-nav > li > a {
   color: #C1C1C1;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav.navbar-right > li > a{
   color: #59C4FF;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #4D4D4D;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #4D4D4D;
}

.navbar-inverse .navbar-text {
	color: #FFF;
}

#mainnav .form-control-feedback {
     height: 28px;
     line-height: 28px;
}
