<fieldset class="form-inline" ng-form="minMaxForm" ng-disabled="disabled" ng-class="{'disabled-form': disabled}">
    <!-- From value (min of range) -->
    <div class="range-inputs-width" ng-switch="columnToInputType(type)">
        <label for="from-val">From:</label>
        <!-- int, float, numeric -->
        <div ng-switch-when="number" class="numeric-date-width" id="from-val">
            <div class="input-container" ng-form="numericMin">
                <div ng-switch="type.name">
                    <!-- int2 -->
                    <div ng-switch-when="int2">
                        <div class="chaise-input-control has-feedback">
                            <input type="number" class="range-min" min="{{intMin}}" max="{{intMax}}" placeholder="{{absMin}}" ng-model="model.min" integer disable-arrows>
                            <chaise-clear-input btn-class="min-clear" click-callback="model.min=''" show="model.min || (numericMin.$invalid && numericMin.$dirty)"></chaise-clear-input>
                        </div>
                    </div>
                    <!-- int4 -->
                    <div ng-switch-when="int4">
                        <div class="chaise-input-control has-feedback">
                            <input type="number" class="range-min" min="{{intMin}}" max="{{intMax}}" placeholder="{{absMin}}" ng-model="model.min" integer disable-arrows>
                            <chaise-clear-input btn-class="min-clear" click-callback="model.min=''" show="model.min || (numericMin.$invalid && numericMin.$dirty)"></chaise-clear-input>
                        </div>

                    </div>
                    <!-- int8 -->
                    <div ng-switch-when="int8">
                        <div class="chaise-input-control has-feedback">
                            <input type="number" class="range-min" min="{{intMin}}" max="{{intMax}}" placeholder="{{absMin}}" ng-model="model.min" integer disable-arrows>
                            <chaise-clear-input btn-class="min-clear" click-callback="model.min=''" show="model.min || (numericMin.$invalid && numericMin.$dirty)"></chaise-clear-input>
                        </div>
                    </div>
                    <!-- float4/float8/numeric -->
                    <div ng-switch-default>
                        <div class="chaise-input-control has-feedback">
                            <input type="text" class="range-min" placeholder="{{absMin}}" ng-model="model.min" float>
                            <chaise-clear-input btn-class="min-clear" click-callback="model.min=''" show="model.min || (numericMin.$invalid && numericMin.$dirty)"></chaise-clear-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- date -->
        <div ng-switch-when="date" class="numeric-date-width" id="from-val">
            <div class="input-container chaise-input-control has-feedback" ng-form="dateMin">
                <input type="text" class="range-min" placeholder="{{absMin || dataFormats.placeholder.date}}" ng-model="model.min" date />
                <chaise-clear-input btn-class="min-clear" click-callback="model.min=''" show="model.min || (dateMin.$invalid && dateMin.$dirty)"></chaise-clear-input>
            </div>
        </div>
        <!-- timestamp[tz] -->
        <div ng-switch-when="datetime" class="datetime-width" id="from-val">
            <div>
                <div class="chaise-input-group input-container" ng-form="tsDateMin">
                    <span class="chaise-input-group-prepend">
                        <div class="chaise-input-group-text dt-width">Date</div>
                    </span>
                    <div class="chaise-input-control has-feedback">
                        <input type="text" class="ts-date-range-min" placeholder="{{absMin.date || dataFormats.placeholder.date}}" ng-model="model.min.date" date />
                        <chaise-clear-input btn-class="min-date-clear" click-callback="model.min.date=''" show="model.min.date || (tsDateMin.$invalid && tsDateMin.$dirty)"></chaise-clear-input>
                    </div>
                </div>
            </div>
            <div>
                <div class="chaise-input-group input-container" ng-form="timeMin">
                    <span class="chaise-input-group-prepend">
                        <div class="chaise-input-group-text dt-width">Time</div>
                    </span>
                    <div class="chaise-input-control has-feedback">
                        <input type="text" class="ts-time-range-min" placeholder="{{absMin.time || dataFormats.placeholder.time}}" ng-model="model.min.time" time />
                        <chaise-clear-input btn-class="min-time-clear" click-callback="model.min.time=''" show="model.min.time || (timeMin.$invalid && timeMin.$dirty)"></chaise-clear-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- To value (max of range) -->
    <div class="range-inputs-width" ng-switch="columnToInputType(type)">
        <label for="to-val">To:</label>
        <!-- int, float, numeric -->
        <div ng-switch-when="number" class="numeric-date-width" id="to-val">
            <div class="input-container" ng-form="numericMax">
                <div ng-switch="type.name">
                    <!-- int2 -->
                    <div ng-switch-when="int2">
                        <div class="chaise-input-control">
                            <input type="number" class="range-max" min="{{intMin}}" max="{{intMax}}" placeholder="{{absMax}}" ng-model="model.max" integer disable-arrows>
                            <chaise-clear-input btn-class="max-clear" click-callback="model.max=''" show="model.max || (numericMax.$invalid && numericMax.$dirty)"></chaise-clear-input>
                        </div>
                    </div>
                    <!-- int4 -->
                    <div ng-switch-when="int4">
                        <div class="chaise-input-control">
                            <input type="number" class="range-max" min="{{intMin}}" max="{{intMax}}" placeholder="{{absMax}}" ng-model="model.max" integer disable-arrows>
                            <chaise-clear-input btn-class="max-clear" click-callback="model.max=''" show="model.max || (numericMax.$invalid && numericMax.$dirty)"></chaise-clear-input>
                        </div>
                    </div>
                    <!-- int8 -->
                    <div ng-switch-when="int8">
                        <div class="chaise-input-control">
                            <input type="number" class="range-max" min="{{intMin}}" max="{{intMax}}" placeholder="{{absMax}}" ng-model="model.max" integer disable-arrows>
                            <chaise-clear-input btn-class="max-clear" click-callback="model.max=''" show="model.max || (numericMax.$invalid && numericMax.$dirty)"></chaise-clear-input>
                        </div>
                    </div>
                    <!-- float4/float8/numeric -->
                    <div ng-switch-default>
                        <div class="chaise-input-control">
                            <input type="text" class="range-max" placeholder="{{absMax}}" ng-model="model.max" float>
                            <chaise-clear-input btn-class="max-clear" click-callback="model.max=''" show="model.max || (numericMax.$invalid && numericMax.$dirty)"></chaise-clear-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- date -->
        <div ng-switch-when="date" class="numeric-date-width" id="to-val">
            <div class="input-container chaise-input-control" ng-form="dateMax">
                <input type="text" class="range-max" placeholder="{{absMax || dataFormats.placeholder.date}}" ng-model="model.max" date />
                <chaise-clear-input btn-class="max-clear" click-callback="model.max=''" show="model.max || (dateMax.$invalid && dateMax.$dirty)"></chaise-clear-input>
            </div>
        </div>
        <!-- timestamp[tz] -->
        <div ng-switch-when="datetime" class="datetime-width" id="to-val">
            <div>
                <div class="chaise-input-group input-container" ng-form="tsDateMax">
                    <span class="chaise-input-group-prepend">
                        <div class="chaise-input-group-text dt-width">Date</div>
                    </span>
                    <div class="chaise-input-control has-feedback">
                        <input type="text" class="ts-date-range-max" placeholder="{{absMax.date || dataFormats.placeholder.date}}" ng-model="model.max.date" date />
                        <chaise-clear-input btn-class="max-date-clear" click-callback="model.max.date=''" show="model.max.date || (tsDateMax.$invalid && tsDateMax.$dirty)"></chaise-clear-input>
                    </div>
                </div>
            </div>
            <div>
                <div class="chaise-input-group input-container" ng-form="timeMax">
                    <span class="chaise-input-group-prepend">
                        <div class="chaise-input-group-text dt-width">Time</div>
                    </span>
                    <div class="chaise-input-control has-feedback">
                        <input type="text" class="ts-time-range-max" placeholder="{{absMax.time || dataFormats.placeholder.time}}" ng-model="model.max.time" time />
                        <chaise-clear-input btn-class="max-time-clear" click-callback="model.max.time=''" show="model.max.time || (timeMax.$invalid && timeMax.$dirty)"></chaise-clear-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="chaise-btn chaise-btn-primary icon-btn" ng-click="addRange()" ng-disabled="disableAdd()" style="vertical-align: bottom;" uib-tooltip="Apply this range filter" tooltip-placement="right">
        <span class="chaise-btn-icon glyphicon glyphicon-ok"></span>
    </button>
    <div ng-messages="minMaxForm.$error" ng-show="minMaxForm.$dirty || minMaxForm.$submitted" class="text-danger validation-error" role="alert">
        <div ng-message="min" ng-show="minMaxForm.numericMin.$error.min || minMaxForm.numericMax.$error.min">This field requires a value greater than {{intMin}}.</div>
        <div ng-message="max" ng-show="minMaxForm.numericMin.$error.max || minMaxForm.numericMax.$error.max">This field requires a value smaller than {{intMax}}.</div>
        <div ng-message="date" ng-show="minMaxForm.dateMin.$error.date || minMaxForm.dateMax.$error.date || minMaxForm.tsDateMin.$error.date || minMaxForm.tsDateMax.$error.date">Please enter a date value in {{dataFormats.placeholder.date}} format.</div>
        <div ng-message="time" ng-show="minMaxForm.timeMin.$error.time || minMaxForm.timeMax.$error.time">Please enter a time value in 24-hr {{dataFormats.placeholder.time}} format.</div>
        <div ng-message="integer" ng-show="minMaxForm.numericMin.$error.integer">Please enter an integer value.</div>
        <div ng-message="float" ng-show="minMaxForm.numericMin.$error.float">Please enter a decimal value.</div>
        <div ng-message="improperRange" ng-show="minMaxForm.$error.improperRange">'From' value cannot be greater than the 'To' value.</div>
    </div>
</fieldset>
