.chaise-body {
    .chaise-btn {
        display: inline-block;
        height: 30px;
        min-width: 30px;
        @include border-radius(4px);
        border: $btn-border-width solid;
        padding: 0 10px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        &.chaise-btn-sm {
            height: 24px;
            min-width: 24px;
        }

        > .chaise-btn-icon {
            margin-right: 2px;
        }

        &.icon-btn {
            padding: 7px 5px;
            * {
                margin-right: 0;
            }
        }

        &.text-btn {

        }

        &:focus {
            outline: none;
        }

        &.chaise-btn.chaise-btn-primary[disabled], &.chaise-btn.chaise-btn-secondary[disabled] {
            color: $disabled-color;
            background-color: $disabled-background-color;
            border-color: $disabled-background-color;
            cursor: not-allowed;
            pointer-events: none;

            &:focus {
                background-color: $disabled-background-color;
            }
        }

        &.chaise-btn-primary {
            color: $white-color;
            background-color: $primary-color;
            border-color: $black-color;

            &:focus {
                background-color: darken($primary-color, 10%);
            }
        }

        &.chaise-btn-secondary {
            color: $primary-color;
            background-color: $white-color;
            border: 1px solid $primary-color;

            &:focus {
                background-color: darken($white-color, 10%);
            }
        }

        &.chaise-btn-tertiary {
            color: $primary-color;
            border: none;
            background: transparent;

            &:focus {
                outline: none;
            }
        }

    }
}

//TODO
.btn.btn-primary.btn-inverted[disabled],
.chaise-checkbox input[disabled][type="checkbox"] + label:before {
    color: #ccc !important;
    border-color: #ccc !important;
}


//TODO
.chaise-checkbox input[disabled][type="checkbox"]:checked + label:after {
    color: #ccc !important;
}


// TODO used for "all on page"/"none on page"
.btn-condensed {
    padding: 0 5px;
}
