.help-container {
    .app-content-container {
        // TODO should be removed if we added breadcrumb to the top of the page
        .main-container {
            padding-top: 20px;
        }

        // distant footer and main body
        .main-body {
            padding-bottom: 20px;
        }
    }

    #toc-container {
        padding-top: 20px;
    }


    // override the default that we have for markdown containers
    .markdown-container {
        h1 {
            font-size: $h1-font-size;
        }

        h2 {
            font-size: $h2-font-size;
        }

        h3 {
            font-size: $h3-font-size;
        }

        h4 {
            font-size: $h4-font-size;
        }
    }

    .chaise-help-image {
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
