#login2 {
    .chaise-body {
        overflow-y: auto;

        li {
            list-style-type: unset;
        }
    }

    .main-container {
        min-width: 400px;
        max-width: 800px;
        margin: 0 30px;
        padding: 30px 0;
        font-size: 16px;

        h2 {
            font-size: 1.75em;
        }

        p {
            padding: 20px 0;
        }

        .btn-container {
            font-size: 1rem;

            a {
                text-decoration: none;
            }
        }
    }

}
