// uploader
.modal-upload-progress {
    .progress {
        margin-bottom: 0;
        height: 30px;
        border: 1px solid #ccc9c9;
    }

    .no-row-margin {
        margin-left: 0;
        margin-right: 0;
    }

    .pad0-left {
        padding-left: 0;
    }

    .pad0-right {
        padding-right: 0;
    }

}

/******** Popup modal for login instructions ********/
.modal-login .modal-backdrop {
    opacity: 0.7 !important;
}
/* .window-class first */
.modal-login-instruction .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px;
}

.modal-login-instruction .modal-dialog .modal-content {
    width: 600px;
}

.modal-login-instruction .modal-dialog ol li {
    list-style-type: decimal;
}

.modal-login-instruction .modal-dialog pre {
    white-space: pre-line;
    word-break: inherit;
    text-align: justify;
}

.modal-login .modal-title {
    font-size: 22px !important;
}
/******* Popup modal for previous login ********/
body.previous-login > .modal-login-instruction {
    z-index: 99999 !important;
}

body.previous-login > *:not(.modal-login-instruction):not(navbar):not(.modal-backdrop) {
    display: none !important;
}
/******* Popup modal for error ********/
/* hide the loading spinner if we have the error dialog open */
body.error-open loading-spinner {
    display: none !important;
}
/******* Popup modal for share ********/
.chaise-share-citation ul {
    padding-left: 10px;
}

.chaise-share-citation #share-link h2 {
    margin-top: 5px;
}

.chaise-share-citation span.glyphicon-copy {
    cursor: pointer;
}


/*******Bootstrap  Modal styling *********/
/*When the modal fills the screen it has an even 2.5% on top and bottom*/
/*Centers the modal*/
.modal-xl {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 95vw;
}

.modal-lg {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 80vw;
}

.modal-md {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 60vw;
}

.modal-close {
    padding: 3px 8px;
}
/*Sets the maximum height of the entire modal to 95% of the screen height*/
.modal-content {
    max-height: 95vh;
    overflow: hidden;
    max-width: 95vw;
}
/*Sets the maximum height of the modal body to 85% of the screen height*/
.modal-xl .modal-body {
    max-height: 90vh;
    min-height: 40vh;
}

.modal-lg .modal-body {
    max-height: 90vh;
    min-height: 40vh;
}
/* Sets the table's maximum height to 70% of the screen height and adds a border at the bottom */
.modal-body .outer-table {
    max-height: 70vh;
    border: 1px solid lightgrey;
}
/* Sets the margin-bottom for the table inside modal to 0px*/
.modal-body .outer-table .table {
    margin-bottom: 0;
    overflow: scroll;
}
@media (max-width: 800px) {
    .modal-body .outer-table {
        max-height: 67vh;
    }
}
@media (max-width: 600px) {
    .modal-body .outer-table {
        max-height: 60vh;
    }
}
@media (max-width: 500px) {
    .modal-body .outer-table {
        max-height: 55vh;
    }
}

.modal-body #spinner {
    width: 100%;
    text-align: center;
    padding: 14px 0;
    position: absolute;
    height: 100%;
    top: 75px;
    left: 75px;
    z-index: 10;
    border: none;
    border-radius: 0;
    background: rgba(128, 128, 128, 0.25);
}

.modal-body img.spinner {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 49%;
}

.popup-select-value {
    height: auto !important;
    max-height: 5.35em !important;
    z-index: 0;
    border-radius: 5px !important;
    padding-right: 0;
}

.modal-popup .input-group-addon {
    padding: 0;
    background-color: transparent;
    border: none;
    vertical-align: top;
}

/************* Profile Card ****************/
#profile-modal li {
    list-style-type: disc;
}

.modal-dialog .profileValue {
    padding-left: 32px;
}


// TODO: replace with inline styles as sttribute on elements (used in login modal)
.pls {
    padding-left: 5px;
}

.prs {
    padding-right: 5px;
}

.pts {
    padding-top: 5px;
}

.pbs {
    padding-bottom: 5px;
}

.pads {
    padding: 5px;
}

.plm {
    padding-left: 10px;
}

.prm {
    padding-right: 10px;
}

.ptm {
    padding-top: 10px;
}

.pbm {
    padding-bottom: 10px;
}

.padm {
    padding: 10px;
}

.pll {
    padding-left: 20px;
}

.prl {
    padding-right: 20px;
}

.ptl {
    padding-top: 20px;
}

.pbl {
    padding-bottom: 20px;
}

.padl {
    padding: 20px;
}

.mls {
    margin-left: 5px;
}

.mrs {
    margin-right: 5px;
}

.mts {
    margin-top: 5px;
}

.mbs {
    margin-bottom: 5px;
}

.mars {
    margin: 5px;
}

.mlm {
    margin-left: 10px;
}

.mrm {
    margin-right: 10px;
}

.mtm {
    margin-top: 10px;
}

.mbm {
    margin-bottom: 10px;
}

.marm {
    margin: 10px;
}

.mll {
    margin-left: 20px;
}

.mrl {
    margin-right: 20px;
}

.mtl {
    margin-top: 20px;
}

.mbl {
    margin-bottom: 20px;
}

.marl {
    margin: 20px;
}


/************** search popup **************/
#multi-select-submit-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
}
