// don't add border to the modal header
.modal-header {
    border-bottom: none;
}

// uploader
.modal-upload-progress {
    .progress {
        margin-bottom: 0;
        height: 30px;
        border: 1px solid #ccc9c9;
    }

    .no-row-margin {
        margin-left: 0;
        margin-right: 0;
    }

    .pad0-left {
        padding-left: 0;
    }

    .pad0-right {
        padding-right: 0;
    }

}

/******** Popup modal for login instructions ********/
.modal-login .modal-backdrop {
    opacity: 0.7 !important;
}

.modal-login-instruction .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px;
}

.modal-login-instruction .modal-dialog .modal-content {
    width: 600px;
}

.modal-login-instruction .modal-dialog ol li {
    list-style-type: decimal;
}

.modal-login-instruction .modal-dialog pre {
    white-space: pre-line;
    word-break: inherit;
    text-align: justify;
}

.modal-login .modal-title {
    font-size: 22px !important;
}

/******* Popup modal for error ********/
/* hide the loading spinner if we have the error dialog open */
body.error-open loading-spinner {
    display: none !important;
}

.modal-error {
    .no-word-break {
        white-space: nowrap;
    }

    .toggle-error-details i {
        font-size: 1.3em;
        padding-right: 3px;
    }

    .modal-footer .chaise-btn {
        width: 60px;

        &.footer-continue-btn {
            width: unset;
        }
    }
}


/******* Popup modal for share ********/
.chaise-share-citation {
    ul {
        padding-left: 10px;
    }

    #share-link h2 {
        margin-top: 5px;
    }

    .citation-loader {
        padding-top: 20px;
    }
}

/*******Bootstrap  Modal styling *********/
/*When the modal fills the screen it has an even 2.5% on top and bottom*/
/*Centers the modal*/
.modal-xl {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 95vw;
}

.modal-lg {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 80vw;
}

.modal-md {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 60vw;
}

.modal-close-absolute {
    position: absolute;
    right: 15px;
    top: 15px;
}
/*Sets the maximum height of the entire modal to 95% of the screen height*/
.modal-content {
    max-height: 95vh;
    overflow: hidden;
    max-width: 95vw;
}
/*Sets the maximum height of the modal body to 85% of the screen height*/
.modal-xl .modal-body {
    max-height: 90vh;
    min-height: 40vh;
}

.modal-lg .modal-body {
    max-height: 90vh;
    min-height: 40vh;
}

.modal-body #spinner {
    top: 50% !important;
}

.modal-popup .input-group-addon {
    padding: 0;
    background-color: transparent;
    border: none;
    vertical-align: top;
}

/************* Profile Card ****************/
.profile-popup {
    // to allow scrolling and showing all content
    .modal-content {
        max-height: unset;
    }
    ul li {
        list-style-type: disc;
    }

    table tr:nth-child(1) > td {
        border-top: none;
    }

    .profileValue {
        padding-left: 32px;
    }
}




/************** search popup **************/
.search-popup {
    #multi-select-submit-btn {
        margin-right: 5px;
    }

    .modal-content {
        height: 95vh;
        .modal-header {
            padding: 0;
        }
        .modal-body {
            padding: 0;
            height: 90vh;
            .top-panel-container {
                padding-top: 0;
            }
        }
    }

}

// don't show alerts on modals
// except facet since it has to show the url length error
.modal:not(.faceting-show-details-popup) .recordset-container alerts {
    display: none !important;
}

.scalar-show-details-popup {
    // change width of number of Occurrences
    // we cannot use the class name because the scalar column might be using the same name
    .recordset-table th:nth-child(3){
        width: 130px;
    }
}
