// uploader
.modal-upload-progress {
    .progress {
        margin-bottom: 0;
        height: 30px;
        border: 1px solid #ccc9c9;
    }

    .no-row-margin {
        margin-left: 0;
        margin-right: 0;
    }

    .pad0-left {
        padding-left: 0;
    }

    .pad0-right {
        padding-right: 0;
    }

}

/******** Popup modal for login instructions ********/
.modal-login .modal-backdrop {
    opacity: 0.7 !important;
}
/* .window-class first */
.modal-login-instruction .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px;
}

.modal-login-instruction .modal-dialog .modal-content {
    width: 600px;
}

.modal-login-instruction .modal-dialog ol li {
    list-style-type: decimal;
}

.modal-login-instruction .modal-dialog pre {
    white-space: pre-line;
    word-break: inherit;
    text-align: justify;
}

.modal-login .modal-title {
    font-size: 22px !important;
}
/******* Popup modal for previous login ********/
body.previous-login > .modal-login-instruction {
    z-index: 99999 !important;
}

body.previous-login > *:not(.modal-login-instruction):not(navbar):not(.modal-backdrop) {
    display: none !important;
}
/******* Popup modal for error ********/
/* hide the loading spinner if we have the error dialog open */
body.error-open loading-spinner {
    display: none !important;
}
/******* Popup modal for share ********/
.chaise-share-citation ul {
    padding-left: 10px;
}

.chaise-share-citation #share-link h2 {
    margin-top: 5px;
}

/*******Bootstrap  Modal styling *********/
/*When the modal fills the screen it has an even 2.5% on top and bottom*/
/*Centers the modal*/
.modal-xl {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 95vw;
}

.modal-lg {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 80vw;
}

.modal-md {
    margin: 2.5vh auto;
    width: auto !important;
    max-width: 60vw;
}

.modal-close {
    padding: 3px 8px;
}
/*Sets the maximum height of the entire modal to 95% of the screen height*/
.modal-content {
    max-height: 95vh;
    overflow: hidden;
    max-width: 95vw;
}
/*Sets the maximum height of the modal body to 85% of the screen height*/
.modal-xl .modal-body {
    max-height: 90vh;
    min-height: 40vh;
}

.modal-lg .modal-body {
    max-height: 90vh;
    min-height: 40vh;
}

.modal-body #spinner {
    top: 50% !important;
}

.modal-popup .input-group-addon {
    padding: 0;
    background-color: transparent;
    border: none;
    vertical-align: top;
}

/************* Profile Card ****************/
#profile-modal li {
    list-style-type: disc;
}

.modal-dialog .profileValue {
    padding-left: 32px;
}

/************** search popup **************/
.search-popup {
    #multi-select-submit-btn {
        margin-right: 10px;
    }

    .modal-body {
        padding: 0;
        height: 90vh;
    }
}


.modal:not(.faceting-show-details-popup) .recordset-container alerts {
    display: none !important;
}
