.chaise-body {
    .outer-table {
        overflow-x: auto;
    }

    .chaise-table-title {
        margin-bottom: 10px;
    }

    .chaise-table.table {
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
        margin: 0;

        /* if you want the table to have a fixed layout */
        &.table-fixed-layout {
            table-layout: fixed;
            width: 100%;
        }

        // TODO: verify this still works as expected
        tbody {
            display: table-row-group;
            vertical-align: middle;

            > tr > td.disabled-cell {
                background-color: #f4f4f4;
            }

            /* table hover */
            > tr:hover {
                background-color: #f7f0cf !important;

                /* match color from row highlight for disabled cells */
                > td.disabled-cell {
                    background-color: #f7f0cf !important;
                }
            }

            /* odd disabled cells need to be darker */
            > tr:nth-child(odd) > td.disabled-cell {
                background-color: #ebebeb;
            }

            /* odd row hover for striped table */
            > tr:nth-child(odd):hover {
                background-color: #efebda !important;

                /* odd disabled cells need to match odd row hover for striped table above */
                > td.disabled-cell {
                    background-color: #efebda !important;
                }
            }
        }

        tr {
            border-left: 1px solid $table-border-color;
            border-bottom: none;
        }

        .table-heading {
            background-color: $table-header-background-color;
            color: $black-color;
        }

        &.table-striped > tbody > tr:nth-child(odd) {
            background: $table-striped-background-color;
        }

        >thead>tr>th {
            border-bottom: 1px solid $table-border-color;
        }

        >thead>tr>th,
        >tbody>tr>th,
        >tfoot>tr>th,
        >thead>tr>td,
        >tbody>tr>td,
        >tfoot>tr>td {
            border-top: none;
            border-right: 1px solid $table-border-color;
            word-wrap: break-word;
        }

        >tbody>tr>td {
            padding: 5px;
        }

        th {
            font-weight: 400;
            border-top: 1px solid $table-border-color;
            position: relative;

            // TODO make sure it works
            &.multi-select-width {
                width: 140px;
                text-align: center;
            }

            &.actions-header {
                white-space: nowrap;
                text-align: center;
                font-size: $h4-font-size;
                padding: 8px;
            }

            .table-column-displayname {
                font-size: $h4-font-size;
            }

            // preserve space for the icon on the right
            padding-right: 10px + 15px;
            .table-heading-icons {
                position: absolute;
                bottom: 7px;
                right: 10px;
                font-size: $h4-font-size;

                .aggregate-col-loader {
                    right: -5px
                }
            }
        }

        .action-btns {
            text-align: center;
            font-size: 1.14em;
            .chaise-btn {
                padding: 0;
                margin: -3px;
            }
        }


    }

    .chaise-table-pagination {
        margin: 20px 0;
        text-align: center;
        button {
            width: 75px;
        }
    }


    .recordset-container {
        padding: 20px;
        padding-right: 0;

        .top-panel-container {
            -webkit-box-flex: 1;
            display: flex;
            flex: 1;
            position: relative;
            padding-right: 20px;

            .top-left-panel {
                .faceting-header {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    h3 {
                        margin: 0;
                    }
                    button {
                        padding: 0;
                        padding-bottom: 7px;
                    }
                }
            }

            .top-right-panel {
                flex: 1;
                position: relative;
                z-index: 1;
            }
        }

        .top-right-panel, .main-content .main-container {
            padding-left: 30px;
        }

        .main-content {
            .side-panel-resizable {
                .side-panel-container {

                    .faceting-columns-container {
                        overflow-y: auto;
                        border-right: solid 1px $border-color;
                    }

                    .panel-group {
                        margin-right: 5px;
                        margin-top: 5px;
                        margin-bottom: 20px;

                        // each facet panel
                        .panel.facet-panel {
                            border-radius: 0;
                            border: 1px solid $border-color;

                            // active style
                            &.active,
                            &:hover {
                                border-color: rgb(51, 122, 183) !important;
                                animation-duration: 4s;
                            }

                            // override bootstrap default
                            + .facet-panel {
                                margin-top: 0;
                                border-top: 0;
                            }

                            .panel-heading {
                                // override bootstrap default
                                text-transform: none;
                                border: 0;
                                border-radius: 0;

                                background-color: $table-header-background-color;
                                .panel-title {
                                    a {
                                        color: $black-color;
                                        text-decoration: none;
                                    }

                                    position: relative;
                                    .toggle-icon {
                                        position: absolute;
                                        top: 0;
                                        left: 5px;
                                    }
                                    .show-tooltip-border {
                                        margin-left: 25px;
                                    }
                                }
                            }

                            .panel-body {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }

    }


    //TODO should be valuated

    .filters-tooltip {
        margin-right: 2%;
    }

    .filters-tooltip .tooltip-inner {
        white-space: normal;
    }

    .filters-tooltip .tooltip-inner {
        max-width: inherit;
    }


    /************* search loader ***************/
    input.search-progress {
        background: url("images/loader.gif") no-repeat right center;
        background-size: 25px 25px;
        background-position-x: 99%;
    }

    /************* search input ****************/
    .form-control-feedback > span.search-remove {
        border-bottom: none;
    }

    .total-filters {
        margin-bottom: 10px;
        margin-left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 100%;
        /*background-color: #f5f5f5;*/
        overflow-x: hidden;
        /*max-height: 140px;*/
        /*overflow-y: auto;*/
    }

    .filter-label {
        padding: 0.2em 0.3em 0.3em;
    }

    .total-filters .filter-label {
        font-size: 1em;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block;
        position: relative;
        border: 1px solid #ccc;
        overflow: hidden;
        max-width: 350px;
        text-overflow: ellipsis;
        height: 26px;
    }

    .total-filters .filter-label .filter-label-colon,
    .total-filters .filter-label .filter-label-title,
    .total-filters .filter-label .filter-label-value,
    .total-filters .filter-label .remove-link {
        vertical-align: middle;
    }

    .total-filters .filter-label .remove-link i {
        top: 0.1em;
    }

    .total-filters .filter-label span {
        border: none;
    }

    .total-filters .filter-label .filter-label-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 150px;
        margin-right: -2px;
        padding: 0.1em 0;
    }

    .total-filters .remove-link .filter-label {
        background-color: #337ab7;
        color: white;
        padding: 0.34em 0.4em 0.33em;
    }

    .total-filters .remove-link:hover {
        color: #2c6392;
    }

    .label-default {
        background-color: #f1f1f1;
        color: #333;
        font-weight: 500;
    }


    // .recordset-container.without-faceting .main-container {
    //     padding-top: 20px;
    // }

    // .recordset-container.with-faceting > .main-container {
    //     flex: 1;
    //     position: relative;
    //     z-index: 1;
    //     overflow-y: auto;
    //     padding-top: 15px;
    //     border-left: 25px solid white;
    //     padding-left: 5px;
    // }

    // .recordset-container.with-faceting #main-content{
    //     -webkit-box-flex: 1;
    //     display: flex;
    //     flex: 1;
    //     margin-top: 5px;
    // }
    //
    // /** recordset with faceting side panel **/
    // .recordset-container.with-faceting > .side-panel-resizable {
    //     padding-top: 5px;
    //     position: relative;
    //     max-width: 50vw;
    //     z-index: 2;
    // }
    //
    // .recordset-container.with-faceting > .side-panel-resizable.initializing > .rg-right > span {
    //     display: none;
    // }
    //
    // .recordset-container.with-faceting > .side-panel-resizable.open-panel {
    //     flex: 0 0 21vw;
    //     min-width: 170px;
    //     padding-left: 5px;
    // }
    //
    // .recordset-container.with-faceting > .side-panel-resizable.close-panel {
    //     width: 0;
    //     flex-basis: 0 !important;
    // }
    //
    // .recordset-container.with-faceting > .side-panel-resizable.close-panel .side-panel-container {
    //     width: 0;
    // }
    .modal-body .recordset-container footer {
        display: none !important;
    }

    .modal-body .recordset-container alerts:not(.enforce-alert) {
        display: none !important;
    }

    // .recordset-container.with-faceting > .main-container {
    //     flex: 1;
    //     position: relative;
    //     z-index: 1;
    //     overflow-y: auto;
    //     padding-top: 15px;
    // }

    // .recordset-container.with-faceting .main-body {
    //     border-left: 25px solid white;
    //     padding-right: 10px;
    // }

    .recordset-container.with-faceting .pager {
        margin-bottom: 50px;
    }

    .recordset-container > .main-container {
        overflow-x: hidden;
    }

    // .side-panel-container .toggle-icon {
    //     margin-right: 5px;
    // }

    // .side-panel-container .panel .panel-title {
    //     color: #333333;
    //     line-height: 1.35;
    //     font-size: 14px;
    //     font-weight: 600;
    //     position: relative;
    // }

    // .side-panel-container .panel .panel-body {
    //     padding: 0 10px 10px !important;
    //     border-top: none !important;
    //     border: none;
    // }

    .remove-link .filter-label {
        background-color: #337ab7;
        color: white;
    }

    .filter-label.label-primary.label-inverted {
        color: #337ab7;
        background-color: white;
        border-color: #337ab7;
    }

    .filter-label {
        background-color: white;
        color: #333;
        font-weight: 500;
        border: 0.1px solid #ccc;
    }

    /* INTEGER SEARCH */
    .side-panel-container .choice-picker .search-box {
        margin-bottom: 10px;
    }

    .side-panel-container .range-picker hr {
        color: #f5f5f5;
        width: 1px;
    }

    .side-panel-container .range-picker .form-inline input {
        width: 100%;
        padding: 6px 20px 6px 6px;
        height: 100%;
        border: none;
        border-radius: 4px;
    }

    .plotly-how-to {
        border-color: white !important;
        cursor: default;
    }

    .plotly-how-to:hover {
        z-index: auto !important;
    }


    /************************* list **********************/

    .chaise-list-container {
        padding-left: 0;
        margin-bottom: 5px;
    }

    .chaise-checkbox.with-tooltip label {
        border-bottom: 1px dotted black;
    }

    .chaise-checkbox {
        position: relative;
        /*margin: 10px 0;*/
    }

    li.chaise-checkbox:hover {
        background-color: rgb(241, 241, 241);
    }

    .ellipsis-text label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .chaise-checkbox input {
        position: absolute;
        z-index: 1;
        cursor: pointer;
        width: 17px;
        height: 17px;
        top: 0;
        margin-top: 2px;
    }

    .chaise-checkbox label {
        display: inline-block;
        margin-left: 25px;
        font-weight: 400;
        position: relative;
        vertical-align: middle;
        min-height: 20px;
    }

    .chaise-checkbox input[type="checkbox"]:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        top: 0;
        border: 1px solid #337ab7;
        border-radius: 3px;
        color: #337ab7;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    .chaise-checkbox input[type="checkbox"]:checked:after {
        font-family: 'Glyphicons Halflings';
        content: "\e013";
    }

    /* selected rows in the modal */
    .selected-rows {
        min-height: 45px;
    }

}
