.record-container {
    margin-left: 20px;

    .top-panel-container {
        padding-top: 20px;
        padding-bottom: 10px;
        margin-right: 20px;

        .top-left-panel.open-panel {
            flex: 0 0 $left-panel-width-sm;
            position: relative;

            .bottom-right {
                position: absolute;
                bottom: 0;
                right: 0;

                button {
                    padding-right: 0px;
                }
            }
        }

        .top-right-panel {
            padding-left: 30px;

            .page-action-btns {
                margin: 0px 0px 4px 0px;
            }

            .title {
                margin-top: 4px;

                #page-subtitle {
                    margin: 5px 0px;
                }

                .entity-display-header {
                    display: flex;
                    justify-content: space-between;
                    position: relative;

                    #page-title {
                        margin: 0px;
                    }

                    .record-action-btns-container {
                        min-width: 350px;

                        .record-action-btns {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                    }
                } // end .entity-display-header
            } // end .title

            .open-sidebar-btn {
                margin-top: 10px;
                padding-left: 2px;
                padding-bottom: 0px;
            }
        }
    }

    .bottom-panel-container {
        /** bottom left panel **/
        > .side-panel-resizable {

            &.open-panel {
                flex-basis: $left-panel-width-sm;
            }

            .side-panel-container {
                height: 100%;
                overflow-y: auto;

                .side-panel-heading {
                    margin: 0px;

                    // padding: 9px 10px 10px !important;
                    // margin: 5px 0 0 -5px;
                }
            }

            .columns-container {
                margin-left: 10px;

                ul {
                    padding-left: 0px;
                }

                .toc-heading {
                    padding: 4px 10px 4px 0px;
                    cursor: pointer;
                    font-size: $h4-font-size;

                    &:hover {
                        background-color: rgb(241, 241, 241);
                    }
                }

                .toc-inline-heading {
                    font-size: 1rem;
                    padding-left: 20px;
                }

                #rt-toc-loading {
                    padding: 10px 5px 5px;
                }
            }
        }

        .main-container {
            padding-left: 30px;
            padding-right: 20px;
        }

        record-display {
            .inline-table-display {
                margin-top: -25px;
            }

            > table {
                /* if you want the table to have a fixed layout */
                table-layout: fixed;
                width: 100%;

                tr:nth-child(1) > td {
                    border-top: none;
                }

                .entity-key {
                    padding-left: 40px;
                    min-width: 150px;
                }
            }
        }

        /* action bar styles apply to inline RT and bottom of page RT */
        .action-bar-RT-heading {
            margin-top: -28px;
        }

        .action-bar-entity-display-mode {
            float: right;
        }

        .action-bar-entity-table-mode {
            padding-bottom: 5px;
            text-align: right;
        }

        tr.row-focus {
            border: 2px solid $primary-color;
        }

        .row-focus {
            border-color: $primary-color !important;
        }

        .chaise-table-header {
            padding-bottom: 5px;
        }

        .chaise-table-pagination {
            padding-top: 10px;
            padding-bottom: 0px;
        }

        /******Related Entities in record **************/
        #rt-container {
            .related-table-accordion {
                &.panel {
                    box-shadow: none;
                    border-radius: 0px;
                    border: none;
                }

                > .panel-heading {
                    height: 44px;
                    text-transform: inherit;
                    padding: 8px 8px 8px 8px;
                    color: $white-color;
                    border: none;
                    border-radius: inherit;
                    background: $section-background-color;

                    .panel-title {
                        font-size: inherit;

                        & > a:hover, & > a:focus{
                            text-decoration: none;
                        }

                        a.accordion-toggle {
                            color: inherit;

                            .rt-section-header {
                                font-size: $h2-font-size;

                                .toggle-icon {
                                    &.fa-chevron-right {
                                        margin-right: 5px;
                                        margin-left: 5px;
                                    }

                                    &.fa-chevron-down {
                                        margin-right: 4px;
                                    }

                                }
                            }
                        }
                    } // end .panel-title

                    & + .panel-collapse > .panel-body {
                        border-top: none;
                        padding: 10px 0px 10px 0px;

                        .accordion-content {
                            padding-left: 40px;
                            padding-right: 8px;
                        }
                    } // end .panel-body
                } // end .panel-heading
            } // end .related-table-accordion
        } // end rt-container

        #back-to-top {
            position: fixed;
            right: 40px;
            bottom: 40px;
            padding: 1px 4px;
            font-size: 25px;
            border-radius: 4px;
            height: 35px;
            width: 35px;
            cursor: pointer;
            overflow: hidden;
            z-index: 100;
        }

        .loading-text {
            color: #446c73;
            font-weight: 600;
        }

        .loading-sticky {
            float: left;
            position: fixed;
            z-index: 1;
            bottom: 0;
            background: #d9edf7;
            margin: 5px;
            padding: 5px 20px;
            border: solid #446c73 1.5px;
        }
    }




    /********* print ********/

    @media print {
        #main-content {
            height: auto !important;
            display: block;
        }

        #record-side-pan {
            display: none;
        }

        .container-fluid {
            padding-left: 0px;
        }

        .record-container {
            .entity-key {
                width: 15%;
                max-width: 120px;
            }

            .entity-value {
                width: 85%;
            }
        }

        #footer {
            display: none;
        }

        a[href]:after {
            content: none !important;
        }
    }

    @page {
        size: auto;
        margin: 5% 4% 5% 3%;
    }
}
