.record-container {
    $record-table-cell-padding: 5px;
    $record-table-cell-border-width: 1px;
    $space-between-related-sections: 5px;
    $row-focus-border-width: 2px;

    .top-panel-container {
        padding-bottom: 10px;

        .top-flex-panel {
            .top-left-panel.open-panel {
                flex: 0 0 $left-panel-width-sm;
                position: relative;
            } // end .top-left-panel

            .top-right-panel {
                .page-action-btns {
                    height: $btn-height;
                    margin: 0;
                }

                .title {
                    padding-top: 20px;

                    #page-subtitle {
                        margin: 5px 0px;
                    }

                    .entity-display-header {
                        position: relative;

                        .page-title-container {
                            width: 100%;
                            display: inline-block;
                            #page-title {
                                margin: 0px;
                            }
                        }

                        .record-action-btns-container {
                            font-size: 1rem;
                            padding-top: 7px;
                            width: 330px;
                        }

                    } // end .entity-display-header
                } // end .title

                .show-toc-btn {
                    margin-top: 10px;
                    padding-left: 2px;
                    padding-bottom: 0px;
                }
            } // end .top-right-panel
        }
    }

    .bottom-panel-container {
        /** bottom left panel **/
        > .side-panel-resizable {

            &.open-panel {
                flex-basis: $left-panel-width-sm;
            }

            .side-panel-container {
                height: 100%;
                overflow-y: auto;

                .side-panel-heading {
                    margin: 0px;
                }
            }

            .columns-container {
                margin-left: 10px;

                ul {
                    padding-left: 0px;
                }

                .toc-heading {
                    padding: 4px 10px 4px 0px;
                    cursor: pointer;
                    font-size: $h4-font-size;

                    & > a.empty-toc-heading {
                        opacity: 0.55;
                    }

                    &:hover {
                        background-color: rgb(241, 241, 241);
                    }
                }

                .toc-inline-heading {
                    font-size: 1rem;
                    padding-left: 20px;
                }

                #rt-toc-loading {
                    padding: 10px 5px 5px;
                }
            }
        }

        record-display {
            .inline-table-display {
                margin-top: -25px;
            }

            > table {
                // prevents the content in record-table from pushing off the side of page
                table-layout: fixed;
                width: 100%;

                // reduce the spacing of table cells (overrides bootstrap default)
                > tbody > tr {
                    border-top: $record-table-cell-border-width solid $border-color;

                    > td {
                        border-top: 0;
                        padding: $record-table-cell-padding;
                    }

                    &.row-focus{
                        // row-focus will change the border top and bottom size,
                        // so we should adjust that and account for the default border
                        td {
                            padding-top: $record-table-cell-padding - ($row-focus-border-width - $record-table-cell-border-width);
                            padding-bottom: $record-table-cell-padding - ($row-focus-border-width - $record-table-cell-border-width);

                            // if the size of row-focus is bigger than the current border width,
                            // we should adjust the content of inline tables so the whole page doesn't shift
                            @if $row-focus-border-width > $record-table-cell-border-width {
                                .inline-table-display {
                                    padding-bottom: $row-focus-border-width;
                                }
                            }
                        }

                        // when there are two of them, the bottom should use the default padding
                        + tr.row-focus td {
                            padding-top: $record-table-cell-padding;
                        }
                    }
                }

                .entity-key {
                    padding-left: 40px;
                    min-width: 150px;
                }
            }
        }

        /* action bar styles apply to inline RT and bottom of page RT */
        .action-bar-RT-heading {
            margin-top: -30px;
        }

        .action-bar-entity-display-mode {
            float: right;
        }

        .action-bar-entity-table-mode {
            padding-bottom: 5px;
            text-align: right;
        }

        .row-focus {
            border: $row-focus-border-width solid $primary-color !important;
        }

        .chaise-table-header {
            padding-bottom: 5px;
        }

        .chaise-table-pagination {
            padding-top: 10px;
            padding-bottom: 0px;
        }

        /******Related Entities in record **************/
        #rt-container {
            .related-table-accordion {
                &.panel {
                    // override the default bootstrap styles
                    box-shadow: none;
                    border-radius: 0;
                    border: 0;
                    + .panel {
                        margin-top: $space-between-related-sections;
                    }

                    // row-focus will add a border of 2px,
                    // - adding -2px margin to left and right to avoid shrinkage
                    // - reducing the margin-top from 5px to 3px to avoid moving
                    &.row-focus {
                        margin-left: -$row-focus-border-width;
                        margin-right: -$row-focus-border-width;
                        margin-top: $space-between-related-sections - $row-focus-border-width;

                        + .panel:not(.row-focus) {
                            margin-top: $space-between-related-sections - $row-focus-border-width;
                        }

                        // if there are two row-focus on top of each other, we should
                        // change the margin to account for both of their borders.
                        + .row-focus {
                            margin-top: $space-between-related-sections - ($row-focus-border-width * 2);
                        }
                    }

                    // the first row doesn't have margin top
                    &:first-child.row-focus {
                        margin-top: -$row-focus-border-width;
                    }
                }


                > .panel-heading {
                    height: 44px;
                    text-transform: inherit;
                    padding: 8px 8px 8px 8px;
                    color: $white-color;
                    border: none;
                    border-radius: inherit;
                    background: $section-background-color;

                    .panel-title {
                        font-size: inherit;

                        & > a:hover, & > a:focus{
                            text-decoration: none;
                        }

                        a.accordion-toggle {
                            color: inherit;

                            .rt-section-header {
                                font-size: $h2-font-size;

                                .toggle-icon {
                                    &.fa-chevron-right {
                                        margin-right: 5px;
                                        margin-left: 5px;
                                    }

                                    &.fa-chevron-down {
                                        margin-right: 4px;
                                    }
                                }
                            }
                        }
                    } // end .panel-title

                    & + .panel-collapse > .panel-body {
                        border-top: none;
                        padding: 10px 0px 10px 0px;

                        .accordion-content {
                            padding-left: 40px;
                            padding-right: 8px;
                        }
                    } // end .panel-body
                } // end .panel-heading
            } // end .related-table-accordion
        } // end rt-container

        #back-to-top {
            position: fixed;
            right: 40px;
            bottom: 40px;
            padding: 1px 4px;
            font-size: 25px;
            border-radius: 4px;
            height: 35px;
            width: 35px;
            cursor: pointer;
            overflow: hidden;
            z-index: 100;
        }

        .loading-text {
            color: #446c73;
            font-weight: 600;
        }

        .loading-sticky {
            float: left;
            position: fixed;
            z-index: 1;
            bottom: 0;
            background: #d9edf7;
            margin: 5px;
            padding: 5px 20px;
            border: solid #446c73 1.5px;
        }
    }




    /********* print ********/

    @media print {
        * {
            -webkit-transition: none !important;
            transition: none !important;
          }

        .bottom-panel-container {
            height: auto!important;
            display: block;
        }

        //Action button top right corner
        .top-right-panel {
            .page-action-btns{
                display:none;
            }
        }

        //Creat,Copy,Edit and Del Buttons
        .top-right-panel {
            .title-buttons {
                display:none;
            }
        }

        //Sections
        .top-left-panel {
            display: none;
        }

        //Side panel
        .side-panel-container {
            display:none
        }

        //three dots
        .rg-right{
            display:none;
        }

        //Record action buttons
        .action-bar-RT-heading{
            display:none;
        }

        //Record action buttons outside heading
        .bottom-panel-container{
          .action-bar-entity-display-mode{
            display: none;
          }
        }

        //Top up arrow
        #back-to-top{
            display:none;
        }

        //Side space
        #record-side-pan{
            display:none;
        }

        //Column widths in the table
        .bottom-panel-container{
            .table {
                .entity-key {
                  padding-left:20px;
                  width: 15%;
                  min-width: 150px;
                  float: left;
                }

            .entity-value {
                  width: 85%;
                  padding-left: 15%!important;
                  padding-right: 8px;
                  padding-top: 8px;
                  padding-bottom: 8px;
                }
            }
        }

        //Prev and Next buttons
        .bottom-panel-container {
            .chaise-table-pagination {
                display:none;
            }
        }

        #footer {
            display: none;
        }

        .related-table-accordion{
            break-inside: avoid!important;
        }

        //Round blobs of links
        .markdown-container {
            .vocab {
                float:left!important;
                padding: 2px!important;
                margin:2px!important;
            }
        }

        .chaise-body {
            #page-title{
                font-size: 1.5 rem !important;
            }
        }

        #rt-container{
            .vocab::after{
                content: "\2002\2022" !important;
            }

            .markdown-container a:last-child:after{
                content: none !important;
            }
        }

        .chaise-icon-for-tooltip::after{
            content: none !important;
        }

        a[href]:after {
            content: none !important;
        }

        .table {
            .table-heading-icons {
                display:none;
            }
        }

        .chaise-table-header{
            .chaise-table-header-total-count{
                margin:8px!important;
            }

        }

        .fa-arrows-alt-v{
            display:none;
        }

        //Hiding the 1st column (Actions) in Record Table
        record-table th:nth-child(1),
        record-table td:nth-child(1) {
            display: none;
        }

        record-table td {
            border: solid #BBBBBB !important;
            border-width: 1px 1px 1px 1px !important;
        }

        record-table th {
            border: solid #BBBBBB !important;
            border-width: 1px 1px 1px 1px !important;
        }

        #no-results-row{
          display:table-cell !important;
        }

        record-table {
          empty-cells: show !important;
          border-collapse: collapse !important;
        }

        @page {

            size: auto;
            margin: 5% 3% 5% 3%;

            .markdown-container {
                .vocab {
                    box-decoration-break: clone!important;
                }
            }

            .record-table  {
                box-decoration-break: clone!important;
            }
        }
    }
}
