#recordedit {
    .alerts-container {
        padding-top: 10px;
    }

    .btn-sm[data-handler="bootstrap-markdown-cmdRidLink"] {
        padding: 5px 3px;
    }

    .remove-form-btn {
        font-size: 18px;
        padding: 0 7px;
    }

    .main-container {
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 10px;
    }

    .side-padding-15 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .form-controls {
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;
        margin-right: 25px;
        margin-left: 25px;

        .add-forms {
            margin-left: auto;
            display: flex;
            align-items: flex-end;

            .add-rows-input {
                width: 80px;
                padding-left: 5px;
            }
        }
    }

    textarea {
        resize: vertical;
        height: auto;
    }

    .main-body {
        padding-right: 15px;
        padding-left: 15px;
    }

    .form-container {
        margin-top: 0px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .input-timestamptz {
        min-width: 112px;
    }

    #form-section {
        width: 100%;
        position: relative;
        padding-right: 15px; // so table is padded properly on load

        #form-edit-scroll {
            overflow-x: auto;
            overflow-y:hidden;
            height: 20px;
            margin-left: $chaise-caption-column-width + 25px; // entity-key is position absolute and shifted left, add margin based on that shift

            > div {
                height: 20px;
            }
        }

        #form-edit {
            position: static;
            overflow-x: auto;
            overflow-y: auto;
            padding-right: 15px;
            margin-left: $chaise-caption-column-width + 25px; // entity-key is position absolute and shifted left, add margin based on that shift
            margin-bottom: 40px; // margin at bottom of page so edit form isn't touching the bottom of viewport

            > table {
                overflow: hidden;
                margin-bottom: 0;

                > tbody {
                    &:first-child > tr.shift-form:first-child > td {
                        color: $disabled-color;
                        font-weight: normal;
                        font-size: 1rem;
                    }

                    // style for bottom of table (entity-values)
                    &:last-child {
                        border-bottom: 1px solid $border-color;

                        > tr > td:first-child {
                            border-bottom: 1px solid $border-color;
                        }
                    }

                    > tr > td {
                        border-top: 1px solid $border-color;

                        &:last-child {
                            border-bottom: 1px solid $border-color;
                        }
                    }

                    > tr {
                        > td {
                            &.form-header {
                                height: 47px;
                            }

                            &.entity-key,
                            &.match-entity-key {
                                position: absolute !important;
                                left: 0;
                                top: auto;
                                width: $chaise-caption-column-width;
                                border-left: 1px solid $border-color;
                                border-right: 1px solid $border-color;
                                margin-left: 10px;
                                background: white;
                            }

                            &.entity-value,
                            &.match-entity-value {
                                word-wrap: break-word;
                                min-width: 250px;
                                border-right: 1px solid $border-color;
                            }
                        }
                    }
                } // end "> tbody"
            } // end "> table"

            .table > tbody + tbody {
                border-top: 0;
            }
        } // end #form-edit
    } // // end #form-section

    .modal-popup {
      width: 100%;
      margin-bottom: 0px;
    }

    .record-number {
      font-size: 14px;
      margin-left: 10px;
      color: $disabled-color;
    }

    tbody.highlight{
      background-color: #f7f0cf !important;
    }


    .chaise-input-control[disabled] {
      color: $disabled-color;
      cursor: not-allowed !important;
    }

    .chaise-input-control[readonly] {
        background-color: $white-color;
        opacity: 1;
    }

    .chaise-input-control[readonly][disabled] {
        background-color: #eee;
        opacity: 1;
    }

    /* Chrome only: */
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
        // #form-edit {
        //     border-bottom: 1px solid $border-color;
        //     >  table {
        //         margin-bottom: -1px !important;
        //     }
        // }
    }

    @-moz-document url-prefix() {
      #form-edit >  table > tbody >  tr {
          &:first-child >  td:first-child {
            // margin-top: -1px;
          }

          > td:first-child {
            // margin-top: 0px;
          }
      }
    }

    /****************** Upload modal css *****************/


    .progress-percent {
      font-weight: bold;
      margin-top: -25px;
      margin-left: 50%;
    }

    .inner-progress-percent {
      margin-top: -18px;
      font-size: 12px;
    }

    table.upload-table {

    }

    table.upload-table > tbody {
      border: none;
    }

    table.upload-table > tbody > tr > td:first-child {
      padding-left: 20px;

    }

    table.upload-table > tbody > tr > td:last-child {
      width: 40%;
    }

    table.upload-table > tbody > tr > td:nth-child(2) {
      padding-left: 0px;
      padding-right: 0px;
    }


    table.upload-table > tbody > tr:last-child > td {
      border-bottom: 1px solid $disabled-background-color;
      background-color: white;
    }


    table.upload-table > tbody > tr:first-child > td {
      padding-left:0px;
      padding-top: 15px;
      border-bottom: 2px solid gainsboro;
      font-weight: 600;
    }


    table.upload-table .progress {
      height: 20px;
    }


    .upload-progress-bar {
      width: 0%;
      background-color: #8cacc7 !important;
    }
}
