#record {
    .record-toc .columns-container ul {
        padding-left: 10px;
    }

    .record-toc .toc-heading {
        padding: 5px;
        cursor: pointer;
    }

    .record-toc .toc-heading:hover {
        background-color: rgb(241, 241, 241);
    }

    .record-toc #rt-toc-loading {
        padding: 10px 5px 5px;
    }

    .loading-text {
        color: #446c73;
        font-weight: 600;
    }

    .loading-sticky {
        float: left;
        position: fixed;
        z-index: 1;
        bottom: 0;
        background: #d9edf7;
        margin: 5px;
        padding: 5px 20px;
        border: solid #446c73 1.5px;
    }

    tr.rowFocus {
        border: 2px solid $primary-color;
    }

    #top-panel-container {
        #page-action-btns {
            margin: 20px 20px 4px 20px;
        }

        #title {
            margin: 4px 20px 20px 20px;

            #page-subtitle {
                margin: 5px 0px;
            }

            .entity-display-header {
                display: flex;
                justify-content: space-between;

                #page-title {
                    margin: 0px;
                }

                .record-action-btns {
                    min-width: 350px;
                    text-align: right;
                }
            }
        }
    }

    .record-container {
        padding-right: 0;
        -webkit-box-flex: 1;
        display: flex;
        flex: 1;
        margin-top: 0px;

        > .main-container {
            flex:1;
            position: relative;
            z-index: 1;
            overflow-x: hidden;
            overflow-y: auto;
            padding-top: 10px;
        }

        &.smaller-margin {
            margin-left: -50px;
            margin-right: -50px;
        }

        .rowFocus {
            border-color: $primary-color !important;
        }

        /******Related Entities in record **************/

        .related-table-heading>.panel-heading {
            height: 44px;
            text-transform: inherit;
            padding: 8px 8px 8px 0px;
            color: $white-color;
            border: none;
            background: $section-background-color;

            & + .panel-collapse > .panel-body {
                border-top: none;
                padding: 0px 0px 10px 0px;
            }
        }

        .panel-title {
            font-size: inherit;

            &>a:hover, &>a:focus{
                text-decoration: none;
            }

            a.accordion-toggle {
                color: inherit;

                .rt-section-header {
                    font-size: $h2-font-size;
                }
            }
        }

        /** record side panel **/
        > .faceting-resizable {
            position: relative;
            z-index: 2;
            font-weight: bold;
            max-width: 50vw;

            &.open-panel {
                flex: 0 0 15vw;
                min-width: 170px;
                padding-left: 5px;
            }

            &.close-panel {
                width: 0;
                flex-basis: 0 !important;

                .faceting-container {
                    width: 0;
                }
            }

            .side-panel-heading {
                font-weight: bold;
                padding: 9px 10px 10px !important;
                margin: 5px 0 0 -5px;
            }
        }
    }

    // TODO might be removed because style changed drastically
    .action-bar-RT-heading {
        margin-top: -28px;
    }

    .action-bar-entity-display-mode {
        float: right;
    }

    .action-bar-entity-table-mode {
        padding-bottom: 5px;
        text-align: right;
    }

    #back-to-top {
        position: absolute;
        left: -66px;
        bottom: 2em;
        padding: 1px 4px;
        font-size: 25px;
        border-radius: 2px 0 0 2px;
        height: 35px;
        width: 35px;
        cursor: pointer;
        overflow: hidden;
    }


    /********* print ********/

    @media print {
        #main-content {
            height: auto !important;
            display: block;
        }

        #record-side-pan {
            display: none;
        }

        .container-fluid {
            padding-left: 0px;
        }

        .record-container {
            .row {
                margin-left: 0px;
            }

            #bookmark-container {
                padding-left: 0px;
            }

            .entity-key {
                width: 15%;
                max-width: 120px;
            }

            .entity-value {
                width: 85%;
            }
        }

        #footer {
            display: none;
        }

        a[href]:after {
            content: none !important;
        }
    }

    @page {
        size: auto;
        margin: 5% 4% 5% 3%;
    }
}
