.outer-table {
    overflow-x: auto;
}

.recordset-table td .markdown-container img {
    overflow-x: hidden;
}

.chaise-table.table {
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    margin-bottom: 5px;

    /* if you want the table to have a fixed layout */
    &.table-fixed-layout {
        table-layout: fixed;
        width: 100%;
    }

    // TODO: verify this still works as expected
    tbody {
        display: table-row-group;
        vertical-align: middle;
    }

    tr {
        border-left: 1px solid $table-border-color;
        border-bottom: none;
    }

    .table-heading {
        background-color: $table-header-background-color;
        color: $black-color;
    }

    &.table-striped > tbody > tr:nth-child(odd) {
        background: $table-striped-background-color;
    }

    >thead>tr>th {
        border-bottom: 1px solid $table-border-color;
    }

    >thead>tr>th,
    >tbody>tr>th,
    >tfoot>tr>th,
    >thead>tr>td,
    >tbody>tr>td,
    >tfoot>tr>td {
        border-top: none;
        border-right: 1px solid $table-border-color;
        word-wrap: break-word;
    }

    >tbody>tr>td {
        padding: 5px;
    }

    td.actions-layout {
        width: 1px;
        white-space: nowrap;
        text-align: center;
    }

    th {
        font-weight: 400;
        border-top: 1px solid $table-border-color;

        &.multi-select-width {
            width: 140px;
            text-align: center;
        }
    }
}
