.record-container {
    padding-right: 0;
    -webkit-box-flex: 1;
    display: flex;
    flex: 1;
    margin-top: 0px;

    > .main-container {
        flex:1;
        position: relative;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 10px;
    }

    &.smaller-margin {
        margin-left: -50px;
        margin-right: -50px;
    }

    /******Related Entities in record **************/

    .panel-group .panel{
        border-color: $white-color;
        border-bottom: 1px solid $disabled-background-color;
        border-width: 2px;
        border-radius: 2px;
        padding: 0 10px;
        box-shadow: none;

        a.accordion-toggle span {
            color: #333333;
            font-weight: normal;
            font-size: 17px;
        }
    }

    .panel-title {
        font-size: inherit;

        &>a:hover, &>a:focus{
            text-decoration: none;
            color: rgb(63, 124, 184);
        }
    }

    .related-table-heading>.panel-heading{
        text-transform: inherit;
        padding: 8px 8px 8px 0px;
        color: $white-color;
        border: none;
        background: $section-background-color;

        .record-action-bar {
            top: -10px;
            position: relative;
        }

        &+.panel-collapse > .panel-body {
            border-top: none;
            padding: 0px 0px 10px 0px;
    }

    .reference-views {
        padding-left: 0;

        li {
            float: left;
        }

        li:nth-child(2){
            border-right: 1px solid $black-color;
        }

        .reference-view-title{
            padding: 3px 1px 5px 0;
            text-transform: uppercase;
        }
    }

    .transpose-toggle{
        display: inline-block;
        padding: 1px 17px;
        border-radius: 3px;
        cursor: pointer;
        width: 81px;
    }

    .transpose-toggle:hover, .transpose-toggle:focus, .transpose-toggle:active{
        color: $table-striped-background-color;
    }
}
