.resizable {
    position: relative;
}

.resizable.no-transition {
    transition: none !important;
}

.rg-bottom,
.rg-left,
.rg-right,
.rg-top {
    display: block;
    width: 20px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    z-index: 100;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: transparent;
}

.rg-bottom span,
.rg-left span,
.rg-right span,
.rg-top span {
    position: absolute;
    box-sizing: border-box;
    display: block;
}

.rg-left span,
.rg-right span {
    top: 50%;
    color: $border-color;
    font-size: 1.5em;
    color: #bbb;
    left: 2px;
}

.rg-bottom span,
.rg-top span {
    border-width: 1px 0;
    left: 50%;
    margin: 3.5px 0 0 -10px;
    width: 20px;
    height: 7px;
}

.rg-top {
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -14px;
}

.rg-right {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: -20px;
    border-right: none;
}

.rg-bottom {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -14px;
}

.rg-left {
    cursor: col-resize;
    height: 100%;
    left: 14px;
    top: 0;
    margin-left: -14px;
    border-right: none;
}
