#switchUserAccounts,
#login2 {
    .chaise-body {
        overflow-y: auto;

        li {
            list-style-type: unset;
        }
    }

    .main-container {
        width: 800px;
        margin: 0 auto;
        padding: 30px 0;
    }

}
