
// COLORS

$link-color: #0366D6;

$primary-color: #4674A7;
$disabled-color: #999999;
$disabled-background-color: #DDDDDD;

$border-color: #CCCCCC;

$table-border-color: #BBBBBB;
$table-header-background-color: #D0E0F0;
// TODO: see if this is actually being used currently or if this is the default color
$table-striped-background-color: #F1F1F1;

$section-background-color: #747474;

$black-color: #333333;
$white-color: #FFFFFF;

$placeholder-color: #888888;

$danger-color: #D9534F;
$warning-color: #f0ad4e;

$spinner-color: #6e6e6e;



// Spacing
$left-panel-width-lg: 21vw;
$left-panel-width-sm: 15vw;
$viewport-margin: 20px;
$main-alley:30px;



$btn-border-radius: 4px;
$btn-height: 30px;
$btn-height-sm: 24px;
$btn-border-width: 1px;
$btn-padding-y: 4px;
$btn-padding-x: 10px;

$input-remove-width: 20px;


$chaise-input-group-text-color: $black-color;
$chaise-input-group-text-bg: $table-striped-background-color;
$chaise-input-group-text-border-color: $border-color;


// fonts
$font-size: 14px;
$h1-font-size: 2.5rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
