
// COLORS

$link-color: #0366D6;

$primary-color: #4674A7;
$disabled-color: #999999;
$disabled-background-color: #DDDDDD;

$border-color: #CCCCCC;

$table-border-color: #BBBBBB;
$table-header-background-color: #D0E0F0;
// TODO: see if this is actually being used currently or if this is the default color
$table-striped-background-color: #F1F1F1;

$section-background-color: #747474;

$black-color: #333333;
$white-color: #FFFFFF;



// Spacing
$btn-border-width: 1px;
$left-panel-width-lg: 21vw;
$left-panel-width-sm: 15vw;



// fonts
$h1-font-size: 2.5em;
$h2-font-size: 1.75em;
$h3-font-size: 1.5em;
$h4-font-size: 1.25em;
