
// COLORS

$link-color: #0366D6;

$primary-color: #4674A7;
$disabled-color: #999999;
$disabled-background-color: #DDDDDD;

$border-color: #CCCCCC;

$table-border-color: #BBBBBB;
$table-header-background-color: #D0E0F0;
// TODO: see if this is actually being used currently or if this is the default color
$table-striped-background-color: #F1F1F1;

$section-background-color: #747474;

$black-color: #333333;
$white-color: #FFFFFF;



// Spacing
$btn-border-width: 1px;
