.viewer-container {

    // mimic the same thing that we have in recordedit (TODO most probably should go somewhere else)
    .modal-popup .chaise-input-control {
        height: unset;
    }
    textarea {
        height: auto;
        resize: vertical;
    }

    // align the header with the rest of buttons on top of the page.
    .top-panel-container .panel-header h3 {
        padding-bottom: 10px;
    }

    // override the default values in app.scss
    .bottom-panel-container .side-panel-resizable.open-panel,
    .top-panel-container .top-flex-panel .top-left-panel.open-panel {
        min-width: 300px !important;
    }
    .top-panel-container .top-flex-panel .top-left-panel.open-panel+.top-right-panel,
    .bottom-panel-container .side-panel-resizable.open-panel+.main-container {
        padding-left: 20px !important;
    }

    .main-body, .side-panel-container {
        height: 100%;
    }

    .flex-row{
        display: flex;
        flex-direction: row;
        &.row-reverse {
            flex-direction: row-reverse;
        }
    }

    .annotation {
        padding: 10px;
        margin: 15px 0;
        border-radius: 3px;
        border: 1px solid #ddd;
        background-color: #fff;
    }

    .annotation.highlighted, #create-annotation-form {
        border-left: 5px solid #428bca;
    }

    .annotation.section {
        border-color: green;
    }

    .section-label {
        background-color: green;
    }

    .annotation.section.highlighted {
        border-left: 5px solid green;
    }

    .annotation, .searchbar {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }


    .annotation-anatomy-text {
        color: #444;
    }

    .annotation-description {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .annotation-control-button {
        margin: 2px;
        margin-right: 0;
    }

    .nav-tabs>li {
        font-style: italic;
    }

    /* .btn-success {
        background-color: #407CCA;
        border-color: #1E4E9A;
    }

    .open > .dropdown-toggle.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active {
        background-color: #002D73;
        border-color: #1E4E9A;
    } */

    #entity-title, .entity-title {
        color: #002D73;
    }

    a.cardlink {
        cursor: pointer;
        margin-left: 5px;
    }

    a.cardlink.delete {
        color: #EB0029;
    }

    .comments {
        margin: 10px -10px -10px -10px;
        padding: 0 10px 0 10px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #f9f9f9;
    }

    .comment {
        padding-bottom: 10px;
    }

    .comment-input {
        background-color: #f3f3f3;
        padding-bottom: 10px;
        margin-left: -10px;
        margin-right: -10px;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    .comment-input .input-group {
        margin-left: -7px;
        margin-right: -7px;
    }

    .separator {
        width: 100%;
        border-top: 1px solid #ddd;
        margin: 0 auto 10px auto;
    }

    .comment-separator {
        width: 97%;
    }

    #viewer-container{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 60px);
        padding: 0;
        /* overflow: auto; */
    }

    #viewer-container.col-md-9 {
    	position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }

    #create-annotation-form .ui-select-container,
    #edit-annotation-form .ui-select-container,
    #metadata-panel .ui-select-container {
        width: 100%;
    }

    .new-annotation .dropdown-menu {
        left: 15px;
    }

    #annotations-panel {
        background: #f9f9f9;
        position:relative;
    /*
        background: yellow;
    */
        opacity: 0;
        left:0px;
        display: none;
    }

    #sidebar {
       display: none;
       margin: 0 20px;
    }

    #create-annotation-btn {
       margin-top:10px;
    }

    @-webkit-keyframes fadeIn { from { opacity:0; left:-200; } to { opacity:0.95; left:0; } }
    @-moz-keyframes fadeIn { from { opacity:0; left:-200; } to { opacity:0.95; left:0; } }
    @keyframes fadeIn { from { opacity:0; left:-200; } to { opacity:0.95; left:0; } }

    .fade-in {
    	-webkit-animation:fadeIn ease-in 1;
    	-moz-animation:fadeIn ease-in 1;
    	animation:fadeIn ease-in 1;

    	-webkit-animation-fill-mode:forwards;
    	-moz-animation-fill-mode:forwards;
    	animation-fill-mode:forwards;

    	-webkit-animation-duration:0.6s;
    	-moz-animation-duration:0.6s;
    	animation-duration:0.6s;
    }


    @-webkit-keyframes fadeOut { from { opacity:0.95; left:0; } to { opacity:0; left:-200; } }
    @-moz-keyframes fadeOut { from { opacity:0.95; left:0; } to { opacity:0; left:-200; } }
    @keyframes fadeOut { from { opacity:0.95; left:0; } to { opacity:0; left:-200; } }

    .fade-out {
    	-webkit-animation:fadeOut ease-in 1;
    	-moz-animation:fadeOut ease-in 1;
    	animation:fadeOut ease-in 1;

    	-webkit-animation-fill-mode:forwards;
    	-moz-animation-fill-mode:forwards;
    	animation-fill-mode:forwards;

    	-webkit-animation-duration:0.4s;
    	-moz-animation-duration:0.4s;
    	animation-duration:0.4s;
    }


    /* .btn.pick {
      background-color: #18558E;
    } */

    /* .btn.pick:hover {
        background-color: #002D73;
        border-color: #1E4E9A;
    } */

    #viewer-content{
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 100%;
        /* padding: 15px 0 15px 0; */

        // override the padding that is definde in app.scss
        .main-container {
            padding-right: 0;
            height: 100%;
        }

        .annotation-list-container {
            display: flex;
            flex-direction: column;
            background: #fff;
            z-index: 1;
            padding: 0;
            height: 100%;
            overflow-y: auto;
            margin-top: 8px;

            .annotation-form-container, .annotation-list{
                margin-bottom: 20px;
            }

            .annotation-form-container{
                border: 1px solid #d9d9d9;
                border-radius: 3px;
                background: #f8f8f8;
                position: relative;
                
                .form-spinner-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: $disabled-background-color;
                    opacity: 0.5;
                    z-index: 6; // higher than the clear button
                }
                
                .form-spinner {
                    // make sure the text is visible in one line
                    #spinner {
                        width: 160px;
                        height: 105px;
                        top: 50%;
                    }
                }

                &.open{
                    opacity : 1;
                    z-index: 10;
                }

                .annotationRow{
                    border-bottom: 1px solid #e1e1e1;
                    margin: 0 10px;
                    padding: 10px 0;
                }

                .annotationRow:last-child{
                    border-bottom: none;
                }

                .annotationRow .annotationToolRow{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    color: #6a6a6a;
                    flex-direction: row;

                    .annotationRowValue {
                        width: 100%;
                        .chaise-btn {
                            width: 100%;
                        }
                    }

                    .chaise-btn.selected{
                        background-color: #4673a7;
                        color: #fff;
                    }
                }

                .annotationRowHeader{
                    margin: 0 0 5px;
                }

                .annotationRowValue{
                    // display: flex;
                    overflow: hidden;
                    align-items: center;
                }

                .annotationRowValue .text{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                .annotationRowValue .text:hover{
                    color: #18548d;
                    opacity: 0.8;
                }

                .annotationRowValue .btn{
                    flex : 1;
                }

                .annotationRowValue .changeBtn{
                    /* background: #18548d; */
                    /* color: #18548d; */
                    padding: 5px;
                    border-radius: 5px;
                    /* height: 25px; */
                    /* width: 25; */
                    display: flex;
                    align-items: center;
                    margin: 0 0 0 5px;
                }

                .annotationRowMessage{
                    // font-size: 12px;
                    padding: 3px 0 0 0;
                }

                .annotationRowValue .drawingHint{
                    &:not(.alert-danger) {
                        background: #ecec7d;
                    }
                    width: 100%;
                    padding: 5px;
                    margin: 5px 0;
                    border-radius: 3px;
                    // font-size: 12px;
                }

                .switch-btn{
                    position: relative;
                    height: 25px;
                    width: 40px;
                    padding: 0;
                    background: #fff;
                    border: 1px solid #ddd;
                }

                .switch-status{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                .switch-status.on{
                    top: 0;
                    right: -33px;
                    background: #4673a7;
                    color: #fff;
                }

                .switch-status.on.selected{
                    top: 0;
                    left: 5px;
                    color: #fff;
                    background: #4673a7;
                }
                .switch-status.off{
                    top: 0;
                    right: 5px;
                    left: -35px;
                }

                .switch-status.off.selected{
                    top: 0;
                    right: 5px;
                    left : 0;
                }

            }

            .clear-search{
                position: absolute;
                right: 5px;
                top: 5px;
            }


            .row{
                display: flex;
                color: #656565;
            }

            .row.filter{
                margin: 0;
                padding: 8px 0;
                font-size: 14px;
            }

            .addAnnotationGroupBtn{
                position: relative;
                float: left;
                color: #b9b9b9;
                margin: 0 5px 5px 5px;
                padding: 5px;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                cursor: pointer;
                justify-content: center;
                /* align-items: center; */
                font-size: 10px;
            }

            .addAnnotationGroupBtn:hover{
                color: #407cca;
                /* border: 1px solid #8c8c8c; */
            }

            .addAnnotationGroupBtn svg{
                margin-right: 5px;
            }

            .name{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .displayAllBtn{
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 0 10px;
            }

            .displayAllBtn.selected{
                color: #407cca;
            }

            .displayAllBtn i {
                margin: 0 5px 0 0 ;
            }

            .displayAllBtn:hover{
                color: #407cca;
            }

            .displayAllBtn.selected{
                color: #407cca;
            }

            .searchAnnotationBar{
                display: flex;
                margin: 8px 0 10px;
                height: 30px;
                position: relative;
                border-radius: 3px;

                .search-input{
                    flex: 1;
                    padding: 3px 25px 3px 3px;
                    border-radius: 3px 0 0 3px;
                    border: 1px solid #cccccc;
                    outline: none;
                    border-right: none;
                }

                .search-button{
                    display: block;
                    width: 100%;
                    height: 30px;
                    min-height: 30px;
                    padding: 4px 10px;
                    background-color: #FFFFFF;
                    background-clip: padding-box;
                    border: 1px solid #CCCCCC;
                    border-radius: 4px 0 0 4px;
                    position: relative;
                }


                #search-submit{
                    border-radius: 0 4px 4px 0;
                }

                .input-group{
                    flex: 1;
                }
            }

            .strokeScale{
                display: flex;
                flex-direction: column;
                padding: 8px 0;

                .name{
                    /* margin-right : 10px; */
                    color: #747474;
                    justify-content: space-between;
                }

                .name .strokeValue{
                    padding: 0 5px;
                    background: #f3f2f2;
                    border-radius: 3px;
                    font-size: 12px;
                }

                input.strokeSlider{
                    flex: 1;
                    -webkit-appearance: none;
                    appearance: none;
                    width: 100%;
                    height: 4px;
                    margin-top: 5px;
                    background: #dcdcdc;
                    outline: none;
                    opacity: 0.7;
                    -webkit-transition: .2s;
                    transition: opacity .2s;
                }
                .strokeSlider:hover {
                    opacity: 1;
                }

                .strokeSlider::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 10px;
                    height: 10px;
                    border-radius: 3px;
                    background: #4674a7;
                    cursor: pointer;
                }

                .strokeSlider::-moz-range-thumb {
                    width: 10px;
                    height: 10px;
                    background: #4674a7;
                    cursor: pointer;
                }
                .sliderTicks{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 5px;
                    margin: 3px 0;
                }

                .currentScale{
                    color: #747474;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    width: 1px;
                    background: #D3D3D3;
                    height: 5px;
                    line-height: 25px;
                    font-size: 10px;
                    margin: 0 0 10px 0;
                }
            }


            .resultCount{
                display: flex;
                padding: 0;
            }

            .groups{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex: 1;
                overflow-y: auto;
                position: relative;
                float: left;
                margin: 0;
                margin-top: 5px;
                width: 100%;
            }

            /* New Annotation Button */
            .newAnnoBtn{
                min-width: 50px;
                margin-left: 10px;
            }

            /* Annotations item  */
            .annotationItem{
                position: relative;
                float: left;
                border-bottom: 1px solid #f2f2f2;
                padding: 0 5px;
                display: flex;
                flex-direction: row;
                overflow: hidden;
                background: #fff;
                flex-shrink: 0;
                min-height: 40px;
                cursor: pointer;

                &:hover{
                    background: #e4e4e4;
                }

                &.current{
                    background: #407cca;
                }

                &.current input.edit,
                &.current .anatomy{
                    color : #fff;
                }

                &.current .anatomy a{
                    color : #fff;
                }


                &.current .editBtn{
                    color: #fff;
                }
                .editBtn.selected{
                    background: #3669ac;
                    color: #ffffff;
                    padding: 3px;
                }

                &.current .editBtn.selected,
                &.current .editBtn[data-type="highlightGroup"]{
                    color: #ffff80;
                }

                .itemContent{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    justify-content: center;
                    /* cursor: pointer; */
                }


                .annotationItem:first-child{
                    border-top: 1px solid #f2f2f2;
                }

                input.edit{
                    position: relative;
                    float: left;
                    width: 100%;
                    margin: 0;
                    padding: 2px 3px;
                    background: transparent;
                    border: none;
                    color: #ddd;
                    outline: none;
                    box-sizing: border-box;
                }

                textarea.edit{
                    display: inline-block;
                    box-sizing: border-box;
                    width: 100%;
                    height: 20px;
                    padding: 2px 0px 2px 0;
                    background: transparent;
                    min-height: 15px;
                    max-height: 50px;
                    color: #a2a2a2;
                    font-size: 10px;
                    resize: none;
                    border: none;
                    outline: none;
                }

                .anatomy a{
                  text-decoration: none;
                  color: #337ab7;
                }
                .anatomy a:hover{
                  text-decoration: underline;
                }

                input.edit:hover,
                textarea.edit:hover{
                    color: #c1c1c1;
                }
                .editRow{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .editBtn{
                    padding: 3px;
                    border-radius: 2px;
                    margin: 2px;
                    color: #407cca;
                    cursor: pointer;
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;

                    &:last-child{
                        margin-right: 8px;
                    }

                    &:hover{
                        color: #0099cce0;
                    }

                    &.disabled{
                        background: none;
                        color: #424242;
                        cursor: default;
                    }
                }

                .itemRow{
                    display: flex;
                    flex-direction: row;
                }

                .itemRow .anatomy{
                    flex : 1;
                    padding: 3px;
                }

                .itemMenu{
                    font-size: 10px;
                    border: 1px solid #3f7cca;
                    color: 3f7cca;
                    margin: 3px 5px 5px 0;
                    flex: 1;
                    text-align: center;
                }

                .itemMenu:hover,
                .itemMenu.selected{
                    background: #2058a0;
                    color: #fff;
                }

                &.current .itemMenu{
                    color: #ccd8e8;
                    border: 1px solid #79aff4;
                }
            }

            .groups .annotationItem.visible-annotation:nth-child(odd):not(.current){
                background: #F1F1F1
            }
        }

        iframe#osd {
            height: 100%;
            width: 100%;
        }

    }
    .menu-btn-container{
        display: flex;
        /* background: #000; */
        /* border: 1px solid #737171; */
        /* border-radius: 3px; */
        padding: 5px 0px 5px 0px;
    }

    #viewer-content .menu-btn-container .menu-btn{
        border: none;
        display: flex;
        background: none;
        color: #ffffff;
        align-items: center;
        cursor: pointer;
        opacity: 0.6;
        background: #000;
        padding: 3px 5px;
        outline: none;
    }

    #viewer-content .menu-btn-container .menu-btn.pick{
        color: #fff;
        background: #2b2b2b;
        opacity: 1;
    }
    #viewer-content .menu-btn-container .menu-btn:hover{
        color: #fff;
        background: #6194d6;
        opacity: 0.85;
    }

    #viewer-content .menu-btn-container .menu-btn .glyphicon{
        margin-right: 5px;
    }

    #viewer-header .top-flex-panel, #viewer-content {
      position: relative;
      display: flex;
      flex: 1;
      -webkit-box-flex: 1;
    }

    #viewer-header .top-left-panel.open-panel,  #viewer-content #sidebar{
      flex: 0;
      flex-basis: 10vw;
      min-width: 240px;
      position: relative;
      max-width: 40vw;
      margin-left: 20px;
    }

    #viewer-header .top-left-panel.close-panel {
      /* flex: 0; */
      display: none;
    }

    #viewer-content .menu-btn-container.close-panel{
      padding-left: 15px;
    }

    .annotation-error {
      font-weight: 600;
    }

}
