// Required first
@import "variables";
@import "helpers";

// components
@import "navbar";
@import "chaise-icon";
@import "markdown-container";
@import "resizable";
@import "inputs";
@import "button-group";
@import "buttons";
@import "recordset";
@import "modal";

// app specific
@import "recordedit-app";
@import "viewer-app";
@import "switch-user-accounts";
@import "login-app";
@import "help-app";


// if we want to hide the page and then show navbar and content together
.wait-for-navbar {
    visibility: hidden;
}
.wait-for-navbar-loader {
    visibility: visible;
}

// configure app rules
.chaise-body .app-container {
    display: none;
}
html.ng-scope {
    .app-container {
        display: block;
    }

    .configure-container {
        display: none;
    }
}

html {
    font-size: $font-size;
}

.chaise-body {
    @import "record-app";
    @import "recordset-app";

    // TODO this might be problematic, we might want to be more specific to each app
    /****************** GLOBAL ******************/
    overflow: hidden;
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: $white-color;
    font-size: $font-size;
    font-weight: 400;
    line-height: 1.428;

    h1, .h1-class {
        font-size: $h1-font-size;
    }

    // in iframe we're making the headers smaller
    h2, .h2-class, &.chaise-iframe h1, &.chaise-iframe .h1-class {
        font-size: $h2-font-size;
    }

    // in iframe we're making the headers smaller
    h3, .h3-class, &.chaise-iframe h2, &.chaise-iframe .h2-class {
        font-size: $h3-font-size;
    }

    // in iframe we're making the headers smaller
    h4, .h4-class, &.chaise-iframe h3, &.chaise-iframe .h3-class{
        font-size: $h4-font-size;
    }

    h1, h2, h3, h4, body {
        font-weight: 400;
    }
    h1, h2, h3, h4, .h1-class, .h2-class, .h3-class, .h4-class {
        line-height: 1.2;
    }

    li {
        list-style-type: none;
    }

    // show list style
    ul.show-list-style li {
        list-style-type: inherit;
    }

    .clickable {
        cursor: pointer;
    }

    a {
        cursor: pointer;
        color: $link-color;
    }

    .caret {
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }

    a.external-link-icon:not(:empty):not(.external-link-no-icon),
    a span.external-link-icon:not(:empty):not(.external-link-no-icon) {
        &::after {
            display: inline-block;
            font-size: .85rem;
            font-family: 'Glyphicons Halflings';
            content: "\e164"; // glyphicon-new-window
            padding-left: 2px;
        }
    }

    // tooltip
    .chaise-icon-for-tooltip::after {
        line-height: 1; // fix

        vertical-align: text-top;
        display: inline-block;
        font-size: .85em;
        font-family: 'chaise-icons';
        // NOTE: when there's a newline character, there is a space added to the
        // end of string text before the icon is added. when there is no newline,
        // the icon is directly next to the text.
        content: "\00A6";
    }

    h1 .chaise-icon-for-tooltip::after {
        font-size: .6em;
        vertical-align: super;
    }

    .inline-tooltip {
        font-size: 16px;
    }

    #page-title .inline-tooltip {
        display: block;
        padding-left: 2px;
    }

    .tooltip-inner {
        text-align: left;
        max-width: none;
        white-space: pre-wrap;
    }

    // the tooltip that is displayed for the filter chiclets
    // it will ignore the spacing that is generated by the template
    .filters-tooltip {
        margin-right: 2%;
        .tooltip-inner {
            white-space: normal;
            max-width: inherit;
        }
    }


    // disabled row and form
    .disabled-form,
    .disabled-row {
        color: $disabled-color;
    }

    .disabled-form *,
    .disabled-row * {
        color: inherit;
    }

    .disabled-form a,
    .disabled-row a {
        color: $disabled-color;
    }

    .disabled-form .remove-input-btn {
        /*the button used to clear the input*/
        display: none;
    }

    .disabled-form .btn.btn-inverted[disabled]:hover {
        background-color: white !important;
        border-color: $border-color !important;
    }

    .disabled-element {
        cursor: not-allowed;
        &:active {
            pointer-events: none;
        }
    }

    // spinner
    #spinner {
        background: $white-color;
        width: 130px;
        margin: 0 auto;
        text-align: center;
        padding: 14px 0;
        border: 1px solid $border-color;
        border-radius: 7px;
        color: #828282;
        top: 50vh;
        position: absolute;
        left: 50%;
        margin-top: -75px;
        margin-left: -75px;
        z-index: 10;
    }

    .spinner-container-sm {
        position: relative;
    }

    #spinner-sm {
        background: $white-color;
        border: 1px solid $border-color;
        border-radius: 7px;
        color: #828282;
        left: 40%;
        padding: 5px;
        position: absolute;
        text-align: center;
        z-index: 10;
    }

    img.spinner {
        display: block;
        margin: 0 auto;
        width: 32px;
        height: 32px;
        opacity: 0.8;
    }

    img.spinner-sm {
        display: inline-block;
        margin: 0 auto;
        width: 17px;
        height: 17px;
        opacity: 0.8;
    }

    /****************** HEADER ******************/

    // bookmark container start
    #page-title {
        margin: -7px 0 0;
    }

    #page-subtitle {
        margin: 0;

        .link-decoration {
            color: $link-color;
        }
    }

    .recordedit-bookmark-container,
    .resultset-bookmark-container {
        padding: 15px 40px 10px;
        /* padding-left and padding-right sides are to equal the left and right paddings of .container-fluid */
        // background-color: #f1f1f1;
        // box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);

        > * {
            display: inline-block;
        }

        .pull-left {
            text-align: left;
        }

        .pull-right {
            text-align: right;
        }
    }

    // bookmark container end

    /* used to replace the margin with padding on h1-4 elements */
    .replace-margin {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    // record and recordedit column headers
    .entity-key {
        color: #333333;
        font-weight: normal;
        font-size: 1rem;
        word-wrap: break-word;
    }

    // record and recordedit column values
    .entity-value {
        font-size: 1rem;
        color: #333;
    }

    // show more/show less ellipsis
    .hideContent {
        overflow: hidden;
        line-height: 20px;
    }

    .showContent {
        line-height: 20px;
        height: auto;
        display: inline;
    }

    // ellipsis for the texts
    // TODO we might want to rename this
    .ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: middle;
    }

    // footer
    footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        &.position-relative {
            position: relative;
            bottom: unset;
            right: unset;
            left: unset;
        }

        margin-right: -$viewport-margin;

        .footer-container {
            height: 30px;
            background-color: #ededed;
            padding-right: 5px;
            padding-left: 5px;
            padding-top: 5px;
            color: #595757;
            font-size: 11px;

            li {
                list-style-type: inherit;
            }

            ul {
                list-style-type: disc;
            }

            ol {
                list-style-type: decimal;
            }

            code {
                padding-left: 0;
                padding-right: 0;
                color: $black-color;
                background-color: #F5F5F5;
            }
        }
    }

    // title
    .title-container {
        margin: 0;
        width: 100%;
        display: inline-block;

        h1 {
            margin: 0;
        }

        .title-buttons {
            float: right;
            text-align: right;
        }
    }

    // top panel container for record and recordset
    .top-panel-container {
        padding-top: $viewport-margin;
        padding-right: $viewport-margin;

        alerts > div {
            padding-left: 20px;
        }

        .top-flex-panel {
            position: relative;
            display: flex;
            flex: 1;
            -webkit-box-flex: 1;

            .top-left-panel {
                position: relative;
                max-width: 40vw;
                margin-left: $viewport-margin;

                &.open-panel {
                    flex: 0;
                    flex-basis: $left-panel-width-lg;
                    min-width: 170px;

                    & + .top-right-panel {
                        padding-left: $main-alley;
                    }
                }

                &.close-panel {
                    width: 0;
                    flex-basis: 0 !important;
                    display: none;

                    & + .top-right-panel {
                        // NOTE this is done this way to make sure we're implementing
                        // spacing the same way in top and bottom panels.
                        // This is becuase we have js code that will look at the
                        // clientWidth and the width of these two panels should be the same.
                        padding-left: $viewport-margin;
                    }
                }

                .panel-header {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    h3 {
                        margin: 0;
                    }

                    button {
                        padding: 0;
                        padding-bottom: 3px;
                    }
                }
            } // end .top-left-panel

            .top-right-panel {
                flex: 1;
                position: relative;
                // added for the ellipsis logic for the title in case of modals
                min-width: 0;
            }
        }
    }

    // bottom panel container for record and recordset
    .bottom-panel-container {
        display: flex;
        flex: 1;
        -webkit-box-flex: 1;

        .side-panel-resizable {
            position: relative;
            max-width: 40vw;
            margin-left: $viewport-margin;

            &.open-panel {
                flex: 0;
                flex-basis: $left-panel-width-lg;
                min-width: 170px;

                & + .main-container {
                    padding-left: $main-alley;
                    footer.position-relative {
                        margin-left: -$main-alley;
                    }
                }
            }

            &.close-panel {
                width: 0;
                flex-basis: 0 !important;
                display: none;

                .side-panel-container {
                    width: 0;
                }

                & + .main-container {
                    // NOTE the padding is here and not on the parent because
                    // of the footer behaviour that we want.
                    // If we move it up, then the footer won't be displayed properly
                    // when the side-panel is closed
                    padding-left: $viewport-margin;
                    footer.position-relative {
                        margin-left: -$viewport-margin;
                    }
                }
            }

        }

        .main-container {
            flex: 1;
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;

            // we're going to adjust this dynamically for dynamic-padding
            &:not(.dynamic-padding) {
                padding-right: $viewport-margin;
            }
        }
    }

    // NOTE general rule that applies to record and recordset
// TODO duplicate or simplify
    .side-panel-resizable.close-panel .rg-left,
    .side-panel-resizable.close-panel .rg-right {
        display: none;
    }

    // TODO used in boolean search, record and recordset are not using it anymore
    /**** side panel buttons ****/
    .facet-btn {
        position: absolute;
        top: 40px;
        z-index: 2;
    }
    .sidePanFiddler {
        height: 40px;
        width: 21px;
        font-size: 20px;
        padding: 4px 4px 0 0;
        cursor: pointer;
        overflow: hidden;
    }
    .record-container .facet-btn {
        left: -20px;
    }
    .record-container .facet-btn.close-panel {
        left: -20px;
    }
    .record-container .sidePanFiddler {
        border-right: none;
        border-radius: 15px 0 0 15px;
    }
    /** recordset side panel collapse button **/
    .recordset-container .facet-btn {
        right: -20px;
    }
    .recordset-container .sidePanFiddler {
        border-left: none;
        border-radius: 0 15px 15px 0;
    }
    // END remove


    // copy btn (used in share dialog)
    .chaise-copy-btn {
        color: $black-color;
        font-size: 65%;
        cursor: pointer;
    }

    // chaise checkbox
    .chaise-checkbox {
        position: relative;

        label {
            padding-left: 25px;
            padding-right: 5px;
            font-weight: 400;
            position: relative;
            vertical-align: middle;
            min-height: 20px;
            margin-bottom: 0;
        }

        input {
            position: absolute;
            z-index: 1;
            cursor: pointer;
            width: 20px;
            height: 20px;
            top: 0;
            margin-top: 2px;

            &:disabled {
                cursor: not-allowed;
                &:after {
                    color: $disabled-color;
                    border-color: $disabled-color;
                }
            }

            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0;
                top: 0;
                border: 1px solid $primary-color;
                border-radius: 3px;
                color: $primary-color;
                background-color: $white-color;
                -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            }

            &:checked:after {
                font-family: 'Glyphicons Halflings';
                content: "\e013";
                font-size: 1.21rem;
            }
        }
    }

    // ellipsis-text
    .ellipsis-text label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    // favorite icon used for favorites in faceting->choice-picker->list and ellipsis action column
    .favorite-icon {
        top: 2px;
        margin-right: 8px;
        cursor: pointer;
        font-size: 18px;

        &.glyphicon-star {
            color: goldenrod;
        }

        // glyphicon-star-empty
        &.hover-show {
            visibility: hidden;
        }

        &.favorite-spinner-container {
            font-size: 1em;
            > .glyphicon-refresh {
                cursor: not-allowed;
                font-size: 14px;
                padding-right: 0px;
                margin-right: 2px;
                margin-left: 2px;
            }
        }

    }

    // changes the color of alert glyphicon (used for timeout error)
    .glyphicon-alert {
        color: $warning-color !important;
        border: none;
    }

    // spinner
    .glyphicon-refresh {
        color: $spinner-color;
    }

    // spinner animation
    .glyphicon-refresh-animate {
        -animation: spin 0.7s infinite linear;
        -ms-animation: spin 0.7s infinite linear;
        -webkit-animation: spinw 0.7s infinite linear;
        -moz-animation: spinm 0.7s infinite linear;
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }

        to {
            transform: scale(1) rotate(360deg);
        }
    }
    @-webkit-keyframes spinw {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }
    @-moz-keyframes spinm {
        from {
            -moz-transform: rotate(0deg);
        }

        to {
            -moz-transform: rotate(360deg);
        }
    }

/******* range inputs ***********/
    range-inputs {
        .form-inline {
            padding-left: 5px;

            .icon-btn {
                padding: 5px 6px;
            }

            .range-inputs-width {
                display: inline-block;
                min-width: 100px;

                .numeric-date-width {
                    max-width: 110px;
                }

                .datetime-width {
                    max-width: 170px;
                }

                // timestamp range inputs
                .input-container.chaise-input-group {
                    width: 100%;
                }
            } // end .range-inputs-width
        } // end .form-inline
    } // end range-inputs

    /* Rule for Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Rule for FF */
    input[type=number] {
        -moz-appearance: textfield;
    }

    input[type=number]::-moz-placeholder {
        line-height: 1.2;
    }

    .chaise-table-top-scroll-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        height: 0;
        position: sticky;
        width: -moz-available;
        width: -webkit-fill-available;
        z-index: 2;
        top: 0;
        display: none;
    }

    .chaise-table-top-scroll {
        height: inherit;
        overflow-x: scroll;
    }
}
