@mixin border-radius($radius: $border-radius, $fallback-border-radius: false) {
    @if $fallback-border-radius != false {
        border-radius: $fallback-border-radius;
    } @else {
        border-radius: $radius;
    }
}
@mixin border-top-radius($radius) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}
@mixin border-right-radius($radius) {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}
@mixin border-top-left-radius($radius) {
    border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius) {
    border-top-right-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
    border-bottom-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
    border-bottom-left-radius: $radius;
}

@mixin download-btn() {
    color: $primary-color;
    white-space: nowrap;
    // touch action
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    // on user select
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // allow the caption to wrap
    white-space: normal;

    &:before {
        content: "\e025";
        font-family: 'Glyphicons Halflings';
        padding-right: 4px;
    }

    &:hover {
        text-decoration: none;
    }
}

@mixin chaise-btn() {
    @include border-radius($btn-border-radius);
    cursor: pointer;
    display: inline-block;
    height: $btn-height;
    min-width: $btn-height;
    border: $btn-border-width solid;
    padding: $btn-padding-y $btn-padding-x;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap;
}

@mixin chaise-btn-primary() {
    color: $white-color;
    background-color: $primary-color;
    border-color: $black-color;

    &:focus {
        background-color: darken($primary-color, 10%);
    }
}
