@mixin border-radius($radius: $border-radius, $fallback-border-radius: false) {
    @if $fallback-border-radius != false {
        border-radius: $fallback-border-radius;
    } @else {
        border-radius: $radius;
    }
}
@mixin border-top-radius($radius) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}
@mixin border-right-radius($radius) {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}
@mixin border-top-left-radius($radius) {
    border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius) {
    border-top-right-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
    border-bottom-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
    border-bottom-left-radius: $radius;
}

@mixin download-btn() {
    color: $primary-color;
    white-space: nowrap;
    // touch action
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    // on user select
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:before {
        content: "\e025";
        font-family: 'Glyphicons Halflings';
        padding-right: 4px;
    }

    &:hover {
        text-decoration: none;
    }
}
