<div ng-controller="DiscoverListCtrl as facetList">
	<div id="ajaxSpinnerContainer" ng-hide="facetList.hideSpinner()">
		<img src="/facebase/images/ajax-loader.gif" id="ajaxSpinnerImage"
			title="Processing..." alt="Spinner" ng-hide="facetList.hideSpinner()"
			class="center" />
	</div>

	<div class="modal fade" id="viewdata" tabindex="-1" role="dialog"
		aria-labelledby="viewAllData" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="viewAllData" ng-bind-html="entryTitle"></h4>
				</div>
				<div class="modal-body">
					<div id="datacontent">
						<h3 ng-bind-html="entrySubtitle"></h3>
						<table ng-bind-html="entryRow"></table>
						<hr>
						<div ng-bind-html="textEntryRow">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Row 2: Filters / Search results -->
	<div class="row" id="content">
      	<div class="col-lg-2 col-sm-3">
      		<form role="form" class="form-horizontal">
      			<div class="form-group">
      				<div class="col-sm-3 col-sm-offset-1">
      					<label class="control-label">Collections:</label>
      				</div>
      				<div class="col-sm-5 col-sm-offset-2">
      					<select class="form-control" ng-model="table" ng-change="facetList.table_select()" ng-options="value for value in tables"></select>
      				</div>
      			</div>
      		</form>
      		
      		<div id="filters" ng-show="facetList.showFilters()">
      			<div class="row">
      				<div class="col-sm-6 pull-right">
      					<button class="ng-hide btn btn-default btn-sm" ng-click="facetList.clear($event)" ng-show="facetList.showClearButton()" >Reset All</button>
      				</div>
      				<div class="col-sm-5 col-sm-offset-1">
      					<p class="filtertitle">Filters</p>
      				</div>
      			</div>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="panel-group" id="filtermenu">
							<div class="panel panel-default" ng-repeat="facet in facets"
								ng-show="facetList.showFacetCount(facet)"
								ng-click="facetList.toggleFacet($event, facet)">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#" ng-click="facetList.preventDefault($event)"><span class="glyphicon glyphicon-plus"></span>{{facet}}</a> <span
											class="pull-right">{{box[facet]['facetcount']}}</span>
									</h4>
								</div>
								<div class="panel-collapse collapse in">
									<div class="panel-body">
										<ul class="nav filteritems" ng-hide="facetList.hide(facet)">
											<li ng-if="facetList.if_type(facet, 'bigint')"><rzslider
													rz-slider-model="box[facet]['min']"
													rz-slider-high="box[facet]['max']"
													rz-slider-floor="box[facet]['floor']"
													rz-slider-ceil="box[facet]['ceil']"
													ng-mouseup="facetList.delay_slider(facet)"> </rzslider></li>
											<li ng-if="facetList.if_type(facet, 'text')"><input
												type="text" ng-model="box[facet]['value']"
												ng-keyup="facetList.delay_predicate(facet,$event.keyCode)"/></li>
											<li ng-if="facetList.if_type(facet, 'enum')"
												ng-repeat="value in colsDescr[facet]['values']"
												ng-hide="facetList.showFacetValue(facet, value)"><input
												type="checkbox" ng-model="box[facet]['values'][value]"
												ng-change="facetList.predicate_checkbox(facet)"
												ng-disabled="facetList.showFacetValue(facet, value)" />{{value}}
												<span class="pull-right">({{colsGroup[facet][value]}})</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default more">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#" ng-click="facetList.displayMore($event)"> More filter
											options&nbsp;&nbsp;<span
											class="glyphicon glyphicon-collapse-down pull-right"></span>
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in">
									<div class="panel-body">
										<ul class="nav filteritems" ng-show="moreFlag">
											<li ng-repeat="facet in facets"><input
												type="checkbox"
												ng-model="chooseColumns[facet]">{{facet}}</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Search Results -->
		<div class="col-lg-10 col-sm-9" ng-show="facetList.showResults()">
			<div class="row" id="searchsort">
				<form class="form-inline" role="form">
					<div class="col-sm-6 col-md-5 col-lg-4">
						<div class="form-group has-feedback">
							<label class="control-label sr-only">Search Data</label>
							<input type="text" ng-model="filterAllText" class="form-control"
								placeholder="Search data..." size="44" maxlength="120"
								ng-keyup="facetList.delay_search_all($event.keyCode)">
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="form-group" id="attrsort">
							<label for="sort">Sort</label> <select class="form-control"
								name="field-pick" id="sort" ng-model="sortFacet"
								ng-change="facetList.changeSortOption()"
								ng-options="value for value in sortColumns"></select> <a
								href="#" ng-click="facetList.changeSortDirection($event)"><span class="glyphicon glyphicon-sort-by-attributes"></span></a>
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-lg-2">
						<div class="form-group">
							<label for="show">Show</label> <select class="form-control"
								name="field-pick" id="show" ng-model="pagingOptions.pageSize"
								ng-options="value for value in pagingOptions.pageSizes"></select>
						</div>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-3">
						<div class="form-group">
							<ul class="pagination toppagination">
								<li class="prev"><a href="#"
									ng-hide="facetList.cantPageBackward()"
									ng-click="facetList.pageToFirst($event)">&laquo;</a></li>
								<li class="prev"><a href="#"
									ng-hide="facetList.cantPageBackward()"
									ng-click="facetList.pageBackward($event)">&lt;</a></li>
								<li ng-repeat="page in pageRange" ng-class="facetList.setActiveClass($index)"><a href="#"
									ng-click="facetList.selectPage($event, page)" ng-show="facetList.pageInRange(page)">{{facetList.pageButton(page)}}<span class="sr-only">(current)</span></a></li>
								<li class="next"><a href="#"
									ng-show="facetList.canPageForward()"
									ng-click="facetList.pageForward($event)">&gt;</a></li>
								<li class="next"><a href="#"
									ng-show="facetList.canPageForward()"
									ng-click="facetList.pageToLast($event)">&raquo;</a></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div id="results_tally">
				<p>
					Page {{pagingOptions.currentPage}} of {{maxPages}}. Showing results
					<strong>{{(pagingOptions.currentPage-1)*pagingOptions.pageSize+1}}-{{facetList.lastRecord()}}</strong>
					of <strong>{{totalServerItems}}.</strong>
				</p>
			</div>
			<div id="resultstable">
				<div class="resultsrow" ng-repeat="row in ermrestData">
					<div class="row tableheader">
						<div class="col-sm-6">
							<p class="title" ng-bind-html="facetList.itemTitle(row)"></p>
						</div>
						<div class="col-sm-6">
							<button type="button" class="btn btn-default btn-sm pull-right"
								data-toggle="modal" data-target="#viewdata"
								ng-click="facetList.clicker($event, row);">View All
								Data</button>
						</div>
					</div>
					<table class="resultsdata table table-condensed table-striped"
						ng-bind-html="facetList.itemRow(row)"></table>
				</div>
			</div>
			<div class="row bottompgr">
				<div class="form-group">
					<ul class="pagination bottompagination">
						<li class="prev"><a href="#"
							ng-hide="facetList.cantPageBackward()"
							ng-click="facetList.pageToFirst($event)">&laquo;</a></li>
						<li class="prev"><a href="#"
							ng-hide="facetList.cantPageBackward()"
							ng-click="facetList.pageBackward($event)">&lt;</a></li>
						<li ng-repeat="page in pageRange" ng-class="facetList.setActiveClass($index)"><a href="#"
							ng-click="facetList.selectPage($event, page)" ng-show="facetList.pageInRange(page)">{{facetList.pageButton(page)}}<span class="sr-only">(current)</span></a></li>
						<li class="next"><a href="#"
							ng-show="facetList.canPageForward()"
							ng-click="facetList.pageForward($event)">&gt;</a></li>
						<li class="next"><a href="#"
							ng-show="facetList.canPageForward()"
							ng-click="facetList.pageToLast($event)">&raquo;</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
		

