	<div ng-controller="DetailListCtrl as facetDetail" ng-show="facetDetail.showDetail()">
		<div>
			<div class="modal-content panel panel-default">
				<div class="panel-heading">
					<h2 class="modal-title panel-title ng-binding">{{FacetsData.entryTitle}}<button type="button" class="btn btn-default btn-sm pull-right" ng-click="facetDetail.goBack();">
			            <i class="md-chevron-left md-lg"></i><span>BACK</span>
			        </button></h2>
				</div>
				<div class="panel-body">
					<div id="datacontent">
					<div id="datacontent">
						<h1>{{facetDetail.displayTable(FacetsData.table)}}</h1>
						<table class="dataset">
							<tr ng-repeat="name in FacetsData.detailColumns">
								<td class="key">{{facetDetail.display(FacetsData.table,name)}}:</td>
								<td class="value">
									<span ng-if="facetDetail.isUrl(FacetsData.table,name)" ng-init="urlValues=facetDetail.urlLink(FacetsData.table,name,FacetsData.entryRow[name])">
										<span ng-repeat="urlValue in urlValues track by $index" >
											<span ng-if="!$first">, </span>
											<a ng-href="{{urlValue[1]}}">
												{{urlValue[0]}}
											</a>
										</span>
									</span>
									<span ng-if="facetDetail.isThumbnail(FacetsData.table,name)">
										<a ng-href="{{FacetsData.entryRow[name]}}">
											<img title="Thumbnail" alt="Undefined" width="90" height="90" ng-src="{{FacetsData.entryRow[name]}}">
										</a>
									</span>
									<span ng-if="facetDetail.is3dView(FacetsData.table,name)" ng-init="entry3Dview=facetDetail.init3Dview(FacetsData.entryRow[name])">
										<iframe title="3dView" width="300" height="300" ng-src="{{entry3Dview}}">
											<p>Your browser does not support iframes.</p>
										</iframe>
										<a ng-href="{{FacetsData.entryRow[name]}}">
											Enlarge
										</a>
									</span>
									<span ng-if="facetDetail.isZoomify(FacetsData.table,name)">
										<button type="button" class="btn btn-default" ng-click="facetDetail.openZoomify($event, FacetsData.entryRow[name])">Open</button>
									</span>
									<span ng-if="facetDetail.isDownload(FacetsData.table,name)">
										<button type="button" class="btn btn-default" ng-click="facetDetail.download($event, FacetsData.entryRow[name])">Download</button>
									</span>
									<span ng-if="facetDetail.isHTML(FacetsData.table,name)" ng-bind-html="facetDetail.html(FacetsData.table,name,FacetsData.entryRow[name])">
									</span>
									<span ng-class="detail_text" ng-if="facetDetail.isText(FacetsData.table,name)">
										{{facetDetail.detailValue(FacetsData.table,name,FacetsData.entryRow[name])}}
									</span>
								</td>
							</tr>
							
							<tr ng-if="facetDetail.isAssociation(data['table'], data['rows'])" ng-repeat="(name, data) in FacetsData.linearizeView">
								<td ng-if="!facetDetail.isMultipleAttribute(data['rows'][0]) && !facetDetail.isGEO(data['table'])" class="key">{{facetDetail.display(data['table'],name,data['rows'])}}:</td>
								<td class="value">
									<ul ng-class="facetDetail.setListClass(data['rows'])">
										<li ng-if="!facetDetail.isMultiAttribute(data['table'],name,value)" ng-repeat="value in data['rows']">
											<span ng-if="facetDetail.isAttribute(data['table'],name,value)">{{facetDetail.itemDenormalizedValue(data['table'],value,name,value[name])}}</span>
											<span ng-if="facetDetail.isUrl(data['table'],name)" ng-init="urlValues=facetDetail.urlLink(data['table'],name,value[name])">
												<span ng-repeat="urlValue in urlValues track by $index" >
													<span ng-if="!$first">, </span>
													<a ng-href="{{urlValue[1]}}">
														{{urlValue[0]}}
													</a>
												</span>
											</span>
										</li>
									</ul>
								</td>
							</tr>
						</table>
						<div ng-if="facetDetail.isAssociation(data['table'], data['rows'])" ng-repeat="(name, data) in FacetsData.linearizeView">
							<div ng-if="facetDetail.isMultipleAttribute(data['rows'][0]) || facetDetail.isGEO(data['table'])">
								<h3>{{facetDetail.displayTableName(data['table'])}}</h3>
								<table ng-if="!facetDetail.isReference(data['table'])" class="multiple_values">
									<thead>
										<tr>
											<th class="multiple_values" ng-if="facetDetail.isAssociationAttribute(data['table'], column)" ng-repeat="(column,val) in data['rows'][0]">{{facetDetail.display(data['table'],column)}}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="value in data['rows']">
											<td class="multiple_values" ng-if="facetDetail.isAssociationAttribute(data['table'], column)" ng-repeat="(column,val) in value">
												<span ng-if="facetDetail.isUrl(data['table'],column)" ng-init="urlValues=facetDetail.urlLink(data['table'],column,val)">
													<span ng-repeat="urlValue in urlValues track by $index" >
														<span ng-if="!$first">, </span>
														<a ng-href="{{urlValue[1]}}">
															{{urlValue[0]}}
														</a>
													</span>
												</span>
												<span ng-if="facetDetail.isCommonAttribute(data['table'],column)">{{val}}</span>
											</td>
										</tr>
									</tbody>
								</table>
								<table ng-if="facetDetail.isReference(data['table'])" class="multiple_values">
									<thead>
										<tr>
											<th class="multiple_values" ng-repeat="column in facetDetail.referenceColumns(data['table'], data['rows'][0])">{{facetDetail.display(data['table'],column)}}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="value in FacetsData.externalReferenceRows">
											<td class="multiple_values">
												<a ng-href="{{value['href']}}">{{value['label']}}</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div ng-if="facetDetail.isNested(detail, values)" ng-repeat="(detail, values) in FacetsData.denormalizedView">
							<div ng-repeat="value in values" ng-show="facetDetail.hasValues(value)">
								<hr>
								<h4>{{facetDetail.displayTable(detail)}}</h4>
								<table class="dataset">
									<tr ng-repeat="(name, val) in value">
										<td class="key">{{facetDetail.display(detail,name)}}:</td>
										<td class="value">
											<table>
												<tr ng-if="facetDetail.isUrl(detail,name)" ng-init="urlValues=facetDetail.urlLink(detail,name,val)">
													<td>
														<span ng-repeat="urlValue in urlValues track by $index" >
															<span ng-if="!$first">, </span>
															<a ng-href="{{urlValue[1]}}">
																{{urlValue[0]}}
															</a>
														</span>
													</td>
												</tr>
												<tr ng-if="!facetDetail.isUrl(detail,name)">
													<td>{{val}}</td>
												</tr>
												<tr ng-if="facetDetail.isThumbnail(detail,name)">
													<td>
														<a ng-href="{{val}}">
															<img title="Thumbnail" alt="Undefined" width="90" height="90" ng-src="{{val}}">
														</a>
													</td>
												</tr>
												<tr ng-if="facetDetail.is3dView(detail,name)" ng-init="entry3Dview=facetDetail.init3Dview(val)">
													<td>
														<iframe title="3dView" width="300" height="300" ng-src="{{entry3Dview}}">
															<p>Your browser does not support iframes.</p>
														</iframe>
														<a ng-href="{{val}}">
															Enlarge
														</a>
													</td>
												</tr>
												<tr ng-if="facetDetail.isZoomify(detail,name)">
													<td>
														<button type="button" class="btn btn-default" ng-click="facetDetail.openZoomify($event, val)">Open</button>
													</td>
												</tr>
												<tr ng-if="facetDetail.isDownload(detail,name)">
													<td>
														<button type="button" class="btn btn-default" ng-click="facetDetail.download($event, val)">Download</button>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</div>
						</div>
						
                        <h3 ng-show="FacetsData.tiles.length>0">2D Images:</h3>
                        <table>
                            <tr ng-repeat="values in FacetsData.tiles">
                                <td ng-repeat="tile in values track by $index" class="tiles">
                                    <a ng-if="tile!=''" ng-href="{{tile}}">
                                            <img title="Thumbnail" alt="" width="90" height="90" ng-src="{{tile}}">
                                    </a>
                                </td>

                             </tr>
                        </table>
                        <h3 ng-show="FacetsData.viewer3dFile.length>0">Preview 3D Images:</h3>
                        <table ng-if="FacetsData.viewer3dFile.length>0" class="files">
                            <tr>
                                <th ng-class="facetDetail.setPreviewClass()">Preview</th>
                                <th class="files">Name</th>
                                <th class="size">Size (bytes)</th>
                            </tr>
                            <tr ng-repeat="values in FacetsData.viewer3dFile">
                                <td ng-class="facetDetail.setPreviewClass()" ng-init="entry3Dview=facetDetail.init3Dview(values[3])">
                                	<table ng-if="values[5]!= null">
                                		<tr>
                                			<td>
		                                       <iframe title="3dView" width="500" height="400" ng-src="{{entry3Dview}}">
													<p>Your browser does not support iframes.</p>
		                                       </iframe>
                                			</td>
                                		</tr>
                                	</table>
                                	<table ng-if="values[5]!= null">
                                		<tr>
                                			<td class="center">
		                                       <a ng-href="{{values[4]}}" ng-click="facetDetail.enlarge($event, values[4])">
		                                               Enlarge
		                                       </a>
                                			</td>
                                		</tr>
                                	</table>
                                </td>
                                <td class="files">
                                    <a ng-href="{{values[0]}}">
                                            {{values[1]}}
                                    </a>
                                </td>
                                <td class="size">{{values[2] | number}}</td>
                             </tr>
                        </table>
                        <h3 ng-show="FacetsData.files.length>0">Files:</h3>
                        <table ng-if="FacetsData.files.length>0" class="files">
                            <tr>
                                <th class="files">Name</th>
                                <th class="size">Size (bytes)</th>
                            </tr>
                             <tr ng-repeat="values in FacetsData.files">
                                <td class="files">
                                    <a ng-href="{{values[2]}}">{{values[1]}}
                                    </a>
                                </td>
                                <td class="size">{{values[3] | number}}</td>
                             </tr>
                        </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
