<div>
	<div ng-controller="InitListCtrl as facetInit" id="ajaxSpinnerContainer" class="ng-hide" ng-hide="facetInit.hideSpinner()">
		<img class="ng-hide" src="images/ajax-loader.gif" id="ajaxSpinnerImage"
			title="Processing..." alt="Spinner" ng-hide="facetInit.hideSpinner()"
			class="center" />
	</div>
	
	<div ng-include="'views/ermdetail.html'"></div>

	<!-- Row 2: Filters / Search results -->
	<div class="row" id="content">
		<div ng-include="'views/ermfilters.html'"></div>
		
		<!-- Search Results -->
		<div ng-include="'views/ermresults.html'"></div>
	</div>
</div>
		

