<div ng-controller="GridListCtrl as facetList">
	<div id="ajaxSpinnerContainer" ng-hide="facetList.hideSpinner()">
		<img src="/facebase/images/ajax-loader.gif" id="ajaxSpinnerImage"
			title="Processing..." alt="Spinner" ng-hide="facetList.hideSpinner()" class="center"/>
	</div>
      <div><b>Collections:&nbsp;</b><select ng-model="table" ng-change="facetList.table_select()" ng-options="value for value in tables"></select></div>
      <br />
      <div ng-show="facetList.showSearchBox()" class="ng-hide"><input type="text" ng-model="filterAllText" size="25" placeholder="Search..." ng-keyup="facetList.delay_search_all($event.keyCode)"></div>
      <table ng-show="facetList.showApplication()" class="ng-hide">
        <thead><tr><th class="top"></th><th><th></tr></thead>
        <tbody>
        <tr>
          <td class="top">
	    <table class="leftArea"><tbody>
              <tr ng-repeat-start="facet in facets" ng-click="$broadcast('reCalcViewDimensions')">
                    <!-- <td><a ng-href="#"  ng-click="facetList.preventRoute($event)">{{facetList.display(facet)}}</a></td> -->
                    <td><a ng-href="#"  class="facet_name" ng-show="facetList.showFacetCount(facet)" ng_class="facetClass[facet]" ng-click="facetList.preventRoute($event, facet)">{{box[facet]['count']}}</a></td>
	            <td ng-show="facetList.show(facet)"><img src="/facebase/images/triangle--down.jpeg" alt="Expand" height="8" width="8" ng-click="facetList.expand(facet)" class="pointer"></td>
	            <td ng-hide="facetList.hide(facet)"><img src="/facebase/images/triangle--up.jpeg" alt="Collapse" height="8" width="8" ng-click="facetList.collapse(facet)" class="pointer"></td>
	      </tr>
	      <tr ng-repeat-end>
	            <td ng-hide="facetList.hide(facet)">
			<input ng-if="facetList.if_type(facet, 'text')" type="text" ng-model="box[facet]['value']" ng-keyup="facetList.delay_predicate(facet,$event.keyCode)">
			<table ng-if="facetList.if_type(facet, 'enum')">
			  <tr ng-repeat="value in colsDescr[facet]['values']">
			    <td class="facet_checkbox" ng-hide="facetList.showFacetValue(facet, value)"><input class="facet_checkbox" type="checkbox" ng-model="box[facet]['values'][value]" ng-change="facetList.predicate_checkbox(facet)" ng-disabled="facetList.showFacetValue(facet, value)">{{facetList.displayValue(facet, value)}}</td>
			  </tr>
			</table>
			<select ng-if="facetList.if_type(facet, 'select')" class="select_facet" ng-model="box[facet]['value']" ng-change="facetList.predicate_select(facet)" multiple="multiple" ng-options="value for value in colsDescr[facet]['values']"></select>
			<rzslider ng-if="facetList.if_type(facet, 'bigint')" rz-slider-model="box[facet]['min']" rz-slider-high="box[facet]['max']" rz-slider-floor="box[facet]['floor']"  rz-slider-ceil="box[facet]['ceil']"
				ng-mouseup="facetList.delay_slider(facet)">
			</rzslider>
		    </td>
		    <td></td>
		    <td></td>
	      </tr>
            </tbody></table>
        <br/>
        <table class="leftArea"><tbody>
          <tr ng-show="facetList.showMoreButton()" >
        	<td><a ng-href="#"  ng-click="facetList.displayMore($event)">More...</a></td>
        	<td ng-show="facetList.showMore()"><img src="/facebase/images/triangle--down.jpeg" alt="Expand" height="8" width="8" ng-click="facetList.expandMore()" class="pointer"></td>
	        <td ng-hide="facetList.hideMore()"><img src="/facebase/images/triangle--up.jpeg" alt="Collapse" height="8" width="8" ng-click="facetList.collapseMore()" class="pointer"></td>
          </tr>
          <tr>
          	<td ng-hide="facetList.hideMore()">
				<table>
				  <tr ng-repeat="facet in facets">
				    <td class="facet_checkbox" ><input  class="facet_checkbox" type="checkbox" ng-model="chooseColumns[facet]">{{facet}}</td>
				  </tr>
				</table>
          	</td>
		    <td></td>
		    <td></td>
          </tr>
        </tbody></table>
		<div class="floatRight"><button ng-model="clear" ng-click="facetList.clear()" ng-show="facetList.showClearButton()" class="ng-hide">Clear</button></div>
		<br class="clearBoth">
          </td>

          <td class="top">
            <div class="gridStyle" ng-grid="gridOptions"></div>
          </td>
        </tr></tbody>
      </table>
</div>

