<header class="row">
	<nav id="mainnav" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
         		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fb-navbar-main-collapse">
             		<span class="sr-only">Toggle navigation</span>
             		<span class="md-chevron-down"></span>
                   MENU
         		</button>
	      <a class="navbar-brand" href="#">Chaise</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="fb-navbar-main-collapse">
	    		
               <p class="navbar-text pull-right">
               	<a class="login" id="login_link" href="javascript:initLogin()">Log in</a>
               	<a id="login_user" href="#"></a>
               	<a class="login" id="logout_link" style="display:none;" href="javascript:deleteSession(window.location)">Logout</a>
               	<i class="md-account-circle md-lg"></i> Profile
               </p>
	      
	    </div><!-- /.navbar-collapse -->
	</div>
	</nav>
</header>
