<div ng-controller="InitListCtrl as facetInit">
    <div class="ng-hide" ng-show="facetInit.showSpinner()" id="spinner">
        <img src="../detailed/assets/images/spinner.gif" style="display: block; margin: 0 auto; width: 32px; height: 32px; opacity: 0.8;"/>
        <div style="margin-top: 15px;">Loading...</div>
    </div>
    <div class="ng-hide" ng-show="facetInit.showError()">
    	<h1>ERROR: {{status}}</h1>
    	<p>
    	<blockquote ng-bind-html="facetInit.html(errorMessage)"></blockquote>
    </div>
</div>
