<div ng-controller="ermMatrixController as mCtrl" class="matrix-page">
    <div ng-keyup="mCtrl.keyUp($event)" ng-if="!(error.has && error.imp)">
        <p class="matrix-intro">
            Use the three input boxes to select attributes that you want to use for generating the matrix.
            <span ng-if="showMatrix && !error.has">(Click a cell to see a list of links to the related datasets.)</span>
        </p>
        <form class="form-inline attribute-form" role="form">
            <div class="form-group">
                <label for="attr-row">Row:</label>
                <div>
                    <select class="form-control" id="attr-row" ng-model="mCtrl.selectedAttributes[0]"
                            ng-disabled="FacetsData.progress"
                            ng-change="mCtrl.createMatrix()"
                            ng-options="dt.name for dt in mCtrl.attributeList track by dt.value"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="attr-col">Column:</label>
                <div>
                    <select class="form-control" id="attr-col" ng-model="mCtrl.selectedAttributes[1]"
                            ng-disabled="FacetsData.progress"
                            ng-change="mCtrl.createMatrix()"
                            ng-options="dt.name for dt in mCtrl.attributeList track by dt.value"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="attr-datat">Category:</label>
                <div>
                    <select class="form-control" id="attr-datat" ng-model="mCtrl.selectedAttributes[2]"
                            ng-disabled="FacetsData.progress"
                            ng-change="mCtrl.createMatrix()"
                            ng-options="dt.name for dt in mCtrl.attributeList track by dt.value"></select>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<div class="submit-btn-div">-->
            <!--<div class="btn btn-primary" ng-click="mCtrl.createMatrix()"-->
            <!--ng-disabled="FacetsData.progress">-->
            <!--Create-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </form>
        <div ng-if="showMatrix && !error.has" class="matrix-result">
            <table class="matrix-view table table-bordered">
                <thead>
                <tr class="col-label labels">
                    <td class="labels-td" colspan="{{ mCtrl.attributes[1].length + 2 }}"
                        ng-bind="mCtrl.selectedAttributes[1].name"></td>
                </tr>
                <tr class="features">
                    <th class="no-border" ng-style="{'height': mCtrl.headerHeight}">&nbsp;</th>
                    <th class="no-border">&nbsp;</th>
                    <th class="text-center rotate" ng-repeat="col in mCtrl.attributes[1]">
                        <div ng-bind="col"></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-label labels">
                    <td class="labels-td" rowspan="{{ mCtrl.attributes[0].length + 1 }}">
                        <div ng-style="{'width': mCtrl.selectedAttributes[0].name.length * 9, 'left': mCtrl.selectedAttributes[0].name.length * -4.2}"
                             ng-bind="mCtrl.selectedAttributes[0].name"></div>
                        <div></div>
                    </td>
                </tr>
                <tr ng-repeat="row in mCtrl.dataSetTypes" ng-init="rowIndex = $index">
                    <th class="row-header" ng-bind="mCtrl.attributes[0][$index]"></th>
                    <td ng-repeat="cell in row track by $index">
                        <div ng-if="cell.length == 0">&nbsp;</div>
                        <div ng-if="cell.length > 0" class="exp-div"
                             title="{{mCtrl.attributes[1][$index]}} + {{mCtrl.attributes[0][rowIndex]}}"
                             ng-click="mCtrl.openModal(rowIndex, $index)"
                             data-toggle="modal" data-target="#dataset-modal">
                            <div class="color-part" ng-repeat="dt in cell"
                                 ng-style="mCtrl.getDataTypeStyle(dt, cell.length)"></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="table-legend">
                <div class="datatype-label labels" ng-bind="mCtrl.selectedAttributes[2].name"></div>
                <table>
                    <tr class="table-colors">
                        <th ng-repeat="color in mCtrl.dataTypeColors">
                            <div ng-style="{'background-color': color}"></div>
                        </th>
                    </tr>
                    <tr class="colors">
                        <td ng-repeat="dt in mCtrl.attributes[2]" ng-style="{'height': mCtrl.legendHeight}">
                            <div ng-bind="dt"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="dataset-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title" ng-bind="mCtrl.modalContent.header"></h5>
                    </div>
                    <div class="modal-body">
                        <div ng-if="mCtrl.modalContent.nextCol >= 0"
                             ng-click="mCtrl.openModal(mCtrl.modalContent.row, mCtrl.modalContent.nextCol)"
                             class="modal-nav-btn" title="Next {{ mCtrl.colLabel }}" id="next-col">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </div>
                        <div ng-if="mCtrl.modalContent.prevCol >= 0"
                             ng-click="mCtrl.openModal(mCtrl.modalContent.row, mCtrl.modalContent.prevCol)"
                             class="modal-nav-btn" title="Previous {{ mCtrl.colLabel }}" id="prev-col">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </div>
                        <div ng-if="mCtrl.modalContent.prevRow >= 0"
                             ng-click="mCtrl.openModal(mCtrl.modalContent.prevRow, mCtrl.modalContent.col)"
                             class="modal-nav-btn" title="Previous {{ mCtrl.rowLabel }}" id="prev-row">
                            <span class="glyphicon glyphicon-chevron-left up"></span>
                        </div>
                        <div ng-if="mCtrl.modalContent.nextRow >= 0"
                             ng-click="mCtrl.openModal(mCtrl.modalContent.nextRow, mCtrl.modalContent.col)"
                             class="modal-nav-btn" title="Next {{ mCtrl.rowLabel }}" id="next-row">
                            <span class="glyphicon glyphicon-chevron-right down"></span>
                        </div>
                        <div class="content-here">
                            <div ng-repeat="dataSet in mCtrl.modalContent.dataset">
                                <h5>
                                    <a ng-href="{{ dataSet.uri }}" ng-bind="dataSet.title"></a>
                                </h5>
                                <ol>
                                    <li ng-repeat="data in dataSet.data">
                                        <a ng-href="{{ data.uri }}" ng-bind="data.title"></a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="alert alert-danger" ng-if="error.has" ng-bind="error.message"></div>
</div>
