<div ng-controller="SideBarCtrl as sideBar">
	<!-- Collections sidebar -->
	<aside id="collectionsTree" class="sidebar sidebar-default sidebar-fixed-right" role="navigation">
	    <!-- Sidebar header -->
	    <div class="sidebar-header header-cover">
	        <!-- Sidebar toggle button -->
	        <div class="row">
	        	<div class="col-md-10">
				        <h5>Collections</h5>
				</div>
				<div class="col-md-2">
				        <button type="button" class="btn btn-default btn-sm pull-right collections-toggle" ng-click="sideBar.sidebarClick($event, 'collections-toggle');">
				            DONE
				        </button>
				    </div>
			</div>
	    </div>
		<div class="row">
			<div class="col-md-12">
				<div class="editvalue-container">
					<div id="treeDiv">
						<script type="text/ng-template" id="tree_item_renderer.html">
    						<label ng-show="data.expand && data.nodes.length > 0 && data.level!=-1" ng-click="sideBar.expandCollapse(data, true)">+</label>
							<label ng-show="!data.expand && data.nodes.length > 0 && data.level!=-1" ng-click="sideBar.expandCollapse(data, false)">-</label>
							<label ng-show="data.level!=-1" ng-click="sideBar.getEntityResults($event, data)">{{data.display}} {{sideBar.displayTreeCount(data)}}</label>
    						<ul ng-show="data.show" class="entity">
        						<li class="entity" ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    						</ul>
						</script>
						<ul class="entity">
		 					<li class="entity" ng-repeat="data in FacetsData.tree" ng-include="'tree_item_renderer.html'"></li>
		 				</ul>
					</div>
				</div>
			</div>
		</div>
	</aside>


	<!-- Filters sidebar -->
	<aside id="sidebar" class="sidebar sidebar-default sidebar-fixed-right" role="navigation">
	    <!-- Sidebar header -->
	    <div class="sidebar-header header-cover">
	        <!-- Sidebar toggle button -->
	        <div class="row">
	        	<div class="col-md-10">
				        <h5>Fields &amp; Values</h5>
				</div>
				<div class="col-md-2">
				        <button type="button" class="btn btn-default btn-sm pull-right sidebar-toggle" ng-click="sideBar.sidebarClick($event, 'sidebar-toggle');">
				            DONE
				        </button>
				    </div>
			</div>
		</div>
	        <!-- Sidebar brand image 
	        <div class="sidebar-image">
	            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/atom_profile_01.jpg">
	        </div> -->
	        <!-- Sidebar brand name 
	        <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown">
	            john.doe@gmail.com
	            <b class="caret"></b>
	        </a>
	        -->
	        <div class="row">
	        	<div class="col-md-12">
					<div class="search-box">
						<div class="input-group">
							<span class="input-group-btn">
								<a class="btn btn-default btn-lg" type="button">
									<i class="md-search md-lg"></i>
								</a>
							</span>
							<input type="text" ng-model="FacetsData.searchFilter" class="sidebar-search form-control pull-right" placeholder="Search" ng-keyup="sideBar.delay_search_filters($event.keyCode)">
						</div>
					</div>
	        		<div class="editfilter-container">
	        			<div class="filter-item">
	        				<a class="field-toggle" href="#" ng-click="sideBar.slideMoreFilter($event, 'more-field-toggle')">
	        					<span class="filter-item-field">enabled {{sideBar.getEnabledFilters()}} of {{FacetsData.facets.length}}</span><i class="md-chevron-right md-lg"></i>
	        				</a>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	        <ul class="nav sidebar-nav">
		        <li ng-show="sideBar.showFacetCount(facet) || sideBar.showFacetMatch(facet)" ng-repeat="facet in FacetsData.facets">
		            <a class="field-toggle" href="#" ng-click="sideBar.slideFilter($event, 'field-toggle', facet)">
		            	<span class="badge">{{FacetsData.box[facet['table']][facet['name']]['facetcount']}}</span>
		            	{{facet['display']}}
		                <span class="md-chevron-right md-lg"></span>
		                <!--
		                <b class="caret"></b>
		            -->
		            </a>
		        </li>
	        </ul>

	    <!-- Sidebar divider -->
	    <!-- <div class="sidebar-divider"></div> -->
	    
	    <!-- Sidebar text -->
	    <!--  <div class="sidebar-text">Text</div> -->
	</aside>


	<!-- level sidebar for more filters -->
	<aside id="morefilters" class="sidebar sidebar-default sidebar-fixed-right" role="navigation">
		<div class="sidebar-header header-cover">
			<div class="row">
				<div class="col-md-10">
				   <h5><a href="#" ng-click="sideBar.editMoreFilterDone($event, 'more-field-toggle');"><i class="md-arrow-back md-lg"></i> Fields &amp; Values</a></h5>
				</div>
				<div class="col-md-2">
				        <button type="button" class="btn btn-default btn-sm pull-right field-toggle" ng-click="sideBar.editMoreFilterDone($event, 'more-field-toggle');">
				            DONE
				        </button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="editfilter-container">
					<div class="filter-item">
						<span class="filter-item-field">enabled {{sideBar.getEnabledFilters()}} of {{FacetsData.facets.length}}</span>&nbsp;
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="search-box">
					<div class="input-group">
						<span class="input-group-btn">
							<a class="btn btn-default btn-lg" type="button">
								<i class="md-search md-lg"></i>
							</a>
						</span>
						<input type="text" ng-model="FacetsData.narrowFilter" class="sidebar-search form-control pull-right" placeholder="Filter">
					</div>
				</div>
				<div class="editvalue-container">
					<div ng-show="false" class="field-enable">
						<input ng-model="FacetsData.enableAll" type="checkbox" ng-click="sideBar.enableDisableAll()" />
					</div>
					<div class="field-enable" ng-repeat="facet in FacetsData.facets" ng-show="sideBar.showUsableFilter(facet)">
						<label ng-class="sideBar.getMoreFilterClass(facet)" id="filt-css">CSS</label>
						<div ng-class="sideBar.getMoreFieldSwitchClass(facet)">
							<input
								type="checkbox" ng-model="FacetsData.chooseColumns[facet['table']][facet['name']]"
								class="check"/><b class="b switch"></b>
						</div>
						<label ng-class="sideBar.getMoreFieldValueClass(facet)">{{facet['display']}}</label>
						<div class="field-count pull-right">
							<span class="badge">{{FacetsData.box[facet['table']][facet['name']]['facetcount']}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>

	<!-- next level sidebar to adjust value ranges per field -->

	<aside id="editfilter" class="sidebar sidebar-default sidebar-fixed-right" role="navigation">
	    <!-- Sidebar header -->
	    <div class="sidebar-header header-cover">
	        <!-- Sidebar toggle button -->
	        <div class="row">
	        	<div class="col-md-10">
				   <a href="#" ng-click="sideBar.editFilterDone($event, 'field-toggle', false);"><span class="md-arrow-back md-lg"></span> Fields &amp; Values</a>
				</div>
				<div class="col-md-2">
				        <button type="button" class="btn btn-default btn-sm pull-right field-toggle" ng-click="sideBar.editFilterDone($event, 'field-toggle', true);">
				            DONE
				        </button>
				</div>
			</div>
	    </div>
	
	    <!-- Edit Filter Container -->
	    <div ng-if="FacetsData.tag!=null" class="row">
	        <div class="col-md-12">
	            <div class="editfilter-container">
	                <!-- <p>Click filter button to use filters.</p> -->
	                <div class="filter-item">
	                    <a href="#" ng-click="sideBar.removeFilter($event, FacetsData.tag);"><i class="md-cancel md-lg"></i></a>
	                    <span class="filter-item-field">{{FacetsData.tag['display']}}</span>&nbsp;
	                    	<span ng-if="sideBar.if_type(FacetsData.tag, 'bigint')" class="filter-item-value" ng-attr-title="{{FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['min'] | number}} - {{FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['max'] | number}}">
	                    		{{FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['min'] | number}} - {{FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['max'] | number}}
	                    	</span>
	                    	<span ng-if="sideBar.if_type(FacetsData.tag, 'text')" class="filter-item-value" ng-attr-title="{{FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['value']}}">
	                    		{{FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['value']}}
	                    	</span>
	                    	<span ng-if="sideBar.if_type(FacetsData.tag, 'enum')" class="filter-item-value" ng-attr-title="{{sideBar.displayTitle(FacetsData.tag)}}">
				    			<span ng-repeat="value in sideBar.getFacetValues(FacetsData.tag)">
				    				<span ng-if="!$first">, </span>
				    					{{value}}
				    			</span>
	                    	</span>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <div ng-show="false" ng-if="sideBar.if_type(FacetsData.tag, 'enum')">
	    	<div class="row">
	    		<div class="col-md-12">
	    			<div class="editfilter-container">
		                <div class="filter-item">
		                    <span class="filter-item-field">enabled {{sideBar.getFacetValues(FacetsData.tag).length}} of {{FacetsData.colsDescr[FacetsData.tag['table']][FacetsData.tag['name']]['values'].length}}</span>&nbsp;
		                </div>
					</div>
				</div>
			</div>
	    </div>
	    
		<div ng-if="sideBar.if_type(FacetsData.tag, 'enum')" class="search-box">
			<div class="input-group">
				<span class="input-group-btn">
					<a class="btn btn-default btn-lg" type="button">
						<span class="md-search md-lg"></span>
					</a>
				</span>
				<input type="text" ng-model="FacetsData.searchFilterValue[FacetsData.tag['table']][FacetsData.tag['name']]" class="sidebar-search form-control pull-right" placeholder="Filter">
			</div>
		</div>
	    <!-- slider/value picker -->
	    <div ng-if="FacetsData.tag!=null" class="row">
	        <div class="col-md-12">
	        	<div class="editvalue-container">
					<ul class="nav filteritems" ng-hide="sideBar.hide(FacetsData.tag)">
						<li ng-if="sideBar.if_type(FacetsData.tag, 'bigint')"><rzslider
								rz-slider-model="FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['min']"
								rz-slider-high="FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['max']"
								rz-slider-floor="FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['floor']"
								rz-slider-ceil="FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['ceil']"
								rz-slider-translate="translate"> </rzslider></li>
						<li ng-if="sideBar.if_type(FacetsData.tag, 'text')"><input placeholder="Search" 
							type="text" ng-model="FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['value']"
							/></li>
						<li ng-if="sideBar.if_type(FacetsData.tag, 'enum')"
							ng-repeat="value in FacetsData.colsDescr[FacetsData.tag['table']][FacetsData.tag['name']]['values']"
							ng-hide="sideBar.showFacetValue(FacetsData.tag, value)">
							<div class="field-enable">
								<label ng-class="sideBar.getFilterClass(FacetsData.tag, value)" id="filt-css">CSS</label>
								<div ng-class="sideBar.getFieldSwitchClass(FacetsData.tag, value)">
									<input
										type="checkbox" ng-model="FacetsData.box[FacetsData.tag['table']][FacetsData.tag['name']]['values'][value]"
										class="check" ng-click="sideBar.checkedFilter($event)"/><b class="b switch"></b>
								</div>
								<label ng-class="sideBar.getFieldValueClass(FacetsData.tag, value)">{{value}}</label>
								<div class="field-count pull-right">
									<span class="badge">{{FacetsData.colsGroup[FacetsData.tag['table']][FacetsData.tag['name']][value]}}</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
	        </div>
	    </div>
	    <!-- Sidebar divider -->
	    <!-- <div class="sidebar-divider"></div> -->
	    
	    <!-- Sidebar text -->
	    <!--  <div class="sidebar-text">Text</div> -->
	</aside>

	<!-- end edit-filter sidebar overlay -->

</div>
