<div ng-controller="SettingsCtrl as settings">
	<!-- Filters sidebar -->
	<aside id="settings" class="sidebar sidebar-default sidebar-fixed-right" role="navigation">
	    <!-- Sidebar header -->
	    <div class="sidebar-header header-cover">
	        <!-- Sidebar toggle button -->
	        <div class="row">
	        	<div class="col-md-10">
				        <h5>Settings</h5>
				</div>
				<div class="col-md-2">
				        <button type="button" class="btn btn-default btn-sm pull-right sidebar-toggle" ng-click="settings.sidebarClick($event, 'settings-toggle', true);">
				            DONE
				        </button>
				    </div>
		</div>
	    </div>

	    <div class="col-md-10">
				        <h5>Choose a New Catalog</h5>
				</div>
		
	    <div>
	      <ul class="nav sidebar-nav">
			<li class="ng-scope" ng-repeat="catalog in FacetsData.catalogs">
<a href="" class="catalog-select" ng-click="settings.selectCatalog(catalog.id)">
  <span class="badge ng-binding"> {{catalog.name}}</span> {{catalog.descriptor}}
  <span class="md-chevron-right md-lg">
  </span>
  </a>
			</li>
</ul>

	    <!-- Sidebar divider -->
	    <!-- <div class="sidebar-divider"></div> -->
	    
	    <!-- Sidebar text -->
	    <!--  <div class="sidebar-text">Text</div> -->
	</aside>	
</div>
