<div ng-controller="SettingsCtrl as settings">
	<!-- Collections sidebar -->
	<aside id="collectionsTree" class="sidebar sidebar-default sidebar-fixed-right" role="navigation">
	    <!-- Sidebar header -->
	    <div class="sidebar-header header-cover">
	        <!-- Sidebar toggle button -->
	        <div class="row">
	        	<div class="col-md-10">
				        <h5>Settings</h5>
				</div>
				<div class="col-md-2">
				        <button id="settingDoneButton" type="button" class="btn btn-default btn-sm pull-right collections-toggle" ng-click="sideBar.sidebarClick($event, 'collections-toggle');">
				            DONE
				        </button>
				    </div>
			</div>
	    </div>
	</aside>	
</div>


