.padding-top-10 {
    padding-top: 10px;
}

span.space-1::before {
    content: '\00A0';
}

textarea {
    resize: vertical;
}

.ui-select-container {
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.form-container {
    margin-top: 30px;
}

#copy-record-btn {
    margin-top: 8px;
}

.input-timestamptz {
    min-width: 112px;
}

/*******Bootstrap  Modal styling *********/

/*When the modal fills the screen it has an even 2.5% on top and bottom*/
/*Centers the modal*/
.modal-dialog {
  margin: 2.5vh auto;
  width: auto !important;
  max-width: 95vw;
}

/*Sets the maximum height of the entire modal to 95% of the screen height*/
.modal-content {
  max-height: 95vh;
  overflow: hidden;
  max-width: 95vw;
}

/*Sets the maximum height of the modal body to 85% of the screen height*/
.modal-body {
  max-height: 90vh;
}
 
/* Sets the table's maximum height to 70% of the screen height and adds a border at the bottom */
.modal-body .outer-table {
    max-height: 70vh;
    border: 1px solid lightgrey;
}

/* Sets the margin-bottom for the table inside modal to 0px*/
.modal-body .outer-table .table {
    margin-bottom: 0px;
    overflow: scroll;
}

@media (max-width: 800px) {
    .modal-body .outer-table {
        max-height: 67vh;
    }
}

@media (max-width: 600px) {
    .modal-body .outer-table {
        max-height: 60vh;
    }
}

@media (max-width: 500px) {
    .modal-body .outer-table {
        max-height: 55vh;
    }
}

#spinner{ 
  top: 25vh;
}