.main-container {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.side-padding-15 {
    padding-right: 15px;
    padding-left: 15px;
}

span.space-1::before {
    content: '\00A0';
}

.chaise-visible {
    visibility: visible;
}

.chaise-hidden {
    visibility: hidden;
}

.add-rows-input {
    z-index: 2;
    padding: 5px;
    background-color: #D6DBDF;
    width: 125px;
}

#copy-rows-input {
    height: 30px;
}

textarea {
    resize: vertical;
}

.ui-select-container {
    width: 100%;
}

.form-container {
    margin-top: 0px;
}

.input-timestamptz {
    min-width: 112px;
}

.form-control-feedback > span.foreignkey-remove {
    border-bottom: none;
}

td.entity-value {
  min-width: 250px;
}

#form-section {
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

#formEdit {
  position: static;
  overflow-x: auto;
  overflow-y: auto;
  padding-right: 0px;
  margin-bottom: 20px;
}

#formEdit > table {
  overflow: hidden;
  margin-bottom: 0px;
  max-width: none;
}

#formEdit > table > tbody > tr >  td:first-child {
  position: absolute !important;
  left: 0;
  top: auto;
  margin-left: 10px;
  margin-top: 1px;
  background: white;
  z-index: 10;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

#formEdit.createMode > table > tbody >  tr:first-child >  td {
  height: 48px !important;
}

#formEdit.editMode > table > tbody >  tr:first-child >  td {
  padding-top: 7px;
}

#formEdit > table > tbody >  tr:first-child >  td {
  border-top: 1px solid #ddd;
  margin-top: 0px;
  color: #999;
  font-weight: normal;
  font-size: 1em;
}

#formEdit > table > tbody > tr > td {
  border-right:1px solid #ddd;
}


td.entity-key, #formEdit >  table > tbody >  tr:first-child >  td:first-child {
  min-width: 150px;
}

.add-button {
  position: absolute;
  right: 15px;
  top: auto;
  float: right;
}

.modal-popup {
  width: 100%;
  margin-bottom: 0px;
}

.record-number {
  font-size: 14px;
  margin-left: 10px;
  color: #999;
}

#formEdit.createMode >  table > tbody >  tr:first-child >  td:first-child {
  height: 49px !important;
}

#formEdit.editMode >  table > tbody >  tr:first-child >  td:first-child {}

.form-control[disabled] {
  color: #888888;
  cursor: not-allowed !important;
}

.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.form-control[readonly][disabled] {
    background-color: #eee;
    opacity: 1;
}

#formEdit.editMode >  table > tbody >  tr >  td:last-child {
  border-right: 0px;
}

#formEditScroll {
  overflow-x: auto;
  overflow-y:hidden;
  height: 20px;
}


#formEditScroll > div {
  height: 20px;
}

/* Chrome only: */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  #formEdit {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  #formEdit >  table {
    margin-bottom: -1px !important;
  }
}

@-moz-document url-prefix() {
  #formEdit >  table > tbody >  tr >  td:first-child {
    margin-top: 0px;
  }

  #formEdit >  table > tbody >  tr:first-child >  td:first-child {
    margin-top: -1px;
  }
}

/****************** Upload modal css *****************/


.progress-percent {
  font-weight: bold;
  margin-top: -25px;
  margin-left: 50%;
}

.inner-progress-percent {
  margin-top: -18px;
  font-size: 12px;
}

table.upload-table {

}

table.upload-table > tbody {
  border: none;
}

table.upload-table > tbody > tr > td:first-child {
  padding-left: 20px;

}

table.upload-table > tbody > tr > td:last-child {
  width: 40%;
}

table.upload-table > tbody > tr > td:nth-child(2) {
  padding-left: 0px;
  padding-right: 0px;
}


table.upload-table > tbody > tr:last-child > td {
  border-bottom: 1px solid #ddd;
  background-color: white;
}


table.upload-table > tbody > tr:first-child > td {
  padding-left:0px;
  padding-top: 15px;
  border-bottom: 2px solid gainsboro;
  font-weight: 600;
}


table.upload-table .progress {
  height: 20px;
}


.upload-progress-bar {
  width: 0%;
  background-color: #8cacc7 !important;
}
