.padding-top-10 {
    padding-top: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.side-padding-15 {
    padding-right: 15px;
    padding-left: 15px;
}

span.space-1::before {
    content: '\00A0';
}

.chaise-visible {
    visibility: visible;
}

.chaise-hidden {
    visibility: hidden;
}

.add-rows-input {
    z-index: 2;
    padding: 5px;
    background-color: #D6DBDF;
    width: 125px;
}

#copy-rows-input {
    height: 30px;
}

textarea {
    resize: vertical;
}

.ui-select-container {
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.form-container {
    margin-top: 40px;
}

.input-timestamptz {
    min-width: 112px;
}

.form-control-feedback > span.foreignkey-remove {
    border-bottom: none;
}

/*******Bootstrap  Modal styling *********/

/*When the modal fills the screen it has an even 2.5% on top and bottom*/
/*Centers the modal*/
.modal-lg {
  margin: 2.5vh auto;
  width: auto !important;
  max-width: 95vw;
}

/*Sets the maximum height of the entire modal to 95% of the screen height*/
.modal-content {
  max-height: 95vh;
  overflow: hidden;
  max-width: 95vw;
}

/*Sets the maximum height of the modal body to 85% of the screen height*/
.modal-lg .modal-body {
  max-height: 90vh;
  min-height: 40vh;
}

/* Sets the table's maximum height to 70% of the screen height and adds a border at the bottom */
.modal-body .outer-table {
    max-height: 70vh;
    border: 1px solid lightgrey;
}

/* Sets the margin-bottom for the table inside modal to 0px*/
.modal-body .outer-table .table {
    margin-bottom: 0px;
    overflow: scroll;
}

@media (max-width: 800px) {
    .modal-body .outer-table {
        max-height: 67vh;
    }
}

@media (max-width: 600px) {
    .modal-body .outer-table {
        max-height: 60vh;
    }
}

@media (max-width: 500px) {
    .modal-body .outer-table {
        max-height: 55vh;
    }
}

#spinner {
  width: 100%;
  text-align: center;
  padding: 14px 0;
  position: absolute;
  height: 100%;
  top: 75px;
  left: 75px;
  z-index: 10;
  border: none;
  border-radius: 0px;
  background: rgba(128, 128, 128, 0.25);
}

img.spinner{
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 49%;
}

.popup-select-value {
  height: auto !important;
  max-height: 5.35em !important;
  z-index: 0;
  border-radius: 5px !important;
  padding-right: 0px;
}

.modal-popup .input-group-addon {
  padding: 0px;
  background-color: transparent;
  border: none;
  vertical-align: top;
}

td.entity-value {
  min-width: 250px;
}

#formEdit {
  position: static;
  overflow-x: auto;
  overflow-y: auto;
  padding-right: 0px;
  margin-bottom: 20px;
}

#formEdit > table {
  overflow: hidden;
  margin-bottom: 0px;
}

#formEdit > table > tbody > tr >  td:first-child {
  position: absolute !important;
  left: 0;
  top: auto;
  margin-left: 10px;
  margin-top: 1px;
  background: white;
  z-index: 10;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

#formEdit.createMode > table > tbody >  tr:first-child >  td {
  height: 48px !important;
}

#formEdit.editMode > table > tbody >  tr:first-child >  td {
  padding-top: 7px;
}

#formEdit > table > tbody >  tr:first-child >  td {
  border-top: 1px solid #ddd;
  margin-top: 0px;
  color: #999;
  font-weight: normal;
  font-size: 1em;
}

#formEdit > table > tbody > tr > td {
  border-right:1px solid #ddd;
}


td.entity-key, #formEdit >  table > tbody >  tr:first-child >  td:first-child {
  min-width: 150px;
}

.add-button {
  position: absolute;
  right: 15px;
  top: auto;
  float: right;
}

.modal-popup {
  width: 100%;
}

.record-number {
  font-size: 14px;
  margin-left: 10px;
  color: #999;
}

#formEdit.createMode >  table > tbody >  tr:first-child >  td:first-child {
  height: 49px !important;
}

#formEdit.editMode >  table > tbody >  tr:first-child >  td:first-child {}

.form-control[disabled] {
  color: #888888;
  cursor: not-allowed !important;
}

#formEdit.editMode >  table > tbody >  tr >  td:last-child {
  border-right: 0px;
}

/* Chrome only: */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  #formEdit {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  #formEdit >  table {
    margin-bottom: -1px !important;
  }
}

@-moz-document url-prefix() {
  #formEdit >  table > tbody >  tr >  td:first-child {
    margin-top: 0px;
  }

  #formEdit >  table > tbody >  tr:first-child >  td:first-child {
    margin-top: -1px;
  }
}
