.padding-top-10 {
    padding-top: 10px;
}

span.space-1::before {
    content: '\00A0';
}

textarea {
    resize: vertical;
}

.ui-select-container {
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.form-container {
    margin-top: 30px;
    overflow: scroll;
}

#new-record-btn {
    margin-top: 100px;
    margin-right: 20px;
}
