.ui-select-container {
    width: 100%;
}

th, td {
    min-width: 50px;
    width: 100%;
    max-width: none;
}

tbody input {
    min-width: 150px;
    max-width: 480px;
}

textarea {
    min-width: 250px;
    max-width: none;
    height: 34px;
}

.row {
    margin-bottom: 20px;
}

.navbar button {
    margin-left: 15px;
}
