
.ui-select-container {
    width: 100%;
}

textarea {
    resize: vertical;
}

/*th, td {
    min-width: 50px;
    max-width: none;
}

tbody input {
    min-width: 150px;
    width: 100%;
    max-width: 480px;
}

.row {
    margin-bottom: 20px;
}
*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
