* {
  font-size: 14px; }

.chaise-body {
  overflow: auto; }
  .chaise-body .container {
    margin-bottom: 100px; }

pre code {
  white-space: pre; }

h2.guide-section-header {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px; }

.icon-table {
  overflow: hidden; }
  .icon-table ul {
    padding-left: 0;
    list-style: none; }
  .icon-table li {
    float: left;
    width: 25%;
    height: 110px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #F1F1F1;
    border: 1px solid #FFFFFF; }
  .icon-table span {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px; }
  .icon-table div:not(.class-info) {
    display: block;
    text-align: center;
    word-wrap: break-word;
    /* Help out IE10+ with class names */ }
  .icon-table .class-info {
    display: none;
    color: #e6e6e6; }
  .icon-table li:hover {
    color: #FFFFFF;
    background-color: #4674A7; }
    .icon-table li:hover div:not(.class-info) {
      display: none; }
    .icon-table li:hover .class-info {
      display: block; }
  @media (min-width: 768px) {
    .icon-table li {
      width: 12.5%;
      font-size: 12px; } }
  .icon-table .fa-arrows-alt-v {
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; }
  .icon-table .fas.fa-info {
    display: inline-block;
    padding: 0.5em 0.6em;
    position: relative;
    border: 2px solid;
    border-radius: 50%;
    font-size: 1.2em;
    width: 30px;
    height: 30px !important; }
    .icon-table .fas.fa-info:before {
      position: absolute;
      top: 4px;
      left: 10.7px; }

.color-palette-table td {
  padding: 5px;
  width: 150px; }
  .color-palette-table td table {
    height: 60px;
    width: 100%; }
    .color-palette-table td table th {
      height: 60px; }
    .color-palette-table td table .color {
      height: 40px; }
.color-palette-table #link-color .color {
  background-color: #0366D6; }
.color-palette-table #link-color .content:after {
  content: "#0366D6"; }
.color-palette-table #primary-color .color {
  background-color: #4674A7; }
.color-palette-table #primary-color .content:after {
  content: "#4674A7"; }
.color-palette-table #table-header-background-color .color {
  background-color: #D0E0F0; }
.color-palette-table #table-header-background-color .content:after {
  content: "#D0E0F0"; }
.color-palette-table #table-striped-background-color .color {
  background-color: #F1F1F1; }
.color-palette-table #table-striped-background-color .content:after {
  content: "#F1F1F1"; }
.color-palette-table #disabled-background-color .color {
  background-color: #DDDDDD; }
.color-palette-table #disabled-background-color .content:after {
  content: "#DDDDDD"; }
.color-palette-table #border-color .color {
  background-color: #CCCCCC; }
.color-palette-table #border-color .content:after {
  content: "#CCCCCC"; }
.color-palette-table #table-border-color .color {
  background-color: #BBBBBB; }
.color-palette-table #table-border-color .content:after {
  content: "#BBBBBB"; }
.color-palette-table #disabled-color .color {
  background-color: #999999; }
.color-palette-table #disabled-color .content:after {
  content: "#999999"; }
.color-palette-table #section-background-color .color {
  background-color: #747474; }
.color-palette-table #section-background-color .content:after {
  content: "#747474"; }
.color-palette-table #black-color .color {
  background-color: #333333; }
.color-palette-table #black-color .content:after {
  content: "#333333"; }

.layout-container img {
  width: 100%; }

.actions-header {
  width: 150px;
  text-align: center; }

.actions-cell {
  text-align: center; }

/*# sourceMappingURL=style-guide.css.map */
