    <!-- SPINNER -->
    <div ng-init="spinnerVisible = false" ng-show="spinnerVisible" id="spinner">
        <img src="assets/images/spinner.gif" style="display: block; margin: 0 auto; width: 32px; height: 32px; opacity: 0.8;"/>
        <div style="margin-top: 15px;">{{ spinnerText }}</div>
    </div>
    <!-- NOT FOUND -->
    <div ng-init="notFoundVisible = false" ng-show="notFoundVisible" id="not-found">
        <div class="glyphicon glyphicon-search"></div> <br />
        <div id="not-found-title">Not Found</div> <br />
        <div id="not-found-subtitle">{{ notFoundText }}</div>
    </div>
    <div ng-controller="DetailCtrl" class="col-xs-10 col-xs-offset-1">
        <div ng-if="entity">
        <div id="record-bookmark-container" class="col-xs-12 meta-icons">
            <a title="This link stores your search criteria as a URL. Right click and save." ng-href="{{permanentLink()}}">
            <span class="glyphicon glyphicon-bookmark"></span> <strong>Permalink</strong>
            </a>
        </div>

            <!-- MAIN TABLE -->
            <div id="entity-title">{{ entity.internal.displayTitle }}</div>
            <div id="entity-subtitle">{{ entity.internal.displayTableName }}</div>
            <table class="table">
                <tr ng-repeat="(key, value) in entity | filteredEntity">
                    <td class="entity-key col-xs-2">
                        <div ng-if="entity.colTooltips[key]" class="coltooltip">{{ key | removeUnderScores }}
                            <span class="coltooltiptext">{{ entity.colTooltips[key] }}</span>
                        </div>
                        <span ng-if="!entity.colTooltips[key]">{{ key | removeUnderScores }}</span>
                    </td>
                    <td class="entity-value col-xs-10">
                        <a ng-if="entity[key + '_link'] && value !== null" ng-href="{{entity[key + '_link']}}" ng-click="isExternalUrl(reference[key + '_link']) || reloadPage()"
                            ng-attr-target="{{isExternalUrl(entity[key + '_link']) && '_blank' || '_self'}}">
                                {{value | sanitizeValue }}
                        </a>
                        <div ng-class="{'fixed-font' : entity.sequences.indexOf(key) > -1, '' : entity.sequences.indexOf(key) == -1}">
                            <span ng-if="!entity[key + '_link'] || value === null" ng-bind-html="value | sanitizeValue"></span>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="association in entity.associations">
                    <td class="entity-key col-xs-2">{{ association.referencedTableName | removeUnderScores }}</td>
                    <td class="entity-value col-xs-10">
                        <ul class="entity-terms">
                            <li class="entity-term" ng-repeat="term in association.terms">
                                <a ng-href="{{term.link}}" ng-click="reloadPage()">{{term.vocab}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>

            <accordion close-others="oneAtATime">

                <!-- IMAGES -->
                <accordion-group ng-if="entity.images" ng-init="images.open = true" is-open="images.open">
                <accordion-heading><div ng-class="{'active': images.open }">Images</div></accordion-heading>
                <div ng-controller="ImagesCtrl">
                    <ul id="entity-images">
                        <li ng-repeat="image in entity.images" class="image" on-finish-render>
                            <!-- <a href="slide{{ $index + 1 }}"> -->
                            <a class="fancybox" href="{{ image.uri }}">
                                <img ng-src="{{ image.uri }}" class="image-thumbnail" slippryimageonload />
                            </a>
                        </li>
                    </ul>
                    <div id="thumbnail-box" class="clearfix">
                      <ul class="thumbs" class="clearfix">
                            <li ng-repeat="imagea in entity.images" \>
                                <a href="" data-att-slide="{{ $index + 1 }}">
                                    <img ng-src="{{ imagea.uri }}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                </accordion-group>

                <!-- FILES -->
                <accordion-group ng-if="entity.files" is-open="files.open">
                    <accordion-heading>
                        <div ng-class="{'active': files.open }">
                            Files <span ng-if="entity.files.length > 0">({{ entity.files.length }})</span>
                        </div>
                    </accordion-heading>
                    <ul>
                        <li ng-repeat="file in entity.files" class="file" >
                            <a href="{{ file.uri }}" target="_blank">
                                <img ng-src="{{ file.content_type | iconPreviewUri }}" class="file-preview-icon">
                                <div>{{ file.filename }}</div>
                                <div class="file-size">{{ file.bytes | filesize }}</div>
                            </a>
                        </li>
                    </ul>
                </accordion-group>

                <!-- PREVIEWS -->
                <accordion-group ng-if="entity.previews" is-open="previews.open">
                    <accordion-heading>
                        <div ng-class="{'active': previews.open }">
                            Previews <span ng-if="entity.previews.length > 0">({{ entity.previews.length }})</span>
                        </div>
                    </accordion-heading>
                    <ul id="previews">
                        <li ng-repeat="preview in entity.previews" class="preview col-sm-6 col-xs-12">
                            <div class="preview-content">
                                <a href="{{ preview.enlargeUrl }}" target="_blank" class="enlarge">Enlarge</a>
                                <iframe title="3dView" width="100%" height="400" ng-src="{{ preview.embedUrl }}">&lt;p&gt;Your browser does not support iframes.&lt;/p&gt;</iframe>
                            </div>
                            <a class="preview-filename" href="{{ preview.uri }}">{{ preview.filename }}</a>
                            <div class="file-size">{{ preview.bytes | filesize }}</div>
                        </li>
                    </ul>
                </accordion-group>

                <!-- EMBEDED TABLES -->
                <accordion-group ng-repeat="(title, elements) in entity.embedTables" is-open="embed.open">
                    <accordion-heading><div ng-class="{'active': embed.open }">{{title | removeUnderScores}}</div></accordion-heading>
                        <ul id="embed">
                            <li ng-repeat="element in elements" class="embed-block">
                                <div class="embed-caption">{{ element.caption }}</div>
                                <div>
                                    <iframe title="{{ element.caption }}" width="100%" height="{{ element.height }}" frameBorder="0" ng-src="{{ element.uri }}">&lt;p&gt;Your browser does not support iframes.&lt;/p&gt;</iframe>
                                </div>
                                <div ng-if="element.files" class="dropdown" dropdown>
                                    <button class="btn btn-primary dropdown-toggle" type="button" dropdown-toggle="">Download
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="f in element.files">
                                            <a href="{{f.url}}" download>{{ f.caption }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                </accordion-group>

                <div ng-if="!chaiseConfig.recordUiGridEnabled">
                    <!-- REFERENCES -->
                    <accordion-group ng-repeat="ft in entity.foreignTables | orderBy:'title'" is-open="ft.open">
                        <accordion-heading>
                            <div ng-class="{'active': ft.open }" ng-click="foreignTableToggle($index)">
                                {{ ft.title | removeUnderScores }}
                                <span>({{ ft.count }})</span>
                            </div>

                        </accordion-heading>

                        <div id="ft-transpose" ng-controller="NestedTablesCtrl" ng-if="ft.transpose">
                            <ul class="reference-views clearfix" ng-if="ft.count > 0">
                                <li><div class="reference-view-title">View</div></li>
                                <li><a ng-click="ft.transpose = false" ng-class="{ 'active': !ft.transpose }" class="transpose-toggle">Default</a></li>
                                <li><a ng-click="ft.transpose = true" ng-class="{ 'active': ft.transpose }" class="transpose-toggle">Transpose</a></li>
                            </ul>

                            <p ng-if="ft.count == 0">No rows found</p>

                            <div class="table-wrapper wrapper">
                                <table class="table table-striped table-reference">
                                    <tbody>
                                        <tr ng-repeat="key in ft.keys | notHyperLink" on-finish-render>
                                            <th class="entity-key col-xs-2">{{ key | removeUnderScores }}</th>
                                            <td ng-repeat="reference in ft.list" class="entity-value col-xs-10">
                                                <a ng-if="reference[key + '_link'] && reference[key] !== null" ng-href="{{reference[key + '_link']}}" ng-click="isExternalUrl(reference[key + '_link']) || reloadPage()"
                                                    ng-attr-target="{{isExternalUrl(reference[key + '_link']) && '_blank' || '_self'}}">
                                                        {{reference[key] | sanitizeValue }}
                                                </a>
                                                <span ng-if="!reference[key + '_link'] || reference[key] === null" ng-bind-html="reference[key] | sanitizeValue"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div ng-controller="NestedTablesCtrl" ng-if="!ft.transpose">

                            <ul class="reference-views clearfix" ng-if="ft.count > 0">
                                <li><div class="reference-view-title">View</div></li>
                                <li><a ng-click="ft.transpose = false" ng-class="{ 'active': !ft.transpose }" class="transpose-toggle">Default</a></li>
                                <li><a ng-click="ft.transpose = true" ng-class="{ 'active': ft.transpose }" class="transpose-toggle">Transpose</a></li>
                            </ul>

                            <p ng-if="ft.count == 0">No rows found</p>

                            <div class="table-wrapper wrapper">
                                <table class="table table-striped nested table-reference">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="key in ft.keys | notHyperLink" class="entity-key col-xs-2">{{ key | removeUnderScores }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="reference in ft.list" on-finish-render>
                                            <td ng-repeat="key in ft.keys | notHyperLink"  class="entity-value col-xs-10" >
                                                <a ng-if="reference[key + '_link'] && reference[key] !== null" ng-href="{{reference[key + '_link']}}" ng-click="isExternalUrl(reference[key + '_link']) || reloadPage()"
                                                    ng-attr-target="{{isExternalUrl(reference[key + '_link']) && '_blank' || '_self'}}">
                                                        {{reference[key] | sanitizeValue }}
                                                </a>
                                                <span ng-if="!reference[key + '_link'] || reference[key] === null" ng-bind-html="reference[key] | sanitizeValue"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </accordion-group>
                </div>

                <div ng-if="chaiseConfig.recordUiGridEnabled">
                    <!-- REFERENCES -->
                    <accordion-group ng-repeat="ft in entity.foreignTables | orderBy:'title'" is-open="ft.open">
                        <accordion-heading>
                            <div ng-class="{'active': ft.open }" >
                                {{ ft.title | removeUnderScores }}
                                <span>({{ ft.count }})</span>
                            </div>

                        </accordion-heading>

                        <div ng-controller="DetailTablesCtrl" ng-if="ft.open">
                           <div>
                                <ul class="reference-views clearfix" ng-if="ft.count > 0">
                                    <li><div class="reference-view-title">View</div></li>
                                    <li><a ng-click="transposeToggle(ft, false)" ng-class="{ 'active': !ft.transpose }" class="transpose-toggle">Default</a></li>
                                    <li><a ng-click="transposeToggle(ft, true)" ng-class="{ 'active': ft.transpose }" class="transpose-toggle">Transpose</a></li>
                                </ul>
                                <p ng-if="ft.count == 0">No rows found</p>
                            </div>

                            <div id = "nestedDetailGrid" class="detailGrid" ng-if="ft.count > 0" ng-init="initUIGrid()" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-exporter ui-grid-resize-columns ui-grid-pinning ui-grid-selection ui-grid-move-columns ui-grid-grouping ui-grid-infinite-scroll ></div>
                        </div>
                    </accordion-group>
                </div>

            </accordion>
        <!-- NG-IF ENTITY -->
        </div>
    <!-- DETAIL CONTROLLER -->
    </div>
