<div class="modal-header">
    <h2 class="modal-title">Confirm {{ctrl.params.action}}</h2>
</div>
<div class="modal-body">
    {{ctrl.params.message ? ctrl.params.message : "Are you sure you want to perform this action?"}}
</div>
<div class="modal-footer">
    <button id="delete-confirmation" class="chaise-btn chaise-btn-danger" type="button" ng-click="ctrl.ok()">{{ctrl.params.buttonAction ? ctrl.params.buttonAction : "Confirm"}}</button>
    <button class="chaise-btn chaise-btn-secondary" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>
