<div class="modal-header">
    <h2 class="modal-title">Duplicate Saved Search</h2>
</div>
<div class="modal-body">
    <p>A saved search with the same supplied filter criteria already exists with the name "{{ctrl.tuple.data.name}}".</p>

    <p>Click "<b>Cancel</b>" to go back to the search interface. You may click <a href="{{ctrl.editAppLink()}}" target="_blank">here</a> to modify the existing saved search name.
</div>
<div class="modal-footer">
    <button id="confirm-btn" class="chaise-btn chaise-btn-secondary" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>
