<div class="modal-header">
    <button class="btn btn-default pull-right modal-close" ng-show="ctrl.params.canClose" type="button" ng-click="ctrl.cancel()">X</button>
    <h2 class="modal-title">{{::ctrl.params.errorStatus}}</h2>
</div>
<div class="modal-body">
  <span ng-bind-html="ctrl.params.message"></span>
  <span ng-if="!ctrl.params.isLoggedIn"><a id="login-link" ng-click="ctrl.login()"> Please login</a> to continue.</span>

    <br><br>

    <span ng-bind-html="ctrl.clickActionMessage"></span>
    <a ng-show="ctrl.params.subMessage" ng-click="ctrl.showDetails()">
      <i class="pull-left glyphicon glyphicon-triangle-right" ng-class="{'glyphicon-triangle-bottom': ctrl.displayDetails, 'glyphicon-triangle-right': !ctrl.displayDetails}"></i>
    {{ctrl.linkText}}</a>

    <br>

    <span ng-show="ctrl.displayDetails">
    	<br>
    	<pre ng-bind="ctrl.params.subMessage" style="word-wrap: unset;"></pre>
    </span>
</div>
<div class="modal-footer">
    <button ng-show = "ctrl.showReloadBtn" class="btn btn-default" type="button" ng-click="ctrl.reload()">Reload</button>
    <button class="btn btn-danger" type="button" ng-click="ctrl.ok()">OK</button>
</div>
