<div class="modal-header">
    <h2 class="modal-title">{{::ctrl.params.errorStatus}}</h2>
</div>
<div class="modal-body">
    <span ng-bind-html="ctrl.params.message"></span>
    <span ng-if="ctrl.params.showLogin"><a id="error-modal-login-link" ng-click="ctrl.login()"> Please login</a> to continue.</span>
    <span ng-if="ctrl.showDownloadPolicy">The download instructions can be found <a id="download-policy-link" ng-href="{{ctrl.downloadPolicy}}">here</a>.</span>

    <br><br>

    <span compile="ctrl.clickActionMessage"></span>
    <span ng-if="ctrl.showContinueBtn">
        <span compile="ctrl.continueMessage"></span>
    </span>
    <a ng-show="ctrl.params.subMessage" ng-click="ctrl.showDetails()" id="toggle-error-details" class="toggle-error-details">
        <i class="pull-left fa-solid" ng-class="{'fa-caret-down': ctrl.displayDetails, 'fa-caret-right': !ctrl.displayDetails}"></i>
        {{ctrl.linkText}}
    </a>

    <span ng-show="ctrl.displayDetails" id="error-details">
    	<br>
    	<pre ng-bind="ctrl.params.subMessage" style="word-wrap: unset;"></pre>
    </span>
</div>
<div class="modal-footer">
    <button ng-show="ctrl.showOkBtn" class="chaise-btn chaise-btn-danger error-ok-button" type="button" ng-click="ctrl.clickOkToDismiss ? ctrl.cancel() : ctrl.ok()">
        <span>OK</span>
    </button>
    <button ng-show="ctrl.showReloadBtn" class="chaise-btn chaise-btn-secondary error-reload-button"
            type="button" ng-click="ctrl.reload()" tooltip-placement="bottom-right" uib-tooltip="Reload the page and try again.">
        <span>Reload</span>
    </button>
    <button ng-show="ctrl.showContinueBtn" class="chaise-btn chaise-btn-secondary footer-continue-btn error-continue-button"
            type="button" ng-click="ctrl.continue()" tooltip-placement="bottom-right" uib-tooltip="Continue as original user.">
        <span>{{ctrl.continueBtnText}}</span>
    </button>
    <button class="chaise-btn chaise-btn-secondary modal-close" ng-show="ctrl.params.canClose"
            type="button" ng-click="ctrl.cancel()" tooltip-placement="bottom-right" uib-tooltip="Dismiss the error.">
        <span>Close</span>
    </button>
</div>
