<a ng-if="hasValues" href="#" class="dropdown-toggle" data-toggle="dropdown" tooltip-placement="left" uib-tooltip= "Click to export all matched results in zipped bag format.">
    <span class="glyphicon" ng-class="{'glyphicon-export': !isLoading, 'glyphicon-refresh glyphicon-refresh-animate': isLoading}"></span>
    <strong>Export </strong>
    <span class="caret"></span>
</a>
<ul ng-if="hasValues" class="dropdown-menu" style="min-width:unset; top:20px;">
    <li ng-repeat="template in exportOptions.supportedFormats">
        <a ng-click="submit(template)">{{template.format_name}}</a>
    </li>
</ul>
