<div class="modal-header">
    <h2 class="modal-title">Exporting {{ctrl.params.format_name}}</h2>
</div>
<div class="modal-body">
    <div style="margin-bottom: 10px;">
        Your request is being processed...
    </div>
    <div style="margin-bottom: 15px;">
        You will be prompted to download the file when it is ready.
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" aria-valuenow="100" aria-valuemax="100" style="width: 100%"></div>
    </div>
</div>
<div class="modal-footer">
    <button id="confirm-btn" class="btn btn-primary btn-inverted" type="button" ng-click="ctrl.cancel()" uib-tooltip="Click Here if you want to cancel the request." tooltip-placement="bottom">Cancel</button>
</div>
