<div class="chaise-btn-group" uib-dropdown>
    <button class="dropdown-toggle chaise-btn chaise-btn-primary" uib-dropdown-toggle ng-click="logDropdownOpened()" ng-disabled="disabled || exportOptions.supportedFormats.length == 0" tooltip-placement="{{ hideNavbar ? 'left' : 'top-right'}}" uib-tooltip= "Click to choose an export format.">
        <span class="fa-solid chaise-btn-icon" ng-class="{'fa-file-export': !isLoading, 'fa-circle-notch fa-spin': isLoading}"></span>
        <span>Export </span>
        <span class="caret "></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" style="min-width:unset; top:20px;">
        <li ng-repeat="template in exportOptions.supportedFormats">
            <a class="export-{{::makeSafeIdAttr(template.displayname)}}" ng-click="submit(template)">{{template.displayname}}</a>
        </li>
    </ul>
</div>
