<div class="modal-header">
    <h2 class="modal-title text-center"><strong>Set {{ctrl.column.displayname.value}} for all Records</strong>
        <button class="btn btn-default pull-right modal-close" type="button" ng-click="ctrl.cancel()">X</button>
    </h2>
</div>
<div class="modal-body">
    <input-switch column="ctrl.column" display-type="ctrl.displayType" model="ctrl.inputValue" submission-row="ctrl.submissionRow" foreign-key-data="ctrl.foreignKeyData"></input-switch>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ctrl.cancel()">Cancel</button>
    <button id="select-all-apply" class="btn btn-danger" type="button" ng-click="ctrl.submit()">Apply</button>
</div>
