<ul class="nav navbar-nav navbar-right">
    <li>
        <a id="signup-link" ng-if="user === null && signUpURL" ng-href="{{signUpURL}}">Sign Up</a>
    </li>
    <li>
        <a id="login-link" ng-if="user === null" ng-click="login()">Log In</a>
    </li>
    <li class="dropdown" uib-dropdown>
        <a ng-if="user !== null" href="#" class="dropdown-toggle" uib-dropdown-toggle ng-click="::logDropdownOpen()">
            <span class="username-display" ng-bind="displayName" uib-tooltip="{{showUserTooltip() ? userTooltip : ''}}" tooltip-placement="bottom-right"></span>
            <span class="caret"></span>
        </a>
        <ul ng-if="loggedInMenu.menuOptions" sub-menu menu="loggedInMenu.menuOptions" class="dropdown-menu chaise-login-menu"></ul>
        <ul ng-if="!loggedInMenu.menuOptions" class="dropdown-menu chaise-login-menu">
            <li><a id="profile-link" ng-click="openProfile()">My Profile</a></li>
            <li><a id="logout-link" ng-click="logout()">Log Out</a></li>
        </ul>
    </li>
</ul>
