<ul class="nav navbar-nav navbar-right">
    <li>
        <a id="signup-link" ng-if="user === null && signUpURL" ng-href="{{signUpURL}}">Sign Up</a>
    </li>
    <li>
        <a id="login-link" ng-if="user === null" ng-click="login()">Log In</a>
    </li>
    <li ng-if="replaceDropdown" class="login-display" ng-class="{'dropdown-header-container': oneOption.type == 'header'}" ng-switch="oneOption.type">
        <span ng-switch-when="header" class="dropdown-header chaise-dropdown-header" ng-bind-html="renderName(oneOption)"></span>
        <a ng-switch-when="url" ng-href="{{oneOption.url}}" target="{{oneOption.newTab ? '_blank' : '_self'}}" ng-click="::onLinkClick($event, oneOption)" ng-bind-html="renderName(oneOption)"></a>
        <a ng-switch-when="my_profile" id="profile-link" ng-click="openProfile()" ng-bind-html="oneOption.nameMarkdownPattern ? renderName(oneOption) : 'My Profile'"></a>
        <a ng-switch-when="logout" id="logout-link" ng-click="logout()" ng-bind-html="oneOption.nameMarkdownPattern ? renderName(oneOption) : 'Log Out'"></a>
    </li>
    <li ng-if="!replaceDropdown" class="dropdown" uib-dropdown>
        <a ng-if="user !== null" href="#" class="dropdown-toggle" uib-dropdown-toggle ng-click="::logDropdownOpen()">
            <span class="username-display" ng-bind="displayName" uib-tooltip="{{showUserTooltip() ? userTooltip : ''}}" tooltip-placement="bottom-right"></span>
            <span class="caret"></span>
        </a>
        <ul ng-if="loggedInMenu.menuOptions" sub-menu menu="loggedInMenu.menuOptions" class="dropdown-menu chaise-login-menu"></ul>
        <ul ng-if="!loggedInMenu.menuOptions" class="dropdown-menu chaise-login-menu">
            <li><a id="profile-link" ng-click="openProfile()">My Profile</a></li>
            <li><a id="logout-link" ng-click="logout()">Log Out</a></li>
        </ul>
    </li>
</ul>
