<div class="modal-header" class="share-header">
    <h2 class="modal-title text-center">Markdown Preview</h2>
    <button class="chaise-btn chaise-btn-secondary pull-right modal-close modal-close-absolute" type="button" ng-click="ctrl.cancel()">
        <strong class="chaise-btn-icon">X</strong>
        <span>Close</span>
    </button>
</div>
<div class="modal-body">
    <div class="outer-table">
        <div style="padding:10px" ng-bind-html="ctrl.renderedMarkdown" class="markdown-container"></div>
    </div>
</div>
