<header class="row" style="z-index: -1; margin-bottom: 70px;">
    <nav id="mainnav" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fb-navbar-main-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="md-chevron-down"></span>
                    MENU
                </button>
                <a class="navbar-brand" ng-href="{{brandURL || '/' }}">
                    <img ng-if="brandImage" ng-src="{{brandImage}}">
                    <span ng-bind="brandText || 'Chaise'"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-inverse" id="fb-navbar-main-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="user === null">
                        <a ng-click="login()">Log In</a>
                    </li>
                    <li ng-show="user !== null">
                        <a href="https://www.globus.org/app/account" ng-bind="user"></a>
                    </li>
                    <li ng-show="user !== null">
                        <a ng-click="logout()">Log Out</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in menu">
                        <a ng-if="!item.children" ng-href="{{'/' + item.url}}">{{item.name}}</a>
                        <a ng-if="item.children" href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.name}} <span class="caret"></span></a>
                        <ul ng-if="item.children" class="dropdown-menu">
                            <li ng-repeat="childItem in item.children" ng-class="{'dropdown-submenu': childItem.children}">
                                <a ng-if="!childItem.children" ng-href="{{'/' + childItem.url}}">{{childItem.name}}</a>
                                <a ng-if="childItem.children" class="dropdown-toggle" data-toggle="dropdown" href="#">{{childItem.name}}</a>
                                <ul ng-if="childItem.children" navbar-menu menu="childItem.children" class="dropdown-menu"></ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>

<!-- <script>
$(document).ready(function() {
    console.log('fire1');
    $('.navbar a.dropdown-toggle').on('click', function(e) {
        console.log('fire2');
        var elmnt = $(this).parent().parent();
        if (!elmnt.hasClass('nav')) {
            console.log('fire3');
            var li = $(this).parent();
            var heightParent = parseInt(elmnt.css('height').replace('px', '')) / 2;
            var widthParent = parseInt(elmnt.css('width').replace('px', '')) - 10;

            if(!li.hasClass('open')) {
                console.log('fire4');
                li.addClass('open');
            } else {
                console.log('fire5');
                li.removeClass('open');
            }
            $(this).next().css('top', heightParent + 'px');
            $(this).next().css('left', widthParent + 'px');

            return false;
        }
    });
});
</script> -->
