<noscript>
    <div modal-render="true" tabindex="-1" role="dialog" class="modal fade in" index="0" animate="animate" modal-animation="true" style="z-index: 1050; display: block;">
        <div class="modal-dialog">
            <div class="modal-content" uib-modal-transclude="">
                <div class="modal-header">
                    <h2 class="modal-title ">JavaScript Required</h2>
                </div>
                <div class="modal-body ">
                    For full functionality of this site it is necessary to enable JavaScript.
                    <br>
                    Here are <a href="http://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript in your web browser</a>.
                    <br><br>
                    Click OK to return to the Home Page.
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/">OK</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in" style="z-index: 1040;"></div>
</noscript>
