<div class="modal-header">
    <button class="btn btn-default pull-right modal-close" type="button" ng-click="ctrl.closeModal()">X</button>
    <h2 class="modal-title text-center">{{::ctrl.params.title}}</h2>
</div>
<div class="modal-body">
    <span ng-bind-html="ctrl.params.message"></span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-inverted" type="button" ng-click="::ctrl.openWindow();">Login</button>
    <button class="btn btn-danger btn-inverted" type="button"  ng-click="::ctrl.closeModal();">Close</button>
</div>
