<div class="modal-header" class="profileCard">
    <h2 class="modal-title text-center">{{ctrl.user}}</h2>
    <button class="chaise-btn chaise-btn-secondary pull-right modal-close modal-close-absolute" type="button" ng-click="ctrl.cancel()">
        <strong class="chaise-btn-icon">X</strong>
        <span>Close</span>
    </button>
</div>
<div class="modal-body">
    <table class="table">
        <tbody>
            <tr ng-repeat="(key, value) in ctrl.client" ng-if="key != 'identities'">
                <td class="text-left">{{key | underscoreToSpace | toTitleCase}}</td>
                <td class="text-left profileValue">{{value}}</td>
            </tr>
            <tr ng-if="ctrl.identities">
                <td rowspan="{{ctrl.identities.lengths}}" class="text-left">Identities</td>
                <td>
                    <ul>
                        <li ng-repeat="identities in ctrl.identities">{{identities}}</li>
                    </ul>
                </td>
            </tr>
            <tr ng-if="ctrl.globusGroupList || ctrl.otherGroups">
                <td class="text-left">Groups</td>
                <td>
                    <ul>
                        <li ng-repeat="group in ctrl.globusGroupList"><a href="https://app.globus.org/groups/{{group.id}}/about" target="_blank">{{group.display_name}}</a></li>
                        <li ng-repeat="group in ctrl.otherGroups"><span>{{group.display_name}}</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
