<div class="modal-header" class="profileCard">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h2 class="modal-title text-center" id="myModalLabel"><strong>{{ctrl.user}}</strong>
        <button class="btn btn-default pull-right modal-close" type="button" ng-click="ctrl.cancel()">X</button>
    </h2>
</div>
<div id="profile-modal" class="modal-body">
    <table class="table ">
        <tbody>
            <tr ng-if="ctrl.identities">
                <td rowspan="{{ctrl.identities.lengths}}" class="text-left"><strong> Identities </strong> </td>
                <td>
                    <ul>
                        <li ng-repeat="identities in ctrl.identities">{{identities}}</li>
                    </ul>
                </td>
            </tr>

            <tr ng-repeat="(key, value) in ctrl.client" ng-if="key != 'identities'">
                <td class="text-left"><strong>{{key | underscoreToSpace | toTitleCase}} </strong></td>
                <td class="text-left profileValue">{{value}}</td>

            </tr>
            <tr ng-if="ctrl.groupList">
                <td rowspan="{{ctrl.groupList.length}}" class="text-left">
                    <strong>Groups </strong>
                </td>

                <td rowspan="2">
                    <ul>
                        <li ng-repeat="group in ctrl.groupList"><a href="https://www.globus.org/app/groups/{{group.id}}/about" target="_blank">{{group.display_name}}</a></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

</div>
