<div class="recordset-container without-faceting app-content-container" >
    <loading-spinner id="main-spinner" ng-show="(!vm.initialized || $root.showSpinner || !vm.hasLoaded) && !$root.error"></loading-spinner>
    <div class="top-panel-container" ng-show="vm.reference">
        <alerts alerts="$root.alerts"></alerts>
        <div class="top-flex-panel">
            <div class="top-left-panel close-panel"></div>
            <div class="top-right-panel">
                <div class="recordset-controls-container" ng-show="vm.initialized">
                    <div ng-if="vm.selectedRows.length > 0 && vm.config.selectMode == 'multi-select'" class="recordset-selected-rows recordset-chiclets-container">
                        <div class="selected-chiclet" ng-repeat="row in vm.selectedRows track by $index">
                            <span class="selected-chiclet-remove" ng-click="removePill(row.uniqueId, $event)" uib-tooltip="Clear selected row" tooltip-placement="bottom-left">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                            <span class="selected-chiclet-name" ng-if="row.displayname.isHTML" ng-bind-html="row.displayname.value"></span>
                            <span class="selected-chiclet-name" ng-if="!row.displayname.isHTML" ng-bind="row.displayname.value"></span>
                            <span class="selected-chiclet-name" ng-if="row.displayname.value == ''" ng-bind-html="defaultDisplayname.empty"></span>
                            <span class="selected-chiclet-name" ng-if="row.displayname.value == null" ng-bind-html="defaultDisplayname.null"></span>
                        </div>
                        <button ng-click="removeAllPills($event)" class="chaise-btn chaise-btn-tertiary clear-all-btn"  tooltip-placement="bottom-left" uib-tooltip="Clear all selected rows">
                            <span>Reset selection</span>
                        </button>
                    </div>

                    <div class="row">
                        <div class="recordset-main-search col-lg-4 col-md-5 col-sm-6 col-xs-6">
                            <chaise-search-input input-class="main-search-input" placeholder="searchPlaceholder"
                                search-term="vm.search" search-callback="search" focus="true"></chaise-search-input>
                        </div>
                    </div>
                </div>
                <table-header ng-show="vm.initialized" vm="vm"></table-header>
            </div>
        </div>
    </div>
    <div class="bottom-panel-container">
        <div class="side-panel-resizable close-panel"></div>
        <div class="main-container">
            <div class="main-body">
                <!-- record table -->
                <div class="recordset-table-container" ng-show="vm.initialized">
                    <record-table-select-faceting vm="vm" on-selected-rows-changed-bind="onSelectedRowsChanged"></record-table-select-faceting>
                </div>
            </div>
            <footer ng-show="vm.initialized && vm.config.displayMode === recordsetDisplayModes.fullscreen"></footer>
        </div>
    </div>
</div>
