<table class="table table-fixed-layout" id="tblRecord">
    <tr ng-repeat="col in columnModels" ng-if="showColumn($index) || showInlineTable($index)" id="{{'row-' + col.column.name}}" ng-class="{'hide-border': $root.hideColumnHeaders}" class="row">
        <td ng-hide="$root.hideColumnHeaders" class="entity-key col-xs-2">
            <span class="column-displayname" ng-attr-uib-tooltip="{{::(col.column.comment) ? col.column.comment : undefined}}" ng-attr-tooltip-placement="{{::(col.column.comment) ? 'right' : undefined}}">
                <span ng-if="::col.column.displayname.isHTML" ng-bind-html="::col.column.displayname.value"></span>
                <span ng-if="::!col.column.displayname.isHTML" ng-bind="::col.column.displayname.value"></span>
            </span>
            <span ng-show="showLoader($index)" class="glyphicon glyphicon-refresh glyphicon-refresh-animate aggregate-col-loader pull-right"></span>
        </td>
        <td class="entity-value col-xs-10" id="entity-{{makeSafeIdAttr(col.column.displayname.value)}}">

            <span ng-if="showColumn($index)" ng-hide="showError($index) || showLoader($index)">
                <span ng-if="values[$index].isHTML" class="markdown-container" ng-bind-html="values[$index].value | trustedHTML"></span>
                <span ng-if="!values[$index].isHTML">{{values[$index].value}}</span>
            </span>
            <span ng-if="showInlineTable($index)" id="entity-{{$index}}-table">
                <record-action-bar id="actionbar-{{$index}}" tabtype="entity" tab-model-display="col.tableModel.displayType" related-table-ref-display="actionBarDisplayType($index)"
                    toggle-related-table-display-type='toggleRelatedTableDisplayType({dataModel:col.tableModel})' can-edit-related="canEditRelated({ref:col.tableModel.reference}) && !showError($index)"
                    can-create-related="canCreateRelated({ref:col.tableModel.reference})" show-toggle-display-btn="allowInlineTableMarkdown($index)"
                    add-related-record="addRelatedRecord({ref:col.tableModel.reference})" to-record-set="toRecordSet({ref:col.tableModel.reference})"
                    displayname="col.column.displayname" base-table-name="col.baseTableName">
                </record-action-bar>
                <div ng-hide="showError($index) || showLoader($index)" ng-switch="col.tableModel.displayType == 'markdown' && allowInlineTableMarkdown($index)" ng-class="{'inline-table-display': !(col.tableModel.displayType == 'markdown' && allowInlineTableMarkdown($index))}">
                    <span ng-switch-when="true" id="entity-{{$index}}-markdown">
                        <span ng-if="col.tableModel.page.content == null">
                            <span class="markdown-container"><em><strong>None</strong></em></span>
                        </span>
                        <span ng-if="col.tableModel.page.content != null">
                            <span class="markdown-container" ng-bind-html="col.tableModel.page.content | trustedHTML"></span>
                        </span>
                    </span>
                    <span ng-switch-default id="entity-{{$index}}-recTab">
                        <table-header vm="col.tableModel"></table-header>
                        <record-table class="related-table" id="rt-{{::makeSafeIdAttr(col.column.displayname.value)}}" vm="col.tableModel"></record-table>
                    </span>
                </div>
            </span>
            <span ng-show="showError($index)" class="glyphicon glyphicon-alert" ng-attr-uib-tooltip="{{queryTimeoutTooltip}}" tooltip-placement="bottom-left"></span>
        </td>
    </tr>
</table>
