<div class="recordset-container app-content-container" ng-class="vm.config.showFaceting ? 'with-faceting':'without-faceting'" >
    <loading-spinner id="main-spinner" ng-show="(!vm.initialized || $root.showSpinner || !vm.hasLoaded) && !$root.error"></loading-spinner>
    <div class="top-panel-container" ng-show="vm.reference">
        <alerts alerts="$root.alerts"></alerts>
        <div class="top-flex-panel">
            <div class="top-left-panel also-resizeable" ng-class="{'open-panel': vm.config.facetPanelOpen, 'close-panel': !vm.config.facetPanelOpen}">
                <div class="panel-header">
                    <div class="pull-left">
                        <h3>Refine search</h3>
                    </div>
                    <div class="pull-right">
                        <button class="hide-filter-panel-btn chaise-btn chaise-btn-tertiary pull-right" ng-click="::toggleFacetPanel()">
                            <span class="chaise-icon chaise-sidebar-close"></span>
                            <span>Hide panel</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="top-right-panel">
                <div class="recordset-title-container title-container" ng-if="vm.reference && vm.config.displayMode === recordsetDisplayModes.fullscreen">
                    <div class="recordset-title-buttons title-buttons" ng-show="vm.config.displayMode === recordsetDisplayModes.fullscreen">
                        <!-- download CSV included by default -->
                        <export reference="vm.reference" disabled="!vm.hasLoaded || !vm.initialized || vm.rowValues.length == 0"></export>
                        <!-- permalink -->
                        <a id="permalink" ng-href="{{ getRecordsetLink() }}" ng-click="::permalinkClick()" tooltip-placement="bottom-right" uib-tooltip={{tooltip.permalink}} class="chaise-btn chaise-btn-primary">
                            <span class="chaise-btn-icon glyphicon glyphicon-bookmark"></span>
                            <span>Permalink</span>
                        </a>
                    </div>
                        <!-- TODO UX-M should change to class -->
                    <h1 id="page-title">
                        <chaise-title add-link="false" reference="vm.reference"></chaise-title>
                        <small ng-if="vm.reference && vm.reference.location.version" class="h3-class" tooltip-placement="bottom-left" uib-tooltip="{{::tooltip.versionTime}} {{versionDate()}}">({{versionDisplay()}})</small>
                    </h1>
                </div>
                <div class="recordset-controls-container">
                    <div ng-if="vm.selectedRows.length > 0 && vm.config.selectMode == 'multi-select'" class="recordset-selected-rows recordset-chiclets-container">
                        <div class="selected-chiclet" ng-repeat="row in vm.selectedRows track by $index">
                            <span class="selected-chiclet-remove" ng-click="removePill(row.uniqueId, $event)" uib-tooltip="Clear selected row" tooltip-placement="bottom-left">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                            <span class="selected-chiclet-name" ng-if="row.displayname.isHTML" ng-bind-html="row.displayname.value"></span>
                            <span class="selected-chiclet-name" ng-if="!row.displayname.isHTML" ng-bind="row.displayname.value"></span>
                            <span class="selected-chiclet-name" ng-if="row.displayname.value == ''" ng-bind-html="defaultDisplayname.empty"></span>
                            <span class="selected-chiclet-name" ng-if="row.displayname.value == null" ng-bind-html="defaultDisplayname.null"></span>
                        </div>
                        <button ng-click="removeAllPills($event)" class="chaise-btn chaise-btn-tertiary clear-all-btn" tooltip-placement="bottom-left" uib-tooltip="Clear all selected rows">
                            <span>Reset selection</span>
                        </button>
                    </div>

                    <div class="row">
                        <div class="recordset-main-search col-lg-4 col-md-5 col-sm-6 col-xs-6">
                            <chaise-search-input input-class="main-search-input" placeholder="searchPlaceholder"
                                search-term="vm.search" search-callback="search" focus="true"></chaise-search-input>
                        </div>
                    </div>
                </div>
                <div class="recordset-chiclets-container recordset-chiclets" ng-if="vm.reference.location.filter || vm.reference.location.customFacets || vm.hasFilter()">
                    <div class="filter-chiclet chaise-btn-group" ng-if="vm.reference.location.filter">
                        <button class="clear-custom-filters filter-chiclet-remove chaise-btn chaise-btn-secondary" ng-click="vm.removeFilter('filters')" tooltip-placement="bottom" uib-tooltip="Clear custom filter applied">
                            <i class="icon-btn glyphicon glyphicon-remove"></i>
                        </button>
                        <span class="filter-chiclet-title chaise-btn chaise-btn-secondary">Custom Filter</span>
                        <span class="filter-chiclet-value chaise-btn chaise-btn-secondary" ng-bind="transformCustomFilter(vm.reference.location.filtersString)" tooltip-placement="bottom-left" uib-tooltip="{{transformCustomFilter(vm.reference.location.filtersString)}}" tooltip-class="custom-filter-tooltip"></span>
                    </div>
                    <div class="filter-chiclet chaise-btn-group" ng-if="vm.reference.location.customFacets">
                        <button class="clear-custom-facets filter-chiclet-remove chaise-btn chaise-btn-secondary" ng-click="vm.removeFilter('cfacets')" tooltip-placement="bottom" uib-tooltip="Clear custom filter applied">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <span class="filter-chiclet-title chaise-btn chaise-btn-secondary">Custom Filter</span>
                        <span class="filter-chiclet-value chaise-btn chaise-btn-secondary" ng-bind="vm.reference.location.customFacets.displayname" tooltip-placement="bottom-left" uib-tooltip="{{vm.reference.location.customFacets.displayname}}" tooltip-class="custom-filter-tooltip"></span>
                    </div>
                    <div class="filter-chiclet chaise-btn-group" ng-repeat="fc in vm.reference.facetColumns track by $index" ng-if="vm.hasFilter($index)">
                        <button class="filter-chiclet-remove chaise-btn chaise-btn-secondary" ng-click="vm.removeFilter($index)" tooltip-placement="bottom" uib-tooltip="Clear filter applied">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <button class="filter-chiclet-title chaise-btn chaise-btn-secondary" tooltip-placement="bottom" ng-click="vm.focusOnFacet($index)" ng-if="::fc.displayname.isHTML"  ng-attr-uib-tooltip="{{'Go to ' + fc.displayname.value + ' filter'}}" ng-bind-html="::fc.displayname.value"></button>
                        <button class="filter-chiclet-title chaise-btn chaise-btn-secondary" tooltip-placement="bottom" ng-click="vm.focusOnFacet($index)" ng-if="::!fc.displayname.isHTML" ng-attr-uib-tooltip="{{'Go to ' + fc.displayname.value+ ' filter'}}" ng-bind="::fc.displayname.value"></button>
                        <script type="text/ng-template" id="filtersTooltipTemplate.html">
                            <span ng-repeat="filter in vm.facetModels[$index].appliedFilters">
                                <span>&bull;</span>
                                <span ng-if="::filter.displayname.value && filter.displayname.isHTML" ng-bind-html="::filter.displayname.value"></span>
                                <span ng-if="::filter.displayname.value && !filter.displayname.isHTML" ng-bind="::filter.displayname.value"></span>
                                <span ng-if="::filter.displayname.value == ''" ng-bind-html="defaultDisplayname.empty"></span>
                                <span ng-if="::filter.displayname.value == null" ng-bind-html="defaultDisplayname.null"></span>
                            </span>
                        </script>
                        <span class="filter-chiclet-value chaise-btn chaise-btn-secondary" uib-tooltip-template="'filtersTooltipTemplate.html'" tooltip-placement="bottom-left" tooltip-class="filters-tooltip">
                            <span ng-repeat="filter in vm.facetModels[$index].appliedFilters">
                                <span ng-if="::filter.displayname.value && filter.displayname.isHTML" ng-bind-html="::filter.displayname.value"></span>
                                <span ng-if="::filter.displayname.value && !filter.displayname.isHTML" ng-bind="::filter.displayname.value"></span>
                                <span ng-if="::filter.displayname.value == ''" ng-bind-html="defaultDisplayname.empty"></span>
                                <span ng-if="::filter.displayname.value == null" ng-bind-html="defaultDisplayname.null"></span>
                                <span ng-if="!$last" style="margin-left:-4px">, </span>
                            </span>
                        </span>
                    </div>
                    <button ng-click="vm.removeFilter()" class="clear-all-filters chaise-btn chaise-btn-tertiary clear-all-btn" uib-tooltip="Clear all filters applied" tooltip-placement="bottom">
                        <span>Clear all filters</span>
                    </button>
                </div>
                <button class="show-filter-panel-btn chaise-btn chaise-btn-tertiary" ng-show="vm.config.showFaceting && !vm.config.facetPanelOpen" ng-click="::toggleFacetPanel()">
                    <span class="chaise-icon-btn chaise-icon chaise-sidebar-open"></span>
                    <span>Show filter panel</span>
                </button>
                <table-header ng-show="vm.initialized" vm="vm"></table-header>
            </div>
        </div>
    </div>
    <div class="bottom-panel-container">
        <div class="side-panel-resizable" resizable r-directions=["right"] r-flex="true" r-partners="resizePartners" ng-show="vm.config.showFaceting && vm.reference" ng-class="{'open-panel': vm.config.facetPanelOpen, 'close-panel': !vm.config.facetPanelOpen, 'initializing': !vm.initialized}">
            <faceting vm="vm"></faceting>
        </div>
        <div class="main-container dynamic-padding">
            <div class="main-body">

                <!-- record table -->
                <div class="recordset-table-container" ng-show="vm.initialized">
                    <record-table vm="vm" on-selected-rows-changed-bind="onSelectedRowsChanged"></record-table>
                </div>
            </div>
            <footer ng-show="vm.initialized && vm.config.displayMode === recordsetDisplayModes.fullscreen"></footer>
        </div>
    </div>
</div>
