<table class="table">
    <tr ng-repeat="column in columns" ng-if="::values[$index].value != null" id="{{'row-' + column.name}}">
        <td class="entity-key col-xs-2">
            <span ng-attr-uib-tooltip="{{::(column.comment) ? column.comment : undefined}}" ng-attr-tooltip-placement="{{::(column.comment) ? 'right' : undefined}}">{{::column.displayname}}</span>
        </td>
        <td class="entity-value col-xs-10" ng-switch="::values[$index].isHTML">
            <span ng-switch-when="true" class="markdown-container" bind-html-unsafe="::values[$index].value"></span>
            <span ng-switch-default>{{::values[$index].value}}</span>
        </td>
    </tr>
</table>
