<div ng-show="vm.initialized" class="row" style="margin-bottom: 10px;">
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
        <!-- search box -->
        <div class="input-group has-feedback">
            <input type="text"
                   id="search-input"
                   ng-model="vm.search"
                   class="form-control"
                   ng-class="{'search-progress': vm.backgroundSearch }"
                   on-enter="enterPressed()"
                   ng-change="inputChanged()"
                   placeholder="Search"
                   autofocus
                   ng-disabled="!vm.hasLoaded && !vm.backgroundSearch">
            <div class="form-control-feedback coltooltip" ng-hide="!vm.reference.location.searchTerm || !vm.hasLoaded || vm.backgroundSearch" ng-style="{'cursor': 'pointer', 'right': '50px', 'pointer-events': 'all', 'z-index': '5'}"><!-- form-control:focus changes the z-index of the form control from 2 to 3. form-control-feedback has z-index of 2. Overriding that z index to 5 so it isn't hidden when focused-->
                <span id="search-clear" class="glyphicon glyphicon-remove coltooltiptext search-remove" ng-click="::clearSearch()" tooltip-placement="bottom" uib-tooltip="Clear field"></span>
            </div>
            <span class="input-group-btn">
                <button id="search-submit" class="btn btn-primary" ng-click="enterPressed(vm.search)" role="button" ng-disabled="!vm.hasLoaded && !vm.backgroundSearch" tooltip-placement="bottom"
                    uib-tooltip-html="'<p>Use space to separate between conjunctive terms, | (no spaces) to separate disjunctive terms and quotations for exact phrases.</p><p>For example, <i><b>usc 1234</b></i> returns all records containing &ldquo;usc&rdquo; and &ldquo;1234&rdquo;.</p><p><i><b>usc|1234</b></i> returns all records containing &ldquo;usc&rdquo; or &ldquo;1234&rdquo;.</b></i></p><p><i><b>&ldquo;usc 1234&rdquo;</b></i> returns all records containing &ldquo;usc 1234&rdquo;.</p>'">
                    &nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;<!-- Added 2 non-breaking spaces to prevent btn's margins from collapsing and to center the icon-->
                </button>
            </span>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <!-- pagination -->
        <span class="dropdown" style="margin-left: 5px">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Items per page
                <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li ng-if="pageLimits.indexOf(vm.pageLimit) === -1"><a id="custom-page-size" href ng-click="setPageLimit(vm.pageLimit)">
                    <span class="glyphicon glyphicon-ok"></span>
                    {{ vm.pageLimit }} (Custom)</a>
                </li>
                <li ng-repeat="limit in pageLimits"><a href ng-click="setPageLimit(limit)">
                    <span class="glyphicon" ng-class="vm.pageLimit === limit ? 'glyphicon-ok' : 'glyphicon-invisible'"></span>
                    {{ limit }}</a>
                </li>
            </ul>
        </span>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-right" align="right">
        <!-- add record -->
        <button id="add-record-btn" type="button" class="btn btn-primary" ng-if="vm.reference.canCreate" ng-click="addRecord()"  tooltip-placement="bottom" uib-tooltip="Create new record">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>

<!-- record table -->
<div ng-if="vm.rowValues.length > 0">
    <record-table id="rs-{{vm.makeSafeIdAttr(vm.tableDisplayName.value)}}" vm="vm" on-row-click-bind="onRowClick"></record-table>
</div>

<!-- bottom pagination -->
<div class="pager" ng-show="vm.initialized && vm.hasLoaded && (vm.page.hasPrevious || vm.page.hasNext)">
    <button type="button" class="btn btn-primary btn-sm" ng-click="before()" ng-disabled="!vm.hasLoaded || !vm.page.hasPrevious">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="after()" ng-disabled="!vm.hasLoaded || !vm.page.hasNext">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
</div>
