<div class="row" style="margin-bottom: 10px;">
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
        <!-- search box -->
        <div class="input-group">
            <input type="text"
                   id="search-input"
                   ng-model="vm.search"
                   class="form-control"
                   on-enter="search(vm.search)"
                   placeholder="search {{vm.tableDisplayName}}">
                <span class="input-group-btn">
                    <button id="search-submit" class="btn btn-primary" ng-click="search(vm.search)" role="button">
                        &nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;<!-- Added 2 non-breaking spaces to prevent btn's margins from collapsing and to center the icon-->
                    </button>
                    <button type="button" tabIndex="-1" class="btn btn-primary btn-no-focus coltooltip">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="coltooltiptext paragraph"><p>Use space to separate between conjunctive terms and quotations for exact phrases.</p><p>For example, typing <i><b>usc 1234</b></i> returns all records containing "usc" and "1234".</p><p>Typing <i><b>"usc 1234"</b></i> returns all records containing "usc 1234".</span>
                    </button>
                    <button id="search-clear" class="btn btn-primary" ng-disabled="!vm.reference.location.searchTerm" ng-click="clearSearch()" type="button">Reset</button>
                </span>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 pull-right" align="right">
        <!-- pagination -->
        <div>
            <span class="dropdown" style="margin-left: 5px">
                <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">Items per page
                    <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-if="pageLimits.indexOf(vm.pageLimit) === -1"><a id="custom-page-size" href ng-click="setPageLimit(vm.pageLimit)">
                        <span class="glyphicon glyphicon-ok"></span>
                        {{ vm.pageLimit }} (Custom)</a>
                    </li>
                    <li ng-repeat="limit in pageLimits"><a href ng-click="setPageLimit(limit)">
                        <span class="glyphicon" ng-class="vm.pageLimit === limit ? 'glyphicon-ok' : 'glyphicon-invisible'"></span>
                        {{ limit }}</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>

<!-- record table -->
<div ng-if="vm.rowValues.length > 0">
    <record-table id="rs-{{vm.tableDisplayName}}" vm="vm" default-row-linking="defaultRowLinking" on-row-click-bind="onRowClick"></record-table>
</div>

<!-- bottom pagination -->
<div class="pager">
    <button type="button" class="btn btn-primary btn-sm" ng-click="before()" ng-disabled="!vm.hasLoaded || !vm.page.hasPrevious">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="after()" ng-disabled="!vm.hasLoaded || !vm.page.hasNext">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
</div>
