<div class="recordset-container" ng-class="vm.config.showFaceting ? 'row with-faceting':'without-faceting'">
    <div ng-show="vm.initialized" class="faceting-resizable" resizable r-directions=["right"] r-flex="true" ng-if="vm.config.showFaceting">
        <faceting vm="vm"></faceting>
    </div>
    <div class="main-container">
        <loading-spinner ng-show="!vm.hasLoaded"></loading-spinner>
        <div ng-show="vm.initialized" style="margin-bottom: 10px;">
            
            <div style="margin-left: 15px;margin-right: 20px;">
                <alerts alerts="$root.alerts"></alerts>
            </div>
            
            <div ng-if="vm.selectedRows.length > 0 && vm.config.selectMode == 'multi-select' && !vm.config.hideSelectedRows" class="row total-filters">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="remove-link" ng-click="removeAllPills()">
                        <span class="filter-label label label-primary">
                            clear all
                        </span>
                    </a>
                    <div class="filter-label label label-default" ng-repeat="row in vm.selectedRows track by $index">
                        <a class="remove-link" ng-click="removePill(row.uniqueId)"><i class="glyphicon glyphicon-remove"></i></a>
                        <span ng-if="row.displayname.isHTML" ng-bind-html="row.displayname.value"></span>
                        <span ng-if="!row.displayname.isHTML" ng-bind="row.displayname.value"></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div ng-class="vm.config.hidePageSettings ? 'col-lg-8 col-md-8 col-sm-8 col-xs-8': 'col-lg-4 col-md-5 col-sm-6 col-xs-7'">
                    <!-- search box -->
                    <div class="input-group has-feedback">
                        <input type="text"
                               id="search-input"
                               ng-model="vm.search"
                               class="form-control"
                               ng-class="{'search-progress': inputChangedPromise }"
                               on-enter="enterPressed()"
                               ng-change="inputChanged()"
                               placeholder="Search"
                               autofocus>
                        <div class="form-control-feedback coltooltip" ng-show="vm.search && !inputChangedPromise" ng-style="{'cursor': 'pointer', 'right': (onPlusButtonClick ? '85px': '50px'), 'pointer-events': 'all', 'z-index': '5'}"><!-- form-control:focus changes the z-index of the form control from 2 to 3. form-control-feedback has z-index of 2. Overriding that z index to 5 so it isn't hidden when focused-->
                            <span id="search-clear" class="glyphicon glyphicon-remove coltooltiptext search-remove" ng-click="::clearSearch()" tooltip-placement="bottom" uib-tooltip="Clear Search"></span>
                        </div>
                        <span class="input-group-btn">
                            <button id="search-submit" class="btn btn-primary" ng-click="enterPressed(vm.search)" role="button" tooltip-placement="bottom"
                                uib-tooltip-html="'<p>Use space to separate between conjunctive terms, | (no spaces) to separate disjunctive terms and quotations for exact phrases.</p><p>For example, <i><b>usc 1234</b></i> returns all records containing &ldquo;usc&rdquo; and &ldquo;1234&rdquo;.</p><p><i><b>usc|1234</b></i> returns all records containing &ldquo;usc&rdquo; or &ldquo;1234&rdquo;.</b></i></p><p><i><b>&ldquo;usc 1234&rdquo;</b></i> returns all records containing &ldquo;usc 1234&rdquo;.</p>'">
                                &nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;<!-- Added 2 non-breaking spaces to prevent btn's margins from collapsing and to center the icon-->
                            </button>
                        </span>
                    </div>
                </div>
                
                <div style="height: 34px;" ng-if="!vm.config.hidePageSettings">
                <!-- pagination -->
                <span class="dropdown" style="margin-left: 5px">
                    <button id="page-size-dropdown" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Items per page
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-if="pageLimits.indexOf(vm.pageLimit) === -1"><a id="custom-page-size" href ng-click="setPageLimit(vm.pageLimit)">
                            <span class="glyphicon glyphicon-ok"></span>
                            {{ vm.pageLimit }} (Custom)</a>
                        </li>
                        <li ng-repeat="limit in pageLimits"><a id="page-size-{{limit}}" href ng-click="setPageLimit(limit)">
                            <span class="glyphicon" ng-class="vm.pageLimit === limit ? 'glyphicon-ok' : 'glyphicon-invisible'"></span>
                            {{ limit }}</a>
                        </li>
                    </ul>
                </span>
            </div>
            </div>
            
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-right" align="right">
                <!-- add record -->
                <button id="add-record-btn" type="button" class="btn btn-primary" ng-if="vm.reference.canCreate && allowCreate" ng-click="addRecord()"  tooltip-placement="bottom" uib-tooltip="Create new record">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        
        <div ng-if="vm.initialized">
            <div class="total-filters" ng-if="vm.config.showFaceting && (vm.reference.location.facets || vm.reference.location.searchTerm)">
                <a class="remove-link" ng-click="vm.removeFilter()" ng-if="vm.hasFilter() || vm.reference.location.searchTerm">
                    <span class="filter-label label label-primary" uib-tooltip="Clear all Facets" tooltip-placement="bottom">
                        Clear All
                    </span>
                </a>
                <div class="filter-label label label-default" ng-if="vm.reference.location.searchTerm">
                    <a class="remove-link" ng-click="::clearSearch()" tooltip-placement="bottom" uib-tooltip="Clear Search"><i class="glyphicon glyphicon-remove"></i></a>
                    <a >Search</a>:
                    <span ng-bind="vm.reference.location.searchTerm"></span>
                </div>
                <div class="filter-label label label-default" ng-repeat="fc in vm.reference.facetColumns track by $index" ng-if="vm.hasFilter(fc)">
                    <a class="remove-link" ng-click="vm.removeFilter(fc)" tooltip-placement="bottom" uib-tooltip="Clear Facet"><i class="glyphicon glyphicon-remove"></i></a>
                    <a tooltip-placement="bottom" ng-click="vm.focusOnFacet($index)" ng-if="::fc.displayname.isHTML"  uib-tooltip="Go to the Facet" ng-bind-html="::fc.displayname.value"></a>
                    <a tooltip-placement="bottom" ng-click="vm.focusOnFacet($index)" ng-if="::!fc.displayname.isHTML" uib-tooltip="Go to the Facet" ng-bind="::fc.displayname.value"></a>:
                    <span ng-if="::fc.filtersString.isHTML" ng-bind-html="::fc.filtersString.value" tooltip-placement="bottom-left" uib-tooltip="{{fc.filtersString.value}}"></span>
                    <span ng-if="::!fc.filtersString.isHTML" ng-bind="::fc.filtersString.value" tooltip-placement="bottom-left" uib-tooltip="{{fc.filtersString.value}}"></span>
                    <!-- <span ng-repeat="filter in fc.filters track by $index">
                        <span ng-if="::filter.displayname.isHTML" ng-bind-html="::filter.displayname.value"></span>
                        <span ng-if="::!filter.displayname.isHTML" ng-bind="::filter.displayname.value"></span>
                        <span>{{$last ? '': ', '}}</span>
                    </span> -->
                </div>
            </div>
        </div>
        
        <!-- record table -->
        <div ng-if="vm.initialized">
            <h4 ng-if="!vm.config.hideTotalCount" id="rs-total-count">Displaying {{vm.rowValues.length}}{{vm.totalRowsCnt ? " of " + vm.totalRowsCnt : ''}} Records</h4>
        </div>
        <div ng-if="vm.initialized">
            <record-table id="rs-{{vm.makeSafeIdAttr(vm.tableDisplayName.value)}}" vm="vm" on-row-click-bind="onRowClick"></record-table>
        </div>

        <!-- bottom pagination -->
        <div class="pager" ng-show="vm.initialized">
            <button id="rs-previous-btn" type="button" class="btn btn-primary btn-xs" ng-click="before()" ng-disabled="!vm.hasLoaded || !vm.page.hasPrevious">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button id="rs-next-btn" type="button" class="btn btn-primary btn-xs" ng-click="after()" ng-disabled="!vm.hasLoaded || !vm.page.hasNext">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
</div>
