<div class="modal-header">
    <h3 class="modal-title">Foreign Key Search</h3>
    <!-- <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="ctrl.cancel()"></span> -->
</div>
<div class="modal-body">
    <recordset vm="ctrl.tableModel" on-row-click="ctrl.ok(tuple)"></recordset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">Continue</button>
    <button class="btn btn-default" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>
