<div class="chaise-search-box chaise-input-group" ng-class="{'disabled-element': disabled}">
    <div class="chaise-input-control has-feedback">
        <input type="text" ng-model="searchTerm" ng-class="inputClass" ng-disabled="disabled" on-enter="enterPressed()" ng-change="inputChanged()" ng-attr-autofocus="{{focus === true}}">
        <span
            ng-hide="searchTerm" class="chaise-input-placeholder" ng-click="changeFocus()" ng-if="!isArray(searchColumns)"
            ng-bind="'Search' + (searchColumns === false ? ' all columns': '')"
            ng-attr-uib-tooltip="{{'Search' + (searchColumns === false ? ' all columns': '')}}"
            tooltip-placement="bottom-left" chaise-enable-tooltip-width tooltip-enable="tooltipEnabled"
        ></span>
        <script type="text/ng-template" id="searchPlaceholderTooltipTemplate.html">
            <span>Search</span>
            <span ng-repeat="sc in searchColumns">
                <span ng-if="sc.displayname.isHTML" ng-bind-html="sc.displayname.value"></span>
                <span ng-if="!sc.displayname.isHTML" ng-bind="sc.displayname.value"></span>
                <span ng-if="!$last" style="margin-left:-4px">, </span>
            </span>
        </script>
        <span
            ng-hide="searchTerm" class="chaise-input-placeholder" ng-click="changeFocus()" ng-if="isArray(searchColumns)"
            uib-tooltip-template="'searchPlaceholderTooltipTemplate.html'" tooltip-placement="bottom-left" tooltip-class="filters-tooltip"
            chaise-enable-tooltip-width tooltip-enable="tooltipEnabled"
        >
            <span>Search</span>
            <span ng-repeat="sc in searchColumns">
                <span ng-if="sc.displayname.isHTML" ng-bind-html="sc.displayname.value"></span>
                <span ng-if="!sc.displayname.isHTML" ng-bind="sc.displayname.value"></span>
                <span ng-if="!$last" style="margin-left:-4px">, </span>
            </span>
        </span>
        <chaise-clear-input btn-class="remove-search-btn" click-callback="::clearSearch()" show="searchTerm && !disabled"></chaise-clear-input>
    </div>
    <div class="chaise-input-group-append">
        <button class="chaise-search-btn chaise-btn chaise-btn-primary" ng-disabled="disabled" ng-click="enterPressed(true)" role="button" tooltip-placement="bottom-left" uib-tooltip-html="'<p>Use space to separate between conjunctive terms, | (no spaces) to separate disjunctive terms and quotations for exact phrases.</p><p>For example, <i><b>usc 1234</b></i> returns all records containing &ldquo;usc&rdquo; and &ldquo;1234&rdquo;.</p><p><i><b>usc|1234</b></i> returns all records containing &ldquo;usc&rdquo; or &ldquo;1234&rdquo;.</b></i></p><p><i><b>&ldquo;usc 1234&rdquo;</b></i> returns all records containing &ldquo;usc 1234&rdquo;.</p>'">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
</div>
