<div class="chaise-search-box chaise-input-group">
    <div class="chaise-form-control chaise-form-control-w-placeholder" ng-class="{'has-feedback': (searchTerm && !inputChangedPromise) || inputChangedPromise}">
        <input type="text" ng-model="searchTerm" ng-class="inputClass" on-enter="enterPressed()" ng-change="inputChanged()" ng-attr-autofocus="{{focus === true}}">
        <div class="chaise-form-control-feedback" ng-if="(searchTerm && !inputChangedPromise) || inputChangedPromise">
            <span ng-if="searchTerm && !inputChangedPromise" class="remove-search-btn remove-input-btn glyphicon glyphicon-remove" ng-click="::clearSearch()" tooltip-placement="bottom" uib-tooltip="Clear Search"></span>
            <span ng-if="inputChangedPromise" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
        <span ng-hide="searchTerm" class="chaise-input-placeholder" ng-click="changeFocus()" ng-if="::placeholder.isHTML === true" ng-bind-html="'Search within ' + placeholder.value"></span>
        <span ng-hide="searchTerm" class="chaise-input-placeholder" ng-click="changeFocus()" ng-if="::placeholder.isHTML === false" ng-bind="'Search within '  + placeholder.value"></span>
    </div>
    <div class="chaise-input-group-append">
        <button class="chaise-search-btn chaise-btn chaise-btn-primary" ng-click="enterPressed()" role="button" tooltip-placement="bottom" uib-tooltip-html="'<p>Use space to separate between conjunctive terms, | (no spaces) to separate disjunctive terms and quotations for exact phrases.</p><p>For example, <i><b>usc 1234</b></i> returns all records containing &ldquo;usc&rdquo; and &ldquo;1234&rdquo;.</p><p><i><b>usc|1234</b></i> returns all records containing &ldquo;usc&rdquo; or &ldquo;1234&rdquo;.</b></i></p><p><i><b>&ldquo;usc 1234&rdquo;</b></i> returns all records containing &ldquo;usc 1234&rdquo;.</p>'">
            &nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
            <!-- Added 2 non-breaking spaces to prevent btn's margins from collapsing and to center the icon-->
        </button>
    </div>
</div>
