<div class="modal-header" class="share-header">
    <h2 class="modal-title text-center">Share</h2>
    <button class="chaise-btn chaise-btn-secondary pull-right modal-close modal-close-absolute" type="button" ng-click="ctrl.cancel()">
        <strong class="chaise-btn-icon">X</strong>
        <span>Close</span>
    </button>
</div>
<div class="modal-body">
    <div ng-if="ctrl.params.showVersionWarning" class="alert alert-dismissible alert-warning" role="alert">
        <button type="button" class="close" ng-click="ctrl.closeAlert();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning</strong> <span compile="ctrl.warningMessage"></span>
    </div>
    <ul>
        <li id="share-link">
            <h2>Share Link</h2>
            <h3>
                Versioned Link
                <small tooltip-placement="bottom" ng-attr-uib-tooltip="{{!ctrl.moreThanWeek() ? 'Data snapshotted at ' + ctrl.params.versionDate : undefined}}">({{ctrl.params.versionDateRelative}})</small>
                <span class="glyphicon glyphicon-copy chaise-copy-btn" ng-click="::ctrl.copyToClipboard(ctrl.params.versionLink, ctrl.logActions.shareVersionLinkCopy)" uib-tooltip="Copy link URL to clipboard." tooltip-placement="bottom"></span>
            </h3>
            <a id="version" ng-href="{{::ctrl.params.versionLink}}">{{::ctrl.params.versionLink}}</a>
            <h3>
                Live Link
                <span class="glyphicon glyphicon-copy chaise-copy-btn" ng-click="::ctrl.copyToClipboard(ctrl.params.permalink, ctrl.logActions.shareLiveLinkCopy)"  uib-tooltip="Copy link URL to clipboard." tooltip-placement="bottom"></span>
            </h3>
            <a id="permalink" ng-href="{{::ctrl.params.permalink}}">{{::ctrl.params.permalink}}</a>
        </li>
        <li id="citation" ng-if="::ctrl.params.citation">
            <h2>Data Citation</h2>
            <div id="citation-text">
                <span ng-if="::ctrl.params.citation.author">{{::ctrl.params.citation.author}} </span><span ng-if="::ctrl.params.citation.title">{{::ctrl.params.citation.title}} </span><i>{{::ctrl.params.citation.journal}}</i> <a ng-href="{{::ctrl.params.citation.url}}">{{::ctrl.params.citation.url}}</a> ({{::ctrl.params.citation.year}}).
            </div>
        </li>
        <li id="download-citation" ng-if="::ctrl.params.citation">
            <h3>Download Data Citation:</h3>
            <a id="bibtex-download" class="chaise-btn chaise-download-btn" download="{{::ctrl.params.displayname}}.bib" ng-href="{{::ctrl.downloadBibtex}}" ng-click="::ctrl.logCitationDownload(ctrl.logActions.downloadBibtex)">BibTex</a>
        </li>
    </ul>
</div>
