<div class="modal-header" class="share-header">
    <h2 class="modal-title text-center"><strong>Share</strong>
        <button class="btn btn-default pull-right modal-close" type="button" ng-click="ctrl.cancel()">X</button>
    </h2>
</div>
<div class="modal-body">
    <alerts ng-if="ctrl.showVersionWarning" id="alerts-container" alerts="ctrl.alerts"></alerts>
    <ul>
        <li id="share-link">
            <h2><b>Share Link</b></h2>
            <div ng-if="ctrl.versionLink">
                <h3>
                    <b>Data Snapshotted
                        <span ng-if="ctrl.moreThanWeek()"> at </span>
                        <span tooltip-placement="bottom" ng-attr-uib-tooltip="{{!ctrl.moreThanWeek() ? 'Data snapshotted at ' + ctrl.versionDate : undefined}}">{{ctrl.versionDateRelative}}</span>
                    </b>
                </h3>
            </div>
            <a ng-if="ctrl.versionLink" id="version" ng-href="{{::ctrl.versionLink}}">{{::ctrl.versionLink}}</a>
            <h3><b>Live Data</b></h3>
            <a id="permalink" ng-href="{{::ctrl.permalink}}">{{::ctrl.permalink}}</a>
        </li>
        <li id="citation" ng-if="::ctrl.citation">
            <h2><b>Data Citation</b></h2>
            <div id="citation-text">
                <span ng-if="::ctrl.citation.author">{{::ctrl.citation.author}} </span><span ng-if="::ctrl.citation.title">{{::ctrl.citation.title}} </span><i>{{::ctrl.citation.journal}}</i> <a ng-href="{{::ctrl.citation.url}}">{{::ctrl.citation.url}}</a> ({{::ctrl.citation.year}}).
            </div>
        </li>
        <li id="download-citation" ng-if="::ctrl.citation">
            <h3><b>Download Data Citation:</b></h3>
            <a id="bibtex-download" download="{{::ctrl.filename}}.bib" ng-href="{{::ctrl.downloadBibtex}}">BibTex</a>
        </li>
    </ul>
</div>
