<div class="chaise-table-header row">
    <div class="col-xs-12 chaise-table-header-total-count" ng-class="vm.config.displayMode === recordsetDisplayModes.facetPopup ? 'col-sm-4' : 'col-sm-6' ">
        <span>Displaying</span>
        <span ng-if="vm.page.tuples.length > 0 && vm.page.hasNext && !vm.page.hasPrevious">first</span>
        <span ng-if="vm.page.tuples.length > 0 && !vm.page.hasNext && vm.page.hasPrevious">last</span>
        <span ng-if="vm.page.tuples.length > 0 && !vm.page.hasNext && !vm.page.hasPrevious">all</span>
        <span class="dropdown" ng-if="vm.page.tuples.length > 0">
            <button class="page-size-dropdown chaise-btn chaise-btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                <span>{{vm.page ? vm.page.tuples.length : vm.pageLimit}}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
                <li ng-if="pageLimits.indexOf(vm.pageLimit) === -1">
                    <a class="page-size-limit-custom" href ng-click="setPageLimit(vm.pageLimit)"><span class="glyphicon glyphicon-ok"></span>{{ vm.pageLimit }} (Custom)</a>
                </li>
                <li ng-repeat="limit in pageLimits">
                    <a class="page-size-limit-{{limit}}" href ng-click="setPageLimit(limit)"><span class="glyphicon" ng-class="vm.pageLimit === limit ? 'glyphicon-ok' : 'glyphicon-invisible'"></span>{{ limit }}</a>
                </li>
            </ul>
        </span>
        <span ng-if="vm.page.tuples.length === 0">0</span>
        <span>{{(vm.totalRowsCnt && !vm.tableError) ? "of " + (vm.totalRowsCnt > vm.rowValues.length ? vm.totalRowsCnt : vm.rowValues.length) : ''}}</span>
        <span>{{vm.reference.location.isConstrained && vm.config.displayMode !== recordsetDisplayModes.related ? "matching results" : "records" }}</span>
        <img id="push-rows-spinner" ng-show="vm.pushRowsSpinner" src="../common/styles/images/loader.gif" class="spinner spinner-sm"/>
        <span ng-if="vm.countError" class="glyphicon glyphicon-alert" uib-tooltip="Request timeout: total count cannot be retrieved. Refresh the page later to try again." tooltip-placement="bottom"></span>
    </div>
    <div class="col-xs-12 col-sm-4" ng-if="vm.config.displayMode === recordsetDisplayModes.facetPopup">
        <span class="chaise-checkbox with-tooltip" ng-hide="vm.config.hideNotNullChoice" uib-tooltip-html="tooltip.notNull" tooltip-placement="bottom">
            <input type="checkbox" class="chaise-table-header-match-not-null" ng-click="toggleMatchNotNull()" ng-checked="vm.matchNotNull"><label>Records With Values</label>
        </span>
        <span class="chaise-checkbox with-tooltip" ng-hide="vm.config.hideNullChoice" uib-tooltip-html="tooltip.null" tooltip-placement="bottom" ng-class="{'disabled-row': vm.matchNotNull}">
            <input type="checkbox" class="chaise-table-header-match-null" ng-click="toggleMatchNull()" ng-checked="vm.matchNull" ng-disabled="vm.matchNotNull"><label>No Value</label>
        </span>
    </div>
    <div class="col-xs-12" ng-class="vm.config.displayMode === recordsetDisplayModes.facetPopup ? 'col-sm-4' : 'col-sm-6' ">
        <div class="pull-right">
            <button class="chaise-table-header-create-link chaise-btn chaise-btn-primary"
                ng-if="vm.config.displayMode !== recordsetDisplayModes.related && vm.reference.canCreate && vm.config.editable"
                ng-click="addRecord()" tooltip-placement="bottom" uib-tooltip="Click here to create a record.">
                <span class="chaise-btn-icon glyphicon glyphicon-plus"></span>
                <span>Create</span>
            </button>
            <button class="chaise-table-header-edit-link chaise-btn chaise-btn-primary"
                ng-if="vm.config.displayMode === recordsetDisplayModes.fullscreen && vm.page && vm.reference.canUpdate && vm.config.editable"
                ng-click="editRecord()" ng-disabled="{{vm.pageLimit > vm.RECORDEDIT_MAX_ROWS}}" tooltip-placement="bottom"
                uib-tooltip="{{ ((vm.pageLimit > vm.RECORDEDIT_MAX_ROWS) ? 'Editing disabled when items per page > ' + vm.RECORDEDIT_MAX_ROWS : 'Click here to edit this page of records.' ) }}">
                <span class="chaise-btn-icon glyphicon glyphicon-pencil"></span>
                <span>Edit</span>
            </button>
        </div>
    </div>
</div>
