<div class="chaise-table-header row">
    <div class="chaise-table-header-total-count col-xs-12 col-sm-6" ng-class="{'with-page-size-dropdown': vm.rowValues.length > 0}">
        <span class="displaying-text">Displaying </span>
        <span class="total-count-text" ng-show="vm.initialized">
            <span class="prepended-label">{{prependLabel()}}</span>
            <span ng-if="vm.rowValues.length > 0" uib-dropdown on-toggle="::pageSizeDropdownToggle(open)">
                <button class="page-size-dropdown chaise-btn chaise-btn-secondary dropdown-toggle" type="button" uib-dropdown-toggle ng-disabled="!vm.hasLoaded || !vm.initialized || vm.pushMoreRowsPending">
                    <span>{{vm.page ? vm.rowValues.length : vm.pageLimit}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li ng-repeat="limit in pageLimits">
                        <a class="page-size-limit-{{limit}}" href ng-click="setPageLimit(limit)">{{ limit }}<span class="glyphicon pull-right" ng-class="vm.pageLimit === limit ? 'glyphicon-ok' : 'glyphicon-invisible'"></span></a>
                    </li>
                </ul>
            </span>
            <span class="appended-label">{{appendLabel()}}</span>
            <span ng-if="vm.countError" class="glyphicon glyphicon-alert" uib-tooltip="Request timeout: total count cannot be retrieved. Refresh the page later to try again." tooltip-placement="bottom"></span>
            <span ng-show="vm.pushMoreRowsPending || (vm.config.displayMode.indexOf(recordsetDisplayModes.related) === 0 && !vm.hasLoaded)" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </span>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="pull-right">
            <button ng-if="vm.config.displayMode.indexOf(recordsetDisplayModes.related) !== 0 && vm.reference.canCreate && vm.config.allowCreate && vm.config.editable"
                class="chaise-table-header-create-link chaise-btn"
                ng-class="vm.config.displayMode === recordsetDisplayModes.fullscreen ? 'chaise-btn-primary': 'chaise-btn-secondary'"
                ng-click="addRecord()" tooltip-placement="bottom-right" uib-tooltip="Create new {{vm.displayname ? vm.displayname.value : vm.reference.displayname.value}}">
                <span class="chaise-btn-icon glyphicon glyphicon-plus"></span>
                <span>{{vm.config.displayMode === recordsetDisplayModes.fullscreen ? "Create" : "Create new"}}</span>
            </button>
            <button ng-if="vm.config.displayMode === recordsetDisplayModes.fullscreen && vm.page && vm.reference.canUpdate && vm.config.editable"
                class="chaise-table-header-edit-link chaise-btn chaise-btn-primary"
                ng-click="editRecord()" ng-disabled="{{vm.pageLimit > vm.RECORDEDIT_MAX_ROWS}}" tooltip-placement="bottom-right"
                uib-tooltip="{{ ((vm.pageLimit > vm.RECORDEDIT_MAX_ROWS) ? 'Editing disabled when items per page > ' + vm.RECORDEDIT_MAX_ROWS : 'Edit this page of records.' ) }}">
                <span class="chaise-btn-icon glyphicon glyphicon-pencil"></span>
                <span>Bulk Edit</span>
            </button>
        </div>
    </div>
</div>
