<div class="outer-table">
    <table class="table table-striped table-bordered table-hover">
        <!-- sortable column header -->
        <thead class="table-heading">
            <tr>
                <th nowrap ng-repeat="col in vm.columns track by $index">
                    <span class="table-column-displayname" ng-click="sortby({colname: col.name})">{{col.displayname}}</span>
                    <span ng-show="vm.sortby==col.name && vm.sortOrder=='asc'" ng-click="toggleSortOrder()" class="fa fa-sort-amount-asc" ng-style="{'cursor': 'pointer'}"></span>
                    <span ng-show="vm.sortby==col.name && vm.sortOrder=='desc'" ng-click="toggleSortOrder()" class="fa fa-sort-amount-desc" ng-style="{'cursor': 'pointer'}"></span>
                    <span ng-show="vm.sortby!==col.name" class="fa fa-fw fa-sort" ng-click="sortby({colname: col.name})" ng-style="{'cursor': 'pointer'}"></span>
                </th>
            </tr>
        </thead>

        <!-- rows -->
        <tbody>
            <tr class="table-row" ng-repeat="row in vm.rowValues track by $index" ng-click="gotoRowLink({index : $index})" ng-style="{'cursor': 'pointer'}">
                <td ng-repeat="val in row track by $index" ng-switch="val.isHTML">
                    <span ng-switch-when="true" ng-bind-html="val.value"></span>
                    <span ng-switch-default>{{val.value}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
