<div class="outer-table recordset-table" id="divRecordSet">
    <table class="table table-striped table-bordered table-hover">
        <!-- sortable column header -->
        <thead class="table-heading">
            <tr>
                <th ng-switch="vm.config.selectMode" ng-if="(vm.config.viewable || vm.config.editable || vm.config.deletable || vm.config.selectMode != noSelect)" ng-class="{'multi-select-width': vm.config.selectMode == 'multi-select'}">
                    <span ng-switch-when="no-select">{{(vm.reference.canUpdate || vm.reference.canDelete) ? "Actions" : "View"}}</span>
                    <span ng-switch-when="single-select">Select</span>
                    <div ng-switch-when="multi-select">
                        <button type="button" ng-click="::selectAll()" class="btn btn-sm btn-primary btn-inverted btn-condensed" tooltip-placement="bottom" uib-tooltip="Select all rows in table" ng-disabled="vm.matchNotNull">
                            <span class="glyphicon glyphicon-check"></span> All
                        </button>
                        <button type="button" ng-click="::selectNone()" class="btn btn-sm btn-primary btn-inverted btn-condensed" tooltip-placement="bottom" uib-tooltip="Deselect all rows in table"  ng-disabled="vm.matchNotNull">
                            <span class="glyphicon glyphicon-unchecked"></span> None
                        </button>
                    </div>
                </th>
                <th nowrap ng-repeat="col in vm.columnModels track by $index">
                    <span class="table-column-displayname" ng-attr-uib-tooltip="{{::(col.column.comment) ? col.column.comment : undefined}}" ng-attr-tooltip-placement="{{::(col.column.comment) ? 'top' : undefined}}" ng-click="col.column.sortable && vm.enableSort && sortby(col.column.name)">
                        <span ng-if="::col.column.displayname.isHTML" ng-bind-html="::col.column.displayname.value"></span>
                        <span ng-if="::!col.column.displayname.isHTML" ng-bind="::col.column.displayname.value"></span>
                    </span>
                    <span ng-show="col.column.sortable && vm.enableSort && vm.sortby==col.column.name && vm.sortOrder=='asc'" ng-click="::toggleSortOrder()" class="glyphicon glyphicon-sort-by-attributes" ng-style="{'cursor': 'pointer'}"></span>
                    <span ng-show="col.column.sortable && vm.enableSort && vm.sortby==col.column.name && vm.sortOrder=='desc'" ng-click="::toggleSortOrder()" class="glyphicon glyphicon-sort-by-attributes-alt" ng-style="{'cursor': 'pointer'}"></span>
                    <span ng-show="col.column.sortable && vm.enableSort && vm.sortby!==col.column.name" class="glyphicon glyphicon-sort" ng-click="::sortby(col.column.name)" ng-style="{'cursor': 'pointer'}"></span>
                    <span ng-show="col.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </th>
            </tr>
        </thead>

        <!-- rows -->
        <tbody>
            <tr class="table-row" ng-class="{'disabled-row': isDisabled(vm.page.tuples[$index])}"
                ellipses ng-repeat="row in vm.rowValues track by $index" tuple="vm.page.tuples[$index]" from-tuple="vm.fromTuple" row-values="row" parent-reference="parentReference"
                config="vm.config" context="vm.context" on-row-click-bind="onSelect" selected="isSelected(vm.page.tuples[$index])" select-disabled="isDisabled(vm.page.tuples[$index])">
            </tr>
            <tr ng-if="vm.rowValues.length < 1">
                <td id="no-results-row" colspan="{{vm.columnModels.length + 1}}" style="text-align: center;">No Results Found</td>
            </tr>
        </tbody>
    </table>
</div>
