<div>
    <input class="hidden" name="{{::column.name}}" type="file" accept="{{fileExtensions}}" tabindex="-1" id="{{fileElId}}">
    <div class="chaise-input-group">
        <div class="chaise-input-control" tooltip-placement="bottom-left" uib-tooltip-html="fileTooltip()">
            <input class="upload-input" name="txt{{::column.name}}" type="text" ng-required="isRequired" placeholder="{{placeholder}}" readonly="" ng-model="setFilename" ng-model-options="{getterSetter: true}" ng-click="select()" />
        </div>
        <!-- <div class="form-control-feedback coltooltip" ng-click="clear()" ng-hide="!value.url || value.url == '' || isDisabled" style="cursor: pointer;right: 105px;top: 2px;pointer-events: all; height: 34px; z-index: 4;">
            <span class="glyphicon glyphicon-remove coltooltiptext foreignkey-remove" tooltip-placement="bottom" uib-tooltip="Clear field"></span>
        </div> -->
        <span class="chaise-input-group-append" tabindex="0" tooltip-placement="bottom" uib-tooltip="Select file">
            <label for="{{fileElId}}" class="chaise-btn chaise-btn-secondary">
                <span class="glyphicon glyphicon-folder-open"></span>
                <span class="button-text">Select file</span>
            </label>
        </span>
    </div>
</div>
