html, body {
    background-color: #f9f9f9;
}

#alert {
    position: fixed;
    top: 15;
    /* Why set z-index to 3? Because we want alerts to appear as the top-most layer
    and it looks like the current top-most layer has a z-index of 2. (Bootstrap
    sets its input fields to 2.)*/
    z-index: 3;
}

#annotations-control {
    height: 98vh;
    overflow: auto;
}

.annotation {
    padding: 10px;
    margin: 15px 0;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
    overflow: hidden;
}

.annotation.highlighted, #create-annotation-form {
    border-left: 5px solid #428bca;
}

.annotation.section {
    border-color: #5cb85c;
}

.annotation.section.highlighted {
    border-left: 5px solid #5cb85c;
}

.annotation, input[type=search] {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.annotation-card {
    margin-bottom: 20px;
}

.annotation-anatomy-text {
    color: #444;
}

.annotation-control-button {
    margin: 2px;
    margin-right: 0;
}

.nav-tabs>li {
    font-style: italic;
}

.btn-success {
    background-color: #407CCA;
    border-color: #1E4E9A;
}

.open > .dropdown-toggle.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #002D73;
    border-color: #1E4E9A;
}

#entity-title, .entity-title {
    color: #002D73;
}

a.cardlink {
    cursor: pointer;
}

a.cardlink.delete {
    color: #EB0029;
}

.comments {
    margin: -10px;
    padding: 0 10px 0 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f9f9f9;
}

.comment {
    padding-bottom: 10px;
}

.comment-input {
    background-color: #f2f2f2;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.separator {
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 0 auto 10px auto;
}

#viewer.col-md-9 {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

#viewer-header {
    padding-top: 5px;
    padding-bottom: 1px;
}

#create-annotation-form .ui-select-container,
#edit-annotation-form .ui-select-container,
#metadata-panel .ui-select-container {
    width: 100%;
}
