html, body {
    background-color: #f9f9f9;
}

#alert {
    position: fixed;
    top: 15;
    /* Why set z-index to 3? Because we want alerts to appear as the top-most layer
    and it looks like the current top-most layer has a z-index of 2. (Bootstrap
    sets its input fields to 2.)*/
    z-index: 3;
}

#annotations-control {
    height: 98vh;
    overflow: auto;
}

.annotation {
    padding: 10px;
    margin: 15px 0;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.annotation.highlighted, #create-annotation-form {
    border-left: 5px solid #428bca;
}

.annotation.section {
    border-color: green;
}

.section-label {
    background-color: green;
}

.annotation.section.highlighted {
    border-left: 5px solid green;
}

.annotation, .searchbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.annotation-anatomy-text {
    color: #444;
}

.annotation-description {
    margin-top: 5px;
    margin-bottom: 5px;
}

.annotation-control-button {
    margin: 2px;
    margin-right: 0;
}

.nav-tabs>li {
    font-style: italic;
}

.btn-success {
    background-color: #407CCA;
    border-color: #1E4E9A;
}

.open > .dropdown-toggle.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #002D73;
    border-color: #1E4E9A;
}

#entity-title, .entity-title {
    color: #002D73;
}

a.cardlink {
    cursor: pointer;
    margin-left: 5px;
}

a.cardlink.delete {
    color: #EB0029;
}

.comments {
    margin: 10px -10px -10px -10px;
    padding: 0 10px 0 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f9f9f9;
}

.comment {
    padding-bottom: 10px;
}

.comment-input {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.comment-input .input-group {
    margin-left: -7px;
    margin-right: -7px;
}

.separator {
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 0 auto 10px auto;
}

.comment-separator {
    width: 97%;
}

#viewer.col-md-9 {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

#viewer-header {
    padding-top: 5px;
    padding-bottom: 1px;
}

#create-annotation-form .ui-select-container,
#edit-annotation-form .ui-select-container,
#metadata-panel .ui-select-container {
    width: 100%;
}

.new-annotation .dropdown-menu {
    left: 15px;
}

#annotations-panel {
    background: #f9f9f9;
    position:relative;
    top:80px;
/*
    background: yellow;
*/
    opacity: 0;
    left:0px;
}

#sidebar {
   position:absolute;
}

#create-annotation-btn {
   margin-top:10px;
}

#viewer-header {
  margin:10px;
}

@-webkit-keyframes fadeIn { from { opacity:0; left:-200; } to { opacity:0.9; left:0; } }
@-moz-keyframes fadeIn { from { opacity:0; left:-200; } to { opacity:0.9; left:0; } }
@keyframes fadeIn { from { opacity:0; left:-200; } to { opacity:0.9; left:0; } }

.fade-in {
	-webkit-animation:fadeIn ease-in 1;  
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0.6s;
	-moz-animation-duration:0.6s;
	animation-duration:0.6s;
}


@-webkit-keyframes fadeOut { from { opacity:0.9; left:0; } to { opacity:0; left:-200; } }
@-moz-keyframes fadeOut { from { opacity:0.9; left:0; } to { opacity:0; left:-200; } }
@keyframes fadeOut { from { opacity:0.9; left:0; } to { opacity:0; left:-200; } }

.fade-out {
	-webkit-animation:fadeOut ease-in 1;  
	-moz-animation:fadeOut ease-in 1;
	animation:fadeOut ease-in 1;

	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0.4s;
	-moz-animation-duration:0.4s;
	animation-duration:0.4s;
}


.btn.pick {
  background-color: #18558E;
}

.btn.pick:hover, .btn.pick:focus, .btn.pick:active {
    background-color: #002D73;
    border-color: #1E4E9A;
}


