$color-map: (
  'black': #333,
  'border': #ccc,
  'danger': #d9534f,
  'disabled': #999999,
  'disabled-background': #ddd,
  'dropdown-menu-anchor': #9d9d9d,
  'how-to-multi-form': #000,
  'link': #0366d6,
  'navbar-banner': #f9e3a1,
  'navbar-collapsed-submenu': #d0e0f0,
  'navbar-dropdown-submenu': #777,
  'navbar-dropdown-submenu-icon': #428bca,
  'navbar-inverse': #000,
  'navbar-inverse-text': #fff,
  'navbar-inverse-form': #4d4d4d,
  'navbar-inverse-menu-link': #c1c1c1,
  'navbar-inverse-menu-link-hover': #fff,
  'navbar-inverse-link': #59C4FF,
  'placeholder': #888888,
  'primary': #4674a7,
  'recordedit-border': #888888,
  'recordedit-highlighted-row': #f7f0cf,
  'recordedit-column-permission-warning': rgb(180, 95, 6),
  'spinner': #6e6e6e,
  'split-view-divider': #bbb,
  'section-background': #747474,
  'table-border': #bbb,
  'table-disabled-background': #f4f4f4,
  'table-header-background': #d0e0f0,
  'table-header-spinner': #828282,
  'table-highlight-background': #f7f0cf,
  'table-striped-background': #f1f1f1,
  'table-striped-disabled-background': #ebebeb,
  'table-striped-highlight-background': #efebda,
  'vocab': darkblue,
  'vocab-background': rgba(220, 220, 220, 0.68),
  'warning': #f0ad4e,
  'white': #ffffff
);
