// z-index
$map: (
  // make sure it's above the displayed checkbox, so we can click on it
  'checkbox-input': 1,
  'button-active': 1,
  'markdown-container-radio-label': 1,
  // more than input
  'input-group-append-btn': 2,
  // more than the unfocused version
  'input-group-append-btn-focus': 3,
  // more than previous one
  'input-control-feedback': 4,
  // higher than the input and feedback buttons
  'multi-form-input-row': 5,

  // make sure it's visible
  'top-horzontal-scroll-wrapper': 5,

  // more than clear btn
  'recordedit-column-permission-overlay': 6,

  // more than all the inputs related rules
  'recordedit-foreignkey-input-spinner-backdrop': 5,
  'recordedit-column-cell-spinner': 7,

  // less than spinners
  'file-preview-spinner': 8,
  'split-view-divider': 8,
  'back-to-top-btn': 8,

  // spinners should block the content
  'spinner': 10,

  // more than everything else on the app
  'app-blocking-spinner-backdrop': 11,
  'app-blocking-spinner': 12,

  // less than modal itself
  'export-progress-backdrop': 1030,
  // less than login instruction modal
  'export-progress': 1031,

  // less than modal-error
  'modal-error-backdrop': 1031,

  // less than modal-login-instruction
  'modal-login-instruction-backdrop': 1035,
  // less than navbar
  'modal-login-instruction': 1036,

  // less than navbar
  'modal-error': 1036,

  'navbar': 1037,

  // more than nabvar
  'modal-backdrop': 1050,
  'modal': 1055,

  // more than the previous modal
  'modal-backdrop-on-modal': 1056,
  'modal-on-modal': 1057,

  // the highest order
  'modal-error-backdrop-on-search-popup': 1061,
  'modal-error-on-search-popup': 1066
)
