.record-container {
    /* If changing paddings here, change the padding in #bookmark-container */
    padding-left: 20px;
    padding-right: 0;
    -webkit-box-flex: 1;
    display: flex;
    flex: 1;
    margin-top: 0px;
}

.record-container > .main-container {
    flex:1;
    border-left: 10px solid white;
    border-right: 2px solid white;
    padding-right: 10px;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
}

.record-container.smaller-margin {
    margin-left: -50px;
    margin-right: -50px;
}

/******Related Entities in record **************/

.record-container .panel{
    box-shadow: none;
}

.record-container .panel-group .panel{
    border-color: white;
    border-bottom: 1px solid #ddd;
    border-radius: 2px;
    padding: 0 10px;
    border-width: 2px;
}

.record-container .panel-title>a:hover, .record-container .panel-title>a:focus{
    text-decoration: none;
    color: rgb(63, 124, 184);
}

.record-container .panel-default>.panel-heading{
    text-transform: inherit;
    padding: 8px 8px 8px 0px;
    color: inherit;
    border: none;
}

.record-container .panel-default>.panel-heading+.panel-collapse>.panel-body{
    padding-left: 0px;
}

.record-container .reference-views {
    padding-left: 0;
}
.record-container .reference-views li{
    float: left;
}
.record-container .reference-views > li:nth-child(2){
    border-right: 1px solid black;
}

.record-container .reference-views .reference-view-title{
    padding: 3px 1px 5px 0;
    text-transform: uppercase;
}

.record-container .transpose-toggle{
    display: inline-block;
    padding: 1px 17px;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
    width: 81px;
}

.record-container .panel-title {
    font-size: inherit;
}

.record-container .transpose-toggle:hover, .record-container .transpose-toggle:focus, .record-container .transpose-toggle:active{
    color: #2364AB;
}

.record-container .panel a.accordion-toggle span {
    color: #333333;
    font-weight: normal;
    font-size: 17px;
}

.record-container .panel-title >a:hover span, .panel-title>a:focus span{
    color: rgb(63, 124, 184);
}

/********* print ********/

@media print {
    #main-content {
        height: auto !important;
    }

    .container-fluid {
        padding-left: 0px;
    }

    .record-container .row {
        margin-left: 0px;
    }

    .record-container #bookmark-container {
        padding-left: 0px;
    }

    #footer {
        display: none;
    }

    a[href]:after {
        content: none !important;
    }

    .record-container .entity-key {
        width: auto;
        max-width: 120px;
    }

    .record-container .entity-value {
        width: auto;
    }
}
