.container-fluid {
    /* If changing paddings here, change the padding in #bookmark-container */
    padding-right: 50px;
    padding-left: 50px;
}

.smaller-margin {
    margin-left: -50px;
    margin-right: -50px;
}

/******Related Entities**************/

.panel{
    box-shadow: none;
}

.panel-group .panel{
    border: none;
    border-bottom: 1px solid #ddd !important;
    border-radius: 0px;
}

.panel-title>a:hover, .panel-title>a:focus{
    text-decoration: none;
    color: rgb(63, 124, 184);
}

.panel-default>.panel-heading{
    text-transform: inherit;
    padding: 8px 8px 8px 0px;
    color: inherit;
    border: none;
}

.panel-group .panel+.panel{
    border: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
    padding-left: 0px;
}

.reference-views {
    padding-left: 0;
}
.reference-views li{
    float: left;
}
.reference-views > li:nth-child(2){
    border-right: 1px solid black;
}

.reference-views .reference-view-title{
    padding: 3px 1px 5px 0;
    text-transform: uppercase;
}

.transpose-toggle{
    display: inline-block;
    padding: 1px 17px;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
    width: 81px;
}

.panel-title {
    font-size: inherit;
}

.transpose-toggle:hover, .transpose-toggle:focus, .transpose-toggle:active{
    color: #2364AB;
}

.panel a.accordion-toggle span {
    color: #333333;
    font-weight: normal;
    font-size: 17px;
}

.panel-title >a:hover span, .panel-title>a:focus span{
    color: rgb(63, 124, 184);
}

.rowFocus{
    border: 1px solid rgb(51, 122, 183) !important;
    /*border-color: rgb(51, 122, 183) !important;*/
    /*border-bottom-color: rgb(51, 122, 183) !important;*/
    border-radius: 1px !important;
}
.sidePanelHeading{
    background-color: rgba(201, 201, 201, 0.5);
    font-weight: bold;
    padding: 9px 10px 10px !important;
    margin: 0px !important;
}
@media print {
    #main-content {
        height: auto !important;
    }

    .container-fluid {
        padding-left: 0px;
    }

    .row {
        margin-left: 0px;
    }

    #bookmark-container {
        padding-left: 0px;
    }

    #footer {
        display: none;
    }

    a[href]:after {
        content: none !important;
    }

    .entity-key {
        width: auto;
        max-width: 120px;
    }

    .entity-value {
        width: auto;
    }
}
