<div class="choice-picker">
    <div ng-hide="facetModel.facetError" class="picker-container">
        <chaise-search-input ng-show="showSearch"
            input-class="facet-search-input" placeholder="facetColumn.displayname"
            search-term="searchTerm" search-callback="search"></chaise-search-input>
        <record-list rows='checkboxRows' on-row-click='onRowClick' initialized='facetModel.initialized && facetModel.isOpen && facetPanelOpen'></record-list>
        <button id="show-more" ng-click="openSearchPopup()" class="chaise-btn chaise-btn-sm chaise-btn-tertiary pull-right show-more-btn">
            <span class="chaise-btn-icon far fa-window-restore"></span>
            <span ng-bind="hasMore || showFindMore ? 'Show More' : 'Show Details'"></span>
        </button>
        <a id="reset-facet" ng-if="facetModel.noConstraints" class="pull-right" ng-click="::retryQuery(false)" tooltip-placement="bottom" uib-tooltip="Retry updating the facet values with constraints."><b>Retry</b></a>
    </div>
    <div ng-show="facetModel.facetError">
        <p>Request timeout: The facet values cannot be retrieved. Try the following to reduce the query time:
            <ul class='show-list-style'>
                <li>Reduce the number of facet constraints.</li>
                <li>Minimize the use of 'No Value' and 'All Records with Value' filters.</li>
            </ul>
            Click Simplify to retrieve facet values without constraints.
        </p>
        <button id="retry-query-btn" class="chaise-btn chaise-btn-primary" ng-click="::retryQuery(false)" tooltip-placement="bottom-left" uib-tooltip="Retry updating the facet values with constraints.">Retry</button>
        <button id="remove-constraints-btn" class="chaise-btn chaise-btn-primary" ng-click="::retryQuery(true)" tooltip-placement="bottom-left" uib-tooltip="Provide facet values without any constraints applied.">Simplify</button>
    </div>
</div>
