<div class="faceting-container">
    <div class="columns-container">
        <uib-accordion close-others="false">
            <!-- TODO test this last active  -->
            <div uib-accordion-group ng-repeat="fc in vm.reference.facetColumns track by $index" is-open="vm.facetModels[$index].isOpen" id="fc-{{$index}}" ng-class="{'focused': lastActiveFacet == $index }" class="facet-panel">
                    <uib-accordion-heading>
                        <h3 class="panel-title accordion-toggle ellipsis" id="fc-heading-{{$index}}" ng-click="toggleFacet($index)">
                            <i class="pull-left glyphicon toggle-icon" ng-class="{'glyphicon-chevron-down': vm.facetModels[$index].isOpen, 'glyphicon-chevron-right': !vm.facetModels[$index].isOpen}"></i>

                            <a class="show-tooltip-border" tooltip-class="facet-header-tooltip" ng-attr-uib-tooltip="{{::(fc.comment) ? fc.comment : undefined}}" ng-attr-tooltip-placement="{{::(fc.comment) ? 'right' : undefined}}">
                                <span ng-if="::fc.displayname.isHTML" ng-bind-html="::fc.displayname.value"></span>
                                <span ng-if="::!fc.displayname.isHTML" ng-bind="::fc.displayname.value"></span>
                            </a>
                            <span class="pull-right">
                                <img ng-if="vm.facetModels[$index].isLoading" class="spinner spinner-sm" src="../common/styles/images/loader.gif"/>
                                <span ng-if="vm.facetModels[$index].hasError" class="glyphicon glyphicon-alert" uib-tooltip="There was an issue with loading the facet data." tooltip-placement="right"></span>
                            </span>
                        </h3>
                    </uib-accordion-heading>
                <div ng-hide="vm.facetModels[$index].hasError" ng-switch="fc.preferredMode">
                    <range-picker ng-switch-when="ranges" facet-panel-open="vm.config.facetPanelOpen" facet-column="fc" facet-model="vm.facetModels[$index]" index="$index"></range-picker>
                    <check-presence ng-switch-when="check_presence" facet-panel-open="vm.config.facetPanelOpen" facet-column="fc" facet-model="vm.facetModels[$index]" index="$index"></check-presence>
                    <choice-picker ng-switch-default facet-panel-open="vm.config.facetPanelOpen" facet-column="fc" facet-model="vm.facetModels[$index]" index="$index"></string-picker>
                </div>
                <div ng-if="vm.facetModels[$index].hasError">
                    <p>Please try the following:
                        <ul class='show-list-style'>
                            <li>Collapse any unused facets.</li>
                            <li>Remove facet constraints.</li>
                            <li>Minimize the use of the 'No Value' and 'All Records with Value' filters.</li>
                        </ul>
                    </p>
                    <button id="retry-query-btn" class="btn btn-primary btn-inverted" ng-click="::retryQuery($index, false)" tooltip-placement="bottom-left" uib-tooltip="Retry the query that timed out.">Retry</button>
                    <button id="remove-constraints-btn" class="btn btn-primary btn-inverted" ng-click="::retryQuery($index, true)" tooltip-placement="bottom-left" uib-tooltip="Retry the query that timed out without any other facet constraints applied.">Simplify</button>
                </div>
            </div>
        </uib-accordion>
        <h3 ng-if="vm.reference.facetColumns.length == 0">No Filter Options</h3>
    </div>
</div>
<faceting-collapse-btn class="facet-btn" panel-open="vm.config.facetPanelOpen" toggle-panel="togglePanel" position="left" tooltip-message="{{'Click to ' + ((vm.config.facetPanelOpen) ? 'hide' : 'show') + ' facet search panel.'}}"></faceting-collapse-btn>
