<div class="range-picker">
    <record-list on-row-click="onSelect" range-options="rangeOptions" rows="ranges"></record-list>
    <range-inputs type="rangeOptions.type" add-range-cb="rangeOptions.callback" abs-min="rangeOptions.absMin" abs-max="rangeOptions.absMax" model="rangeOptions.model"></range-inputs>
    <div ng-if="showHistogram()">
        <div class="divider"></div>
        <div class="plotly-actions btn-group pull-right" style="z-index: 1">
            <button type="button" class="plotly-how-to btn btn-xs btn-primary btn-inverted btn-no-focus" tooltip-placement="bottom" uib-tooltip-html="'<p>You can interact with the histogram in 2 ways: zooming and panning.</p><p>Clicking and holding anywhere in the graph display will allow you to zoom into a smaller subset of data. Drag the left or right bound to encapsulate the range of data you want to zoom into to get more clarity.</p><p>Clicking and holding in the middle of the x axis of the graph will allow you to pan that axis. By clicking on either end, you can stretch that axis to get a wider range of data.</p><p>Interacting with the histogram does not automatically apply the filter, it will fill in the min/max input fields for you based on the histogram\'s current range.</p>'">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <button type="button" class="zoom-plotly-button btn btn-xs btn-primary btn-inverted btn-no-focus" ng-click="zoomInPlot()" ng-disabled="disableZoomIn()" tooltip-placement="bottom" uib-tooltip="Zoom">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="unzoom-plotly-button btn btn-xs btn-primary btn-inverted btn-no-focus" ng-click="zoomOutPlot()" ng-disabled="histogramDataStack.length <= 1" tooltip-placement="bottom" uib-tooltip="Unzoom">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button type="button" class="reset-plotly-button btn btn-xs btn-primary btn-inverted btn-no-focus" ng-click="resetPlot()" tooltip-placement="bottom" uib-tooltip="Reset">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
        <plotly plotly-data="plot.data" plotly-layout="plot.layout" plotly-options="plot.options" plotly-events="plotlyEvents"></plotly>
    </div>
</div>
