<div class="range-picker spinner-container-sm" loading-spinner-sm>
    <record-list on-row-click="onSelect" range-options="rangeOptions" rows="ranges"></record-list>
    <range-inputs type="rangeOptions.type" add-range-cb="rangeOptions.callback" abs-min="rangeOptions.absMin" abs-max="rangeOptions.absMax"></range-inputs>
    <!-- <div class="divider"></div> -->
    <!-- <plotly plotly-data="plot.data" plotly-layout="plot.layout" plotly-options="plot.options" plotly-events="plotlyEvents"></plotly> -->
</div>
