<div class="string-picker">
    <div class="string-search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Key" ng-model="searchKey" />
            <span class="input-group-btn">
                <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                <button class="btn btn-primary" ng-click="addFilter()"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
        </div>
        <!-- <span class="info"><span ng-bind="totalCount"></span> <span>results found.</span></span> -->
    </div>
    <div class="divider"></div>
    <div ng-bind="facetColumn.sourceReference.location.ermrestUri"></div>
    <loading-spinner ng-show="loading"></loading-spinner>
    <recordset vm="domainModel"></recordset>
</div>
