<div class="string-picker">
    <div class="string-search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Key" ng-model="searchKey" />
            <span class="input-group-btn">
                <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                <button class="btn btn-primary" ng-click="addFilter()"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
        </div>
        <!-- <span class="info"><span ng-bind="totalCount"></span> <span>results found.</span></span> -->
    </div>
    <div class="divider"></div>
    <div ng-bind="facetColumn.sourceReference.uri"></div>
    min: <div ng-bind="min"></div>
    max: <div ng-bind="max"></div>
    <!-- <table class="table table-bordered table-hover table-striped string-selector">
        <thead class="table-heading">
            <tr>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in values">
                <td><span ng-bind="item.value"></span></td>
            </tr>
        </tbody>
    </table> -->
    <div class="pager">
        <div class="btn btn-primary">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </div>
        <div class="btn btn-primary">
            <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
    </div>
</div>
