<div class="vocab-picker">
    <div class="vocab-search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Find Values" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <span class="info"><span ng-bind="totalCount"></span> <span>results found.</span></span>
    </div>
    <div class="divider"></div>
    <table class="table table-bordered table-hover table-striped vocab-selector">
        <thead class="table-heading">
            <tr>
                <th class="select-input">Action</th>
                <th>Value</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in values">
                <td class="select-input">
                    <input ng-checked="isSelected(item.value)" ng-click="toggleFilter($event, item.value)" type="checkbox" />
                </td>
                <td><span ng-bind="item.value"></span></td>
                <td><span ng-bind="item.count"></span></td>
            </tr>
        </tbody>
    </table>
    <div class="pager">
        <div class="btn btn-primary">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </div>
        <div class="btn btn-primary">
            <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
    </div>
</div>