<div class="modal-header">
    <h2 class="modal-title">Confirm Form Removal</h2>
</div>
<div class="modal-body">
    <div style="margin-bottom: 20px">
        Are you sure you want to remove this record from the edit form?
    </div>
    <div>
        <b>Note:</b> Removing a record from this form, will not delete the record from the database.
    </div>
</div>
<div class="modal-footer">
    <button id="delete-confirmation" class="btn btn-danger btn-inverted" type="button" ng-click="ctrl.ok()">Remove</button>
    <button class="btn btn-default" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>