/* Styles for the FB Data app main content - header styles are in appheader.css */

h1 {
	margin-top: 0;
	font-size: 1.7em;
}

#content {
	padding-bottom: 50px;
}

label {
	margin-bottom: 0px;
	vertical-align: middle;
}

.sidebar label {
	font-weight: normal;
}

[class*=" md-"], [class^="md-"] {
	/* line-height: inherit; */
}

/*
.form-group .glyphicon {
	vertical-align: middle;
}
*/

.form-horizontal .control-label {
	padding-top: 0;
}

.filtertitle {
	margin-top: 5px;
	font-weight: bold;
}

#dashboard-link p {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 16px;
}

#browser-header {
	margin-bottom: 20px;
	border-bottom: 1px solid #CCC;
	color: #333;
}

#browser-header h1 {
	font-size: 2.3em;
	font-weight: normal;
}

#browser-header .btn-lg {
	background-color: #F2F2F2;
	color: #4D4D4D;
	height: 36px;
	font-size: 16px;
	line-height: 1;
	border-radius: 0;
}

/* fix cross browser box model issue */
#view-buttons .btn, #views .btn {
	padding: 0;
}

#welcome-button {
	padding: 15px 20px;
}

/* parent element for the filter button and filter container */

#filterarea {
	padding-top: 5px;
}

#filter {
	/* min-height: 80px;
	height: 100%;
	 float: left; */
}
.filter-button {
	width: 80px;
	float: right;
	display: block;
	min-height: 80px;
}

.filter-lbl {
	padding-top: 5px;
}

.btn-filter {
	width: 100%;
	min-height: 80px;
	height: 100%;
	border-radius: 0;
	background-color: #F2F2F2;
}

.filter-container {
	display: block;
	/* margin-right: 79px; */
	/* min-height: 80px; */
	background-color: #FFF;
	/* border: 1px solid #CCC; */
	position: relative;
}

.filter-container p {
	z-index: -10;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
}

.filter-bg {
   	color: #999;
   	width: 50%;
  	height: 50%;
  	overflow: auto;
  	margin: auto;
  	position: absolute;
  	top: 15px; left: 300px; bottom: 0; right: 0;

}

.filter-bg-hide {
	display: none;
}

.filter-item {
	z-index: 100;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 40px;
	padding: 5px 10px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	max-width: 300px;
}

#filter .filter-item, #filters .filter-item {
	margin-bottom: 5px;
	display: inline-block;
}

.filter-item-field {
	color: #999;
}

.filter-item-value {
	font-weight: bold;
	color: #000;
	max-width: 180px;
	height: 30px;
}

.md-lg {
	vertical-align: middle;
}

.md-cancel {
	color: #fc868d;
}

#view-buttons .btn-default, #views .btn-default {
	background-color: #F2F2F2;
	width: 36px;
	height: 36px;
	border-radius: 0;
}
/*
#view-buttons .btn-default .md-2x {
	line-height: .8;
}
*/

#view-buttons .btn-toolbar {
	-webkit-white-space: nowrap;
}

#view-buttons .btn-toolbar .btn-group {
	float: none;
}

a.filter-link-cancel {
	display: inline-block;
	line-height: 1.5em;
}

#view-buttons .btn-group {
	display: inline-block;
}

#view-buttons .btn-group.view-toggle {
	margin-left: -1px;
}

#results_tally {
	padding-top: 1em;
	padding-bottom: 1em;
}

#results_tally p {
	font-style: italic;
	margin: 8px 0 0;
}

#results_tally span {
	font-style:normal;
}

#results_tally p.btn-label {
  background: none repeat scroll 0% 0% transparent;
  margin-right: 10px;
  font-style: italic;
}

.badge {
	background-color: #cc0c0f; /* F55B5D */
	/* background-color: #FFF; */
	/* border: 1px solid #e5e5e5;
	color: #FFF;
	/* color: #333; */
	font-weight: 400;
	font-size: 1em;
}

.badge.reset, .badge.open-side {
	background-color: #428bca;
	border-color: #428bca;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.title {
	font-weight: bold;
}

dl.attribute-group dt {
	font-weight: normal;
	color: #999;
}

dl.attribute-group dt:not(:first-child) {
	padding-top: 5px;
}

dl.attribute-group dd {
	color: #000;
}

.bottompgr .form-group {
	text-align: center;
}

/* Standardize card view */

#results-group .col-md-6 .panel {
     height: 265px;
     overflow: hidden;
}

#resultstable dl.summary-card {
	padding-top: 15px;
}

#resultstable dl.summary-card dd.summ-desc {
     display: block;
     height: 76px;
     line-height: 1.4;
     max-width: 500px;
		 white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

/* Edit filters in sidebar */

.sidebar-outer {
	position: relative;
}

.sidebar {
	position:fixed;
	top: 55px; /* corresponds to height of header */
	bottom: 0;
	/* z-index: inherit; */
	transform: none;
	transition: none;
}

.sidebar.open {
	max-width: 340px; /* was 380px */
	width: 340px;
	transform: none;
}

.sidebar-fixed-right {
	box-shadow: none;
	border-left: 1px solid #ccc;
	transform: none;
}

.sidebar-fixed-right.open {
	transform: none;
}

.input-group .form-control {
	z-index: none;
}

.sidebar-nav .badge {
	position: absolute;
	top: 5px;
	right: 30px;
}

#editfilter .field-count .badge {
	position: absolute;
	top: 5px;
	right: 0;
}

.sidebar .md-lg {
	line-height: inherit;
}

.sidebar-wrap {
	position: relative;
	min-height: 100%;
}

.sidebar .sidebar-header {
	/* border-bottom: 1px solid #CCC; */
	padding: 0;
	display: block;
	width: 340px;
}

.sidebar .btn-default {
	border-color: #a4a4a4;
}

.sidebar-header .btn.filter-close, .sidebar-header .sidebar-toggle {
	padding: 0 10px;
	border-radius: 0;
	margin-top: 2px;
}

#navcontainer {
	position: relative;
	margin-bottom: 70px;
	/* min-height: 100%;  trying to make sticky footer */
	/* margin: 0px auto 30px; */
}
.editfilter-container {
	display: block;
	/* background-color: #F2F2F2; */
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 5px; /* 5px 10px */
	position: relative;
	width: 340px;
	margin-top: 30px;
}
/*
.editfilter-container a.field-toggle .md-chevron-right {
	position: relative;
	top: 5px;
	color: #bbb;
	}
*/
.editfilter-container a:hover {
	text-decoration: none;
}

.editfilter-container p {
	z-index: -10;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.editvalue-container {
	display: block;
	padding: 10px 15px;
	margin-bottom: 70px; /* why? the visible margin is about 15-20px worth so the sidebar thinks it's longer than it is */
}

#morefilters .editvalue-container {
	padding: 0 15px;
}

#editfilter .editvalue-container {
	padding: 0;
}

.sidebar-nav a.field-toggle .md-chevron-right, .editfilter-container a.field-toggle .md-chevron-right  {
	position: absolute;
	right:10px; /* was 0 */
	top:0;
	padding-right: 5px;
	color: #bbb;
}

.sidebar .glyphicon-forward {
	padding-right: 5px;
	color: #bbb;
	line-height: inherit;
}

.sidebar .sidebar-nav li {
	border-bottom: 1px solid #EEE;
}

.sidebar .sidebar-nav li a, .sidebar .field-enable {
	height: 30px;
	line-height: 30px;
	font-size: 1em;
}

.sidebar .sidebar-header h5 {
	display: inline-block;
	font-size: .85em;
}

.sidebar .filter-item .md-chevron-right {
	position: absolute;
	right:15px;
	top:15px;
	padding-right: 10px;
}

.sidebar .filter-item a {
	color: #999;
	text-decoration: none;
	display: block;
}

.sidebar .filter-item-value {
	max-width: 80px;
	display: inline;
}

.editslider-container p {
	padding: 10px;
}

#slider, .noUi-base {
	padding-left: 30px;
	padding-right: 30px;
}

.filter-tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 600 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: 43px;
	padding: 5px;
	left: -9px;
	text-align: center;
	width: 50px;
}

.noUi-horizontal .noUi-handle {
	width: 28px;
	height: 28px;
	left: -6px;
	top: -6px;
}

#toggle-side .md-play-circle-outline {
	padding-top: 5px;
}

#toggle-side .md-lg {
	line-height: normal;
}

#toggle-side a, .editfilter-container a {
	display: block;
	text-decoration: none;
}

.meta-actions {
	padding: 10px 15px;
	display: block;
	margin-right: 15px;
}

.meta-actions .meta-icons {
	text-align: right;
	font-size: 1.25em;
}

.meta-actions .meta-icons .glyphicon {
		padding-left: 5px;
		color: #4D4D4D;
}

.meta-icons a:hover, .meta-icons a:focus {
  text-decoration: none;
}

.sidebar .field-enable {
	border-bottom: 1px solid #eee;
}

.sidebar .sidebar-header .field-enable {
	width: 100%;
}

.sidebar h4 {
	font-size: .9em;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 0;
	text-transform: uppercase;
	display: inline-block;
}

.sidebar .sidebar-title h4 {
	margin-left: 0;
	margin-top: 0;
}

.sidebar a.view-attr, .sidebar .sidebar-header a {
	display: block;
	color: #333;
	height: 30px;
	line-height: 30px;
	padding: 10px;
}

.sidebar a.view-attr:hover, .sidebar .sidebar-header a:hover, .sidebar .sidebar-header .sidebar-toggle:hover {
	text-decoration: none;
	background-color:#e0e0e0;
}

.sidebar a.view-attr h4 {
	padding: 5px;
}
.sidebar a.view-attr small {
	font-size: .9em;
	margin-left: 5px;
}

.sidebar .sidebar-header .sidebar-toggle {
	/* width: 34px; */
	color: #428bca;
	margin-top: 0;
	padding: 0;
	display: inline-block;
  	cursor: pointer;
  	margin-top: 2px; /* only needed to offset vertical align in .sidebar-title for Safari */
}

.sidebar .sidebar-header .sidebar-toggle .glyphicon {
	top: 2px;
	left: 14px;
}


.sidebar-back {
	display: inline-block;
	width: 34px;
  	/* cursor: pointer;
  	margin-left: 5px;
  	margin-top: 2px; /* only needed to offset vertical align in .sidebar-title for Safari */
}

.sidebar-title {
	display: inline-block; 
	color: #333;
  	/* margin-right: 0;
  	cursor: pointer;*/
  	vertical-align: top; /* only needed for Safari workaround */
  	/* from truncate */
  	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#editfilter-config .editvalue-container {
	padding: 0 0 10px 0;
}

.sidebar .search-box {
	/* border-bottom: 2px solid #e5e5e5; */
	padding: 10px 15px;
}

.sidebar .search-box span{
    background-color: #FFF;
}

.sidebar .search-box input{
    border-right-style:none;
}

.sidebar .search-box a.btn-default {
	padding: 0;
	border: none;
}

.search-box input.sidebar-search.form-control {
	font-size: 1.25em;
	/* border-radius: 20px; */
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.sidebar .search-box .input-group-addon {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.sidebar-search.form-control::-webkit-input-placeholder {
   color: #a6a6a6;
}

.sidebar-search.form-control:-moz-placeholder { /* Firefox 18- */
   color: #a6a6a6;
}

.sidebar-search.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #a6a6a6;
}

.sidebar-search.form-control:-ms-input-placeholder {
   color: #a6a6a6;
}

#sidebar .editfilter-container .filter-item, #collectionsTree .editfilter-container .filter-item {
	position: relative;
	max-width: 380px;
}

#sidebar .editfilter-container .filter-item .md-chevron-right {
	top: 10px;
	right: -10px;
}

.sidebar ul.nav {
	border-top: 1px solid #EEE;
}

p.backlink {
	margin: 0 0 0 5px;
}

.backlink a {
	font-size: 1.1em;
}

.collectionsSelect .radio {
	padding-left: 5px;
}

.nav.filteritems li.attr-slider, .nav.filteritems li.attr-text, .nav.filteritems li.attr-date  {
  padding-top: 15px;
}

ul.filteritems {
	padding-left: 15px;
}

/* Details page styles */

#datacontent td {
     padding-bottom: 10px;
}

#datacontent td.key {
     color: #999999;
     font-weight: normal;
}

#datacontent h1, #datacontent h2, #datacontent h3 {
     font-size: 1.2em;
     font-weight: normal;
}

#datacontent th {
  color: #999;
  font-weight: normal;
}

#datacontent th, #datacontent td {
  border-color: #999;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-subtext {
	font-size: .85em;
	font-style: italic;
	text-align: center;
	padding-top: 5px;
}

.data-attributes dt, .data-attributes dd {
    font-size: 14px;
    line-height: 18px;
    padding-top: 5px;
}
.data-attributes dt {
    clear: left;
    float: left;
    text-align: right;
    width: 180px;
}
.data-attributes dd {
    margin-bottom: 10px;
    padding-bottom: 0;
	margin-left: 200px;
    word-wrap: break-word;
}

dt {
    font-weight: bold;
}
dt, dd {
    line-height: 1.42857;
}

/* Footer styles */

.footer {
	width: 100%;
	height: 70px;
	background-color: #F5F5F5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer-text {
	margin: 20px 0px;
}

/* Enable/disable Toggle animations */

.field-enable {
	font-weight: normal;
}

.truncate {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	max-width: 260px;
}

.toggle, .toggler {

  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.b {
  display: block;
}

.detail_text {
	word-wrap: break-word;
}

/* Table view styles */

#results-table-view th {
	font-weight: normal;
	color: #000;
}

#results-table-view th, #results-table-view td {
	text-align: center;
}

#results-table-view td.results-title {
	text-align: left;
	width: 450px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	max-width: 450px;
}

th.table-more-bt {
	width: 20px;
	position: relative;
}

#results-table-view.table-condensed > thead > tr > th.table-more-bt {
	padding: 0;
	border-left: 2px solid #ddd;
}

.table-more-bt .md-keyboard-arrow-right {
	width: 20px;
	margin-left: -7px;
}

.table-more-bt a {
	color: #000;
}

#results-table-view td.top-columns {
	text-align: left;
	max-width: 100px;
	word-wrap: break-word;
}

/* Temporarily hide features that are not active yet */

#browser-header, #add-filter-btn, #view-buttons, #dashboard-link {
	display: none;
}

