html, body {
	/* background:	#666; */
	width:		100%;
	height:		100%;					
	padding:	0;
	margin:		0;
	overflow:	auto; /* when page gets too small for container min-width/height */
	font-family: sans-serif, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial;
	font-size: 90%;
	line-height: 1.4em;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center_fieldset {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
}

td.tag {
    text-align: right;
}

div.floatLeft {
	float: left;
	margin: 10px;
}

div.floatRight {
	float: right;
	margin: 10px;
}

.clearBoth {
	clear: both;	
}

#topPanel a.banner-text {
	font-size: 0.88em !important;
	font-weight: bold;
	font-family: sans-serif, georgia, trebichet ms, serif;
}

.leftNavigation {
	width: 25%;
}

.rightNavigation {
	width: 75%;
}

.pointer {
    cursor: pointer;
}

td.top {
    vertical-align: top;
    /* padding: 5px 20px */;
    padding: 5px 5px;
}

table.leftArea {
    background-color: rgb(250, 250, 250);
}

.topPanel {
    height: 30px; 
    background-color: rgb(229, 229, 229);
}

th.top {
    padding: 5px 20px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 900px;
}

.grid_min_width {
	min-width: 200px;
}

.logo {
    background-color: rgb(0, 0, 0);
	
}

.facebase_logo {
    opacity: 1.0;
	
}

.selectedFacet {
	font-weight: bold;	
}

.center_search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
}

.select_facet {
	width: 100%;
}

td.facet_checkbox {
	margin: 0px;
	line-height:5px;
	white-space:nowrap;
}

.facet_name {
	white-space:nowrap;
}

input.facet_checkbox {
	margin: 0px;
	line-height:5px;
}

td.itemTitle {
	font-weight: bold;	
	padding: 5px 2px 5px 25px;
}

td.facetName {
	color: rgb(153, 0, 0);	
	padding: 5px 2px 5px 25px;
}

td.itemButton {
	padding: 5px 2px 5px 25px;
    text-align: right;
}

td.itemBody {
    padding: 5px 2px 5px 5px;
}

