.matrix-result {
  overflow-x: scroll;
}
.matrix-intro {
  margin-bottom: 10px;
}
table.matrix-view {
  width: auto;
  margin: auto;
}
.matrix-page tr:not(.labels) td, .matrix-page th {
  height: 25px;
  font-size: 13px;
  font-weight: normal;
  padding: 0 !important;
}
.matrix-view .row-header {
  text-align: right;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  padding: 3px !important;
}
table.matrix-view {
  border: 0;
}
.matrix-view .rotate {
  white-space: nowrap;
  border: 0;
}
.matrix-view .rotate div {
  width: 25px;
  -webkit-transform: translate(9px, -8px) rotate(315deg);
  -ms-transform: translate(9px, -8px) rotate(315deg);
  transform: translate(9px, -8px) rotate(315deg);
}
.table-legend {
  margin: 30px auto;
}
.table-legend table {
  margin: 5px auto;
}
.table-legend td {
  white-space: nowrap;
}
.table-legend td > div {
  width: 55px;
  -webkit-transform: translate(20px, 13px) rotate(395deg);
  -ms-transform: translate(20px, 13px) rotate(395deg);
  transform: translate(20px, 13px) rotate(395deg);
}
.exp-div {
  cursor: pointer;
  width: 100%;
  height: 100%;
  float: left;
}
.exp-div .color-part {
  float: left;
  height: 100%;
}
.matrix-view tr:not(.features):not(.labels):hover {
  background-color: #f5f5f5;
}
.hover:not(.labels-td) {
  background-color: #f5f5f5;
}
.matrix-view td, .matrix-view .matrix-view th {
  position: relative;
}
.table-legend .colors {
  padding: 1px;
}
.table-legend .colors td {
  vertical-align: top;
}
.table-colors div {
  height: 100%;
}
.matrix-view {
  height: 100%;
}
.matrix-view td {
  height: 100%;
}
.modal-body {
  position: relative;
}
div.modal-footer {
  margin-top: 20px;
}
div.modal-body .content-here {
  padding: 0 25px 25px;
}
.modal-nav-btn {
  position: fixed;
  cursor: pointer;
  font-size: 1.3em;
}
#next-col {
  top: 50%;
  right: 15px;
}
#prev-col {
  top: 50%;
  left: 15px;
}
#next-row {
  bottom: 62px;
  left: 48%;
}
#prev-row {
  top: 55px;
  left: 48%;
}
.glyphicon-chevron-left.up, .glyphicon-chevron-right.down {
  transform: rotate(+90deg);
  -webkit-transform: rotate(+90deg);
  -moz-transform: rotate(+90deg);
  -ms-transform: rotate(+90deg);
  -o-transform: rotate(+90deg);
}
h5.modal-title {
  font-size: 16px;
  font-weight: 600;
}
.labels {
  margin: auto;
  text-align: center;
}
.labels.row-label div {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: absolute;
  left: -60px;
}
.labels.row-label td {
  border: 0;
  vertical-align: middle;
  position: relative;
}
.col-label td, .col-label, .no-border {
  border: 0 !important;
}
.col-label td {
  border: 0;
  text-align: center;
}
.labels, tr td.col-label.labels, .labels div {
  font-weight: bold;
  font-size: 14px;
}
.attribute-form {
  text-align: center;
  margin: 10px auto 30px;
}
.attribute-form label {
  float: left;
  font-weight: normal;
  font-size: 13px;
}

.modal-spinner{
  width: 50px;
  margin: auto;
}
