/* this is a custom css stylesheet */
html,body { 
	height: 100%;
}

body {
	background-color: #fff;
	padding-top: 70px;
}

.container-fluid { 
	min-height: 100%;
	position: relative;
}

.navbar-inverse .navbar-brand {
    color: #6DD0FF;
}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
    font-size: 1.2em;
}

.navbar-inverse .navbar-nav > li > a {
    color: #999;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #000;
}

#mainnav .form-control-feedback {
     height: 28px;
     line-height: 28px;
}

h1 {
	margin-top: 0;
	font-size: 1.7em;
}

#content {
	padding-bottom: 50px;
}

label {
	margin-bottom: 0px;
	vertical-align: middle;
}

.form-group .glyphicon {
	vertical-align: middle;
}

.form-horizontal .control-label {
	padding-top: 0;	
}

.filtertitle {
	margin-top: 5px;
	font-weight: bold;
}

#searchsort {
	background-color: #E8E8E8;
	padding-top: .4em;
	padding-bottom: .2em;
	color: #555;
	margin-right: .05em;
}

.form-control {
	height: 24px;
	font-size: .8em;
	line-height: 1.1;
	padding: 3px 6px;
}

#searchsort .form-control-feedback {
     height: 24px;
     line-height: 24px;
}

.form-inline .form-group {
	margin-bottom: 0;
}

.pagination {
	margin: 0;

}

.pagination > li > a, .pagination > li > span {
	padding: 3px 6px;
	line-height: 1.1;
	background-color: #E8E8E8;
	color: #555;
	font-weight: bold;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #f2f2f2 !important;
	color: #555;
	font-weight: normal;
	border-color:#686D71;
}


.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
		background-color: #E8E8E8;
	color: #555;
}



#results_tally {
	padding-top: 1.5em;
	/*padding-bottom: 1em;*/
}

#results_tally p {
	text-align: center;
	font-style: italic;
}

#results_tally span {
	font-style:normal;
}

.title {
	font-weight: bold;
}

.resultsrow {
	border-bottom:#ccc solid 1px;
	padding-bottom: 15px;
	/*margin-bottom: 10px;*/
}

.tableheader {
	margin-top: 15px;
	margin-bottom: 10px;
}


.table {
	margin-bottom: 0;
}


.btn {
	background: #5A6167;
	color: #FFFFFF;
}

.btn:hover {
	background: #333;
	color: #ccc;
}

#resultstable {
	padding-top: 0;
	margin-top: 0;
}

table.resultsdata {
	table-layout: fixed;
	font-size: .9em;
	color:#555555;
	padding: 0;
	width: 100%;
}


td.sortby {
	color: #49B0E0;
}

.key {
	font-weight: bold;
}

.modal-header {
	background-color: #686d71;
	color: #fff;
}

button.close {
	color: #fff;
}

#viewdata table {
	width: 100%;
}

/* Filters sidebar */

#filtermenu {
	padding-top: 10px;
}

.panel-group .panel {
	border-radius: 0;
}

#filtermenu .panel-heading {
	padding: 5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.glyphicon-plus, .glyphicon-minus {
	font-size: .8em;
}

#filtermenu h4 {
	font-size: .9em;
}

#filtermenu h4 span {
	color: #999;
}

#filtermenu .panel-body {
	padding: 0px 5px 0px;
}

#filtermenu li {
	padding: 3px 0;
	color: #3b9edf;
	font-size: .85em;
}

#filtermenu .panel-body span {
	font-size: .85em;
	color: #999;

}

.filteritems input[type="checkbox"] {
	margin-right: 3px;
}

.more .panel-heading {
	background-color: #fff;
	color: #3b9edf;
}

.bottompgr {
	padding:10px;
	text-align: center;
}

.bottompgr .pagination > li > a {
		padding: 6px 12px;
	line-height: 1.5;
}

footer {
	background-color: #000000;
	color: #fff;
	text-align: center;
	padding: 10px;
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.ermrest_header {
	background-color: #000000;
	color: #fff;
	text-align: center;
	height: 50px;
	width: 100%;
	position: absolute;
	top: -70px;
}

.resultsdata.table > thead > tr > th, .resultsdata.table > tbody > tr > th, .resultsdata.table > tfoot > tr > th, .resultsdata.table > thead > tr > td, .resultsdata.table > tbody > tr > td, .resultsdata.table > tfoot > tr > td {
    border-top: 0px;
}

#filtermenu h4 span {
    margin-right: 5px;
}

li.entity {
 	margin-left: 0;
}

li.entity li {
    margin-left: 25px;
}

div.sort-attr {
    padding-left: 0x;
}

